a,div,span,h1,h2,h3,h4,h5,h5{
   -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;          

}
.grayicons .icon.pin{
    background-position: 0px -600px;
}
.tw-toggle{
    z-index: 10;
}
.workspace-fixed{
    position: fixed !important;
    top:0px;    
    z-index: 1040;         
    margin-top:0px;
}
.workspace .tab-fixed{
    position: fixed;
    top:71px;
    left:20px;
}
.tray-fixed{
    position:fixed;
    top:96px;
}
#container .content{
    min-height: 400px !important;
    margin-bottom: 54px;
}
.step-contents{
    min-height: 200px;
    overflow-y:auto;
    overflow-x:hidden;
    margin:10px auto;
}
.selection-combo{
    clear:both;
    margin-bottom: 10px;
}

.step3 .selection-boxes{
   margin-top: 6px;
}

.selection-combo .subs-dd .btn {
    background: #FCFCFC;
}

.selection-combo .li-icon{
    line-height: 32px;
    display:inline-block;
    padding-left: 37px;
    font-size:16px;
}
.selection-combo .list{
    background:url(../img/list_select.png) no-repeat 0 0 transparent;
}
.selection-combo .filter{
    background:url(../img/filter_select.png) no-repeat 0 0 transparent;
}
ol.progtrckr li{
    padding-top: 22px;
    cursor:pointer;
}
ol.progtrckr li:first-child{
    padding-top: 0px;
    cursor:default;
}

ol.progtrckr li.no-text{
     bottom: -25px;
}
#workspace{
    position: relative;
    top:10px;
}
.bmsgrid .tags{
    margin: 0px;
}
.subs-dd .btn{
    width:280px;
}
.template-container{
    min-height: 139px;
     margin-bottom:5px;    
}
.step2 .templates .template-container{
    border:0px;
}
.step3 .selection-boxes ul{
    margin:0px auto 10px auto;
    width:744px;
    float: none;
}
.step3  .selection-boxes li{
    margin: 15px 12px 30px 0px;
    width:94px;
    height:100px;
}
.step3 .selection-boxes li:last-child{
    margin-right:0px;
}
.list-count{
    float: right;
    margin-top:-22px;    
    margin-right: 5px;
    color: #8A8A8A;
    font-size: 12px;
    fon-weight:700px;
}
.loading{
    z-index: 10002;
}
.loading p{
    z-index: 10003;
}

.template-container{
  background: none;  
  margin-top:9px;
}
.icons-bar{
    right:38px;
}
.col1,.col2{
   width:50%;
   display:inline-block;
   float:left;
}

h2.header-list {
	color: #62646d;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.8;
	margin: 0;
        margin-bottom: 3px;
	padding: 5px 0px 3px 10px;       
        background-color:#fff;
}
/*Search list css*/
h2.header-list .search{
    margin-right: 0px;
    float:right;
    position: relative;
}

h2.header-list .search #list-search{
    width:300px;
    padding:3px 6px;
}
h2.header-list .search .searchbtn{
    height:30px;
    width: 30px;
    margin: 0 0 0 -30px !important; 
}
.remove-search{
    padding:0px !important;
    right:36px !important;    
    position: absolute;    
    top:7px;
    z-index: 2;
    cursor: pointer;
}
.list-action-btn{
    width:10%;  
    float:left;
    position: relative;
}
.list-action-btn .action-btn{
   height: 80px;
   width:83px;
   position: absolute;
   top:50%;
   left:50%;
   margin-top:-2px;
   margin-left:-41px;
}
.list-action-btn .action-btn a{
    float: none;
    display:inline-block;
    width:48px;
    text-align: center;
}
.list-action-btn .action-btn a:last-child{
    margin-top:10px;
}

.bmsgrid .icon{
    margin: 9px 5px 0 15px;
}
.bmsgrid td .action{
    margin:auto 5px;
}
.grayicons .icon.add-list-green{
    background-position: -60px -90px;    
}
.grayicons .icon.add-list-green:hover{
    background-position: -90px -90px;    
}
.grayicons .icon.delete:hover{
    background-position: -60px -660px;    
}
.tooltip-inner{
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin: auto;    
    text-align: center;    
    min-width: 100px;    
    text-rendering: optimizelegibility;
}
ul.toolbar li > div.tooltip,div.tooltip{
    border:1px solid #0096FF;
}
div.tooltip:before{
    border-color: transparent transparent #0096FF;
    right:50%;
    margin-right: -6px;
}
div.tooltip{
    background: none repeat scroll 0 0 #0096FF;
    width: 100px;    
}
div.tooltip.tags-div{
    background: none repeat scroll 0 0 #F6F6F6 !important;
    border:1px solid #7A7A7A !important;
}
.tooltip.bottom{
    padding:2px 0px;
}
.tagscont ul li > div.tooltip{
    display:none;
}
.bmsgrid .btn-red{
    padding:6px;
}
.bmsgrid .btn-green{
    margin-left: 6px;
    display: block;
    margin-top: -6px;
}
.addtag .tagbox{
    z-index: 1000;
}
div.tags-div{
    right: auto;
    top: 30px;
    width: 60px;
    left: 0;
    display:block;
    line-height: 20px;
}
div.tooltip .icon{
    float: right !important;
    margin: 0;
}
.tagbox .btn-gray { float:left !important;  padding: 4px 15px; margin-left:5px;}
div.tags-div:before {
     border-color: transparent transparent #7A7A7A;
    border-style: solid;
    border-width: 6px;
    content: "";
    height: 0;
    position: absolute;
    right:auto;
    left: 10px;
    top: -12px;
}
.c-name{
    width:550px;
}



.tagbox .btn-green { float:left !important;  padding: 4px 15px;margin-left: 5px}
.tagbox:after {
    border-top: 6px solid #0096FF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;    
    position: absolute;    
    border-color: transparent transparent #0096FF;
    border-style: solid;
    border-width: 6px;
    bottom: auto;
    left: 20px;
    top: -12px;
}

.tagbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #0096FF;
    display:none;    
    position: absolute;
    left: 0px;
    top: 95px;
    width:306px;
    height:30px;
    padding:5px;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
    border-radius:3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   z-index: 1000;
}
.tagbox input {
    color: #000000;
    font-size: 14px;
    margin: 0 0 5px;
    padding: 3px 5px;
    width: 150px;
    float:left;
}

.camp_header .tagscont ul{
    float: left;
    position: relative;
    left:0px;
    width: 200px;    
}
.camp_header .tagscont ul.overflow {
    height:auto;
    overflow:visible;    
    background: none repeat scroll 0 0 #f9f9f9;
    border:1px solid #ccc;
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);  
}
.camp_header .tagscont .ellipsis{
    display: none;
}
.camp_header .tagscont .addtag{
    float:none;
    margin-left: 0px;    
    display:inline-block;   
    padding-bottom: 2px;
}
.camp_header .tagscont .tags-contents{
    display:none;    
}
.camp_header .tagscont .ellipsis {    
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-weight: bold;    
    letter-spacing: 2px;
    line-height: 4px;
    padding: 0 3px 7px 4px;
    position: relative;
    top:-10px;
    left:0px;
    cursor:pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px;
}
.tags-buttons{
    display:inline-block;
    top:-3px;
    position:relative;
}
.tags-buttons.overflow{
    position:absolute;
    top:0px;
    margin-left: 2px;
    width:100px;
}
.tag_msg1{
   top:10%;
   position: relative;
}
.subs-dd select{
    padding:6px;
    height:36px;
    margin-bottom:0px;
    width:288px;
    margin-left: 1px;
}
.accordion-inner label{
    width:110px;
}
.accordion-inner .texturl input{
    widt:275px;
}
.accordion-inner .texturl span{
    margin-left: 110px;
}
.accordion-action-btn{
     margin-left: 110px;
     margin-top:7px;
}
.mergefields .search-panel > .searchlist{
    overflow-y: auto;
}

.settings .input-append input:focus,
.settings .input-prepend input:focus,
.settings .input-append select:focus,
.settings .input-prepend select:focus,
.settings .input-append .uneditable-input:focus,
.settings .input-prepend .uneditable-input:focus {
  z-index: 0;
}

ol.progtrckr li.incomplete:after{
    top:0px;
}
.settings .adv_dd input[type="text"].form-error{
    border-color:red;
}

.accordion-toggle input[type='checkbox']{
    margin-top:0px;
    margin-left:8px;
}
.settings .adv_dd input[type="text"].textfield{
    background-color:#fff;
    border:1px solid transparent;
    box-shadow:none;
    cursor: default;
}
.global_message{
    position: fixed;
    top:-1px;
    left:50%;
    color:#fff;
    display: none;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    background: none repeat scroll 0 0 #94CF1E;
    border: 1px solid #80c000;
    min-width: 100px;
    padding:10px 10px;
    z-index: 10000;
    -webkit-border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	border-radius:  0px 0px 6px 6px;
}
.camp_header{
    position: relative;
}
.c-name h2 a.delete {
    float: left;
    font-size:20px;
    margin: 3px 3px 0 5px !important;    
}
.c-name h2 a.edit:hover{
    background-position: -360px -330px;
 }
.c-name h2 a.preview { 
    float:left; 
    margin:3px 0px 0 5px !important;
    background-position: 0px -300px !important;
}
.c-name h2 a.preview:hover {      
       background-position: -58px -300px !important;
}    
.c-name .edited{
    padding-bottom: 5px;
}
.tagscont ul li > a{
    
}
.mergefields .searchfields .searchlist li div{
    display:inline-block;
}
.highlighted{
    font-weight: bold;
    color:#fff;
    background-color:#0096FF;
}
.overlay .tag_msg1{
    top:20%;
}
.campaign-content{
    position: relative;
}

.step2 .dropdown-menu{
    left:-4px;
}
.step2 .sort-options .dropdown-menu:after{
    left:141px;
}
.sort-options .search-panel .searchlist{
    overflow:auto;
}
.step2 .dropdown-toggle .caret{    
    margin-right: 5px;
}
.step2 .dropdown-menu > li > label input[type="checkbox"]{
    left:5px;    
}
.step2 .dropdown-menu > li > label{
    padding-left: 25px;
}

.temp-style .dropdown-menu > .active > a,
.temp-style .dropdown-menu > .active > a:hover,
.temp-style .dropdown-menu > .active > a:focus{
    background:none;
}

.no-templates{
    font-size: 16px;
    color:#8A8A8A;
    widt:100px;
    position: absolute;
    top:60px;
    left:50%;
    font-style: italic;
    margin-left:-100px;
    display: none;
}

input[type="text"].search-template{
    padding-left:30px;     
}
.search-template-div{
    position: relative;
}

.search-template-div .search-template-icon{
    background: url("../img/icon-map.png") no-repeat scroll 0 0 transparent;
    background-position: -330px -240px;
    width:30px;
    height:30px;
    position: absolute;
    top:4px;
    left:1px;
    z-index: 5;
}

.search .close-icon{
    position: absolute;
    right: 54px;
    top: 20px;
}


.dropdown-toggle .search-text {
    width:130px;
    overflow:hidden;
    display:inline-block;
    margin-top:5px;
    line-height: 20px;
    height: 20px;
    white-space: nowrap;
}
.step2 .sort-options .dropdown-menu{
    width:169px;
}
.step2 .sort-options .dropdown-menu > ul{
    border:0px;
}
.step2 .template-filter{
    display:inline-block;
    padding-top:3px;
}
.step2 .template-filter .breadcrumb{
    background:none;
    border:0px;
    padding:0px;
    display:inline-block;
    padding:5px;
    margin-bottom: 0px;
}

.step2 .template-filter .breadcrumb li.active a,.step2 .template-filter .breadcrumb li.active a:hover{
    color:#888;
    text-decoration: none;
}

.thumbnail:hover{
  border-color: #51b0e7;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: 0 1px 2px rgba(82, 168, 236, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: 0 1px 2px rgba(82, 168, 236, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: 0 1px 2px rgba(82, 168, 236, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.thumbnails{
    margin-top:5px;
    margin-left:5px !important;
}
.temp-filters > h2{
    margin-left: 5px;
}

.thumbnail .caption h3 a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}


.btm-bar .mail,.btm-bar .view{
    cursor: pointer;
}
.template-container .scroll-content{
    height: auto !important;
}
.footer-loading{
  position: relative;  
}
.footer-loading hr {
    background-color: #888;
    color: #888;
    display: inline-block;
    width: 100%;
}
.footer-loading  .gridLoading {
    background:#fff;
    display: inline-block;
    left: 50%;
    margin-left: -24.5px;
    padding: 20px 10px;
    position: absolute;
    text-align: center;
    top: -11.5px;
    width: 29px;
}
.footer-loading .gridLoading .gridFooterSpinner {
    background-image: url("../img/spinner-medium.gif");    
    height: 32px;
    opacity: 0.5;
    vertical-align: middle;
    width: 32px;
    display: block;
}


.template-type{
    display: block;
    height: 30px;
    position: absolute;
    cursor:pointer;
    left: 10px;
    top: 10px;
    width: 30px;
    z-index: 99;
}
.customicon {    background: url("../img/customicon.png") no-repeat scroll 0 0 transparent;}
.builticon {    background: url("../img/builtinicon.png") no-repeat scroll 0 0 transparent;
    
}

.btm-bar .temp2,.btm-bar .temp3,.btm-bar .temp4,.btm-bar .temp5,.btm-bar .temp6,.btm-bar .temp7,.btm-bar .temp8,.btm-bar .temp9  {
	float: right;
	margin: -3px -7px -5px 5px;
}
.content-inner {
    min-height: 200px !important;
    position: relative;
}

.camp_header h2 a.icon,.camp_header #more-tool-actions,.camp_header a.icon.more{
    display: none !important;
}
.camp_header:hover h2 a.icon,.camp_header:hover #more-tool-actions,.camp_header:hover a.icon.more{
    display: inline-block  !important;
}
.heighted-header .c-name h2{
    margin-top: 0px;
}
.c-name h2{
    font-size:20px;
}

.fullwindow {
    margin:0x;
    position: fixed !important;
    z-index: 10000;
    top:111px;
    left:0px;
    display: none;
    padding: 15px 15px 0;
}

.fullwindow{
	min-height:380px;
	background:#fff;
	min-width: 850px;
	padding: 15px;
	position:relative;
	-webkit-border-radius: 3px 3px 3px;
	-moz-border-radius:3px 3px 3px;
	border-radius: 3px 3px 3px;
	border: 1px solid #DDDDDD;
}

.fullwindow:before {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 3px 3px;
    bottom: -5px;
    content: "";
    height: 3px;
    left: -1px;
    position: absolute;
    width: 100%;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius: 0 0 3px 3px;}
	
.fullwindow:after { background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 3px 3px;
    bottom: -9px;
    content: "";
    height: 3px;
    left: -1px;
    position: absolute;
    width: 100%;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius: 0 0 3px 3px; 
}

.workspace-fixed-editor {
    left: 0px;
    margin-top: 0;
    position: fixed !important;
    top: 41px;
    width:100% !important;
    z-index: 10001;
}

.mergefields_editor{
    z-index: 10004;
}
.mergefields_editor:after{
    right:146px;
}
.saving {
    background: url("../img/greenloader.gif") no-repeat scroll center center #94CF1E;
    font-size: 0;
    line-height: 0;
    min-height: 20px;
    text-indent: -999em;
    min-width: 30px;
}
.c-name .edited .btn-green,.c-name .edited .btn-gray {
    padding: 5px 10px;
    position: absolute;    
}
.c-name .edited .btn-green{
    right:20px;
    min-width: 43px;
}
.c-name .edited .btn-gray {
    right: -45px;
}
.c-name input{
    width:420px;
}
.accrodion-checkbox{
    margin-top:-2px !important;
    margin-left: 5px !important;
}