h2.header-list {
    padding: 5px 1px 3px 10px;
	margin-top:20px;
}
h2.header-list span#targettitle {
	background-color: #FFFFFF;
    color: #6494AF;
    font-size: 15px;
    font-weight: bold;
	float:left;    
}
#campaigns_list h2.header-list, #area_copy_campaign h2.header-list { padding-left:0; text-align:right; }
#campaigns_list h2.header-list .search { float:none; }
.notfound
{
	font-size:17px;
	font-weight:normal;
	margin:10px 0 0 20px;
}

.search .close-icon {    
    right: 43px;
    top: 10px;
}

.highlight { 
    background-color: #0088CC !important;
    color: #FFFFFF !important;
    float: none !important;
    font-weight: bold !important;
    padding: 0 !important;
    width: auto !important;
    margin:0px !important;
}
.step-contents { overflow-y:inherit; overflow-x:inherit; }
 input[type=text].search-control { padding:5px 6px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; }
 #listssearch,#targetsearch { margin-right:5px; }
.bmsgrid .time span.highlight { background:none; }
.unique_rec {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F6F6F6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #E5E5E5;
    bottom: 0;
    color: #666666;
    display: block;
    left: 0;
    padding: 2%;
    position: absolute;
    width: 96%;
}
h2.header-list span.recpscount {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #E5E5E5;
    border-radius: 30px 30px 30px 30px;
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    padding: 0 14px;
	color: #888888;
}
#salesforce_campaigns .chosen-container .chosen-drop {  }
.bmsgrid td .action { margin:auto 0px; }
.bmsgrid div.bDiv { /*min-height:290px;*/ }
.bmsgrid div.bDiv table { margin-bottom:15px; }
h2.header-list > span { margin-left:0; /*font-weight:bold;*/ font-size:15px; color:#62646D; float:left; display:block;/* margin-top:5px;*/ }
#area_choose_lists, #area_choose_targets { position:relative; min-height:200px; }
.SI-FILES-STYLIZED label.cabinet {
    cursor: pointer;
    display: block;
    height: 70px;
	line-height:30px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 64px;	
	margin:0;
	padding:0;
	opacity:0;
}
.SI-FILES-STYLIZED label.cabinet:hover { background:#e9ebee;
	color:#7a7a7a; 
	border: 1px solid #BCBCBC;
	opacity:0;
	}
.SI-FILES-STYLIZED label.cabinet input.file {
    cursor: pointer;
    height: 70px;
    opacity: 0;
    position: relative;
    width: auto;
    z-index: 1000;
}
.btns1 { float:right; }
.btns1 a { margin-left:10px; }
#dropped-files {
    color: #BD362F;
    font-size: 20px;
    text-align: center;
}
#dropped-files {
    color: #BD362F;
    font-size: 20px;
    text-align: center;
}
#dropped-files .filename {
    color: #DDDDDD;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
}
#dropped-files .image {
    height: 128px;
    margin: 0 auto 30px;
    width: 128px;
}
#remove-file-upload { margin:auto; }
.csvupload { position:absolute; right:10px; bottom:10px; }
.tabel-div { overflow-y: auto; min-height:380px; border:0; border-radius:0; z-index:0; }
.tabel-div table { border-spacing: 0 2px; margin-bottom:10px; }
.tabel-div .table th { border-bottom:0; }
.imgLoading {
    background-color: #AEADAD;
    color: #FFFFFF;
    font-size: 12pt;
    height: 100%;
    left: 0;
    opacity: 0.6;
    padding: 10px;
    position: absolute;
    text-align: center !important;
    top: 30px;
    vertical-align: middle !important;
    width: 100%;
}
.centerpics {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12pt;
    height: 20px;
    left: 45%;
    margin-left: -100px;
    margin-top: -10px;
    opacity: 1;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 270px;
}
.template-container
{
	clear:both;
	min-height:290px;
}
#campaigns_list .template-container { margin-top:0; }
.tabel-div .table tbody tr td { border:0; overflow:visible; }
.tabel-div .table tbody tr:hover td { border:0 !important; }
.tabel-div .table thead { border-collapse: separate; }
.cont-box input[type="password"] {
    float: right;
    font-size: 12px;
    margin: 0;
    width: 70%;
}
.cont-box .saving
{
	display:block;
	float:right;
	position:relative;
	right:125px;
	top:-6px;
	width:25px;
	height:17px;
	min-width:inherit;
	min-height:inherit;
}
.notfound
{
	text-align:center; margin-top:50px; font-style:italic;
}
.settings .cont { position:relative; }
.addrow label { width:25%; }
div.tooltip.right { right:auto; width:auto; top:inherit; margin-left: 5px;
    margin-top: 3px;
    padding: 0 5px; }
#mapdata div.tooltip.right { margin-top:10px; }
.tooltip.right .tooltip-arrow {
    border-right-color: #495b67;
    border-width: 4px 4px 4px 0;
    left: -5px;
    margin-top: -4px;
    top: 50%;
}
.tooltip.right:before { display:none; }
div.tooltip.right .tooltip-inner { border-radius:6px; }
.popover-title { display: none; }
.popover-content {
    color: #FFFFFF;
    margin-top: 1px;
    padding: 0px;
	font-size:12px;
	line-height:1.2em;
}
.popover-content:before { background:url("../img/caution.png") no-repeat scroll 0 0 #F57070; border-radius: 2px;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
    z-index: 1000; }
.popover-content p { color:#fff; font-size:12px; margin:0; font-weight:bold; padding:0 10px 0 28px; }
.popover { background-color: #FB8080;
    border: 0 none;
    border-radius: 2px 2px 0 0;
    box-shadow: none;
    font-size: 12px;
    height: 18px;
    margin-top: 0; }
.popover.right .arrow:after { border-right-color: #ff0000; left:-8px; border-width:8px; margin-top:-8px; }
.popover.right .arrow { border-right: 0; left:-8px; margin-top:-13px; }
.popover.left .arrow { border:0; }
.popover .arrow, .popover .arrow:after { border:0; }
.popover.left { margin-left:17px; }
#mapdata #email_erroricon { float:left; }
.icon.copy {   background: url("../img/copy24.png") no-repeat center center; float:left; margin:0px 0px 0 5px !important; }
#area_choose_tags h2.header-list { margin-top:0; padding:5px 0; }
.tagslist ul li > .btn-red span {	
	padding:0 5px 0 10px;
}
.temp-filters { padding:7px 0; }
.tagslist { width:100%; }
#camps_grid .tagscont,
#camps_grid .tagscont ul,
#copy-camp-listing .tagscont,
#copy-camp-listing .tagscont ul
{
	width:inherit;
	max-width:inherit;
}
.mergefields h2 { line-height:2.7em; }
.mergefields h2 > .search { height:37px; }
.mergefields h2 > .search input[type="text"] { padding-left:45px; width:100px; height:31px; padding-right:55px; }
.mergefields h2 > .search .searchbtn { width:35px; height:35px; margin-top:-5px !important; }
.adv_dd .btn-group, .mergefields .btn-group { top:2px; }
#existing_lists_chosen { margin-left:5px; /*margin-top:2px;*/ }
.row { position:relative; }
.subs-dd { position:relative; }
.exist-new .noti { width:24px; height:24px; }
.subs-dd .erroricon { top:-18px; }
.mergefields h2 > .search { width:inherit; }
.search > .icon { left:2px; }
.mergefields h2 > .search .close-icon { right:38px; top:11px; }
.chosen-container-single .chosen-single span { color:#495A63; opacity:1; }
.bmsgrid div.bDiv tr .action a.move-row { margin-right:0; }
#fromemail_default_chosen { float:right; text-align:left; }
#campaign_from_email_chosen { /*margin-left:-4px;*/ width:335px; text-align:left; float:right; }
#campaign_from_email_btn
{
	background: none repeat scroll 0 0 #F8FDFF;
    display: block;
    height: 35px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 35px;
	float:left;
	display:none;
	cursor:pointer;
}
#campaign_from_email_btn b
{
	background: url("../img/arrow-up-down.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 6px;
    margin: 16px auto 0;
    width: 9px;
	display:block;
}
#salesforce_setup .iconpointy { top:2px; }
#fetable { width:100%; display:table; }
.fecols { display:table-cell; }
#fecol1 { width:auto; }
#fecol2 { width:35px; }
#fecol3 { width:65px; }
.settings .adv_dd input[type="text"] { width:92%; }
#fecol1 .chosen-container-single .chosen-single { float:right; }
.addnew_btn > a:after {
    border-color: rgba(255, 255, 255, 0) #94CF1E rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 3px;
    bottom: auto;
    content: "";
    display: inline-block;
    left: -4px;
    position: absolute;
    top: 6px;
}
.addnew_btn > a {
    background: none repeat scroll 0 0 #94CF1E;
    border: 0 none;
    border-radius: 1px;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 1px 4px;
    text-shadow: none;
}
.addnew_btn > a strong { font-size:0px; font-weight:bold; position:relative; background:url("../img/plus.png") no-repeat scroll center center rgba(0, 0, 0, 0); width:12px; height:16px; display:block; }
.chosen-search #searchbtn { width:30px; height:32px; margin-left:-31px; }
.chosen-search .searchbtn .icon-search { margin-top:-3px; }
.chosen-container .chosen-results { max-height:230px; }
#salesforce_setup .heading,#netsuite_setup .heading  { color:#6494AF; }
.global_messages{
    position: fixed;
    top:-1px;
    left:50%;
    display: none;
	z-index:10000;
	margin-top:0;
}
/*a.notEditable, a.notEditable:focus, a.notEditable:hover, a.notEditable:active { cursor:default; }*/
.tagslist ul li.inactive > a span:hover,.tagslist ul li.inactive > a:hover { background-color:#fff; color:#6494AF; cursor:default; }
.tagslist ul li.inactive > a .badge, .tagslist ul li.inactive > a .badge:hover { background-color:#ddd; color:#aaa; cursor:default; }
.header-icon .dlgpreview { background-position:39% -301px; height:33px; }
.inputcont .errortext em {    
	margin-top:1px;
	color:#fff;
}
.inputcont .errortext:hover em { display:block !important;}
.settings .pspa-text { width:95.3%; }

#campaigns_list .temp-filters > h2 {   
    margin: 0;
}
.campaign_stats .report {
    height: 20px;
    margin: 0;
    width: 20px;
}
.ui-daterangepickercontain {
    background-color: #FFFFFF;
}
.camp_listing .bmsgrid div.bDiv tr .action {
    margin-top: -17px;
    top: 50%;
    width: 550px;
}
.since .calendericon { cursor:pointer; }
.btn-cancel { margin-left:5px; }
.copy_campbox img {
    height: inherit;
}
#area_html_code .row { margin-left:0; }
.bmsgrid .bDiv tr td:last-child div { min-height:inherit; }
#area_choose_tags .tagsbox { background-color:#EAF4F9; }
.drop-files .btn-gray { width:inherit; }
.tabel-div .bmsgrid div.hDiv th, .tabel-div .bmsgrid div.bDiv td { overflow:visible; }
.exist-new .emailinput { /*padding:4px 6px;*/ margin:0px 0px 0 5px; }
.filter-row .filter-cont { min-height:40px; }
.iconpointy a.icon {
    background-color: #91ABBC;
}
#netsuite_setup .ui-accordion .ui-accordion-header .search,
#salesforce_setup .ui-accordion .ui-accordion-header .search
 { margin:3px 0 0 10px; }
 
.netsuite_campaigns .filterbtn,
.salesforce_campaigns .filterbtn
{ float:right; }

#mapdata .inputcont { /*line-height:36px;*/ }
.ui-accordion .ui-accordion-header .icon.subscribers {
   background: url("../img/subscribers.png") no-repeat center center;
   float:left;
   margin:7px 4px 4px 15px;
   border-radius:0;
}
.temp-filters > h2,.h2-count {
    color: #748592;
    float: left;
    font-size: 13px;
    font-weight: normal;
    line-height: 42px;
    margin: 0;
}
.dropdown-toggle {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    border: 2px solid #EAF4F9;
    border-radius: 2px !important;
    color: #495A63;
    display: block;
    font-size: 13px !important;
    line-height: 25px;
    padding: 5px 10px;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
}
#area_html_code .dropdown-toggle:active, 
#area_html_code .dropdown-toggle:focus, 
.fullwindow .dropdown-toggle:active,
.fullwindow .dropdown-toggle:focus
{ color:#495A63; border:2px solid #EAF4F9; box-shadow:none; }
#area_html_code .dropdown-toggle:hover { /*background:none;*/ }
#area_html_code .btn:focus, 
#area_html_code .btn:active,
.fullwindow .btn:focus, 
.fullwindow .btn:active 
{ border:0; }
#area_html_code .temp-filters .adv_dd,
.fullwindow .temp-filters .adv_dd
{ margin-top:2px; }
.fullwindow .temp-filters .adv_dd { width:327px; }
.fullwindow .temp-filters .mergeinput { width:300px; }
a#drop4 { background-color:#fff; }
ul.c-current-status li .badge { cursor:pointer; }
.chosen-container .chosen-results li { padding:5px 10px; }
.chosen-container .chosen-results li.result-selected:after { width:30px; }
.copy_campbox .tagscont ul li > a { padding:0 10px; }
.modal-header h2 { margin-left:0; }
.messagebox a.closebtn { opacity:1; }
.messagebox a.closebtn:hover { /*opacity:1;*/ }
#newlist { padding-left:8px; }
/*#salesforce-camp-search .icon,#netsuite-group-search .icon { top:5px; }*/
#salesforce_setup .iconpointy .pointy, #netsuite_setup .iconpointy .pointy { margin-top:6px; float:right; }
#netsuite_setup .iconpointy{ top:2px; }
.chosen-container .chosen-results li.group-result { background-color:#fff; }
.messagebox.delete { padding:20px; margin-top:50px; background:#fff; width:440px; }
.messagebox .btns {
    height: 35px;
    margin: 15px 0 0;
}
.tagbox { border:0; box-shadow:0 4px 5px rgba(0, 0, 0, 0.25); width:367px; }
.tagbox:after { border-color:rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFFFFF; }
.tagbox input {width:152px; }
.tagbox .btn-green { margin-left:5px; }
#clearcal { position:absolute; right:61px; top:10px; display:none; }
.since > input{ padding-right:80px; width:145px; }
.c-name h2 i.target_headicon { background:url("../img/icon-map.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); background-position:-90px -690px !important; display:block; width:30px; height:30px; margin:10px 0 0 3px !important; }
.new_headicon { background:url("../img/icon-map.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); background-position:-90px -690px !important; display:block; width:30px; height:30px; }
#uploadslist .iconpointy { float:none; }

.editor_box { min-height:350px; }
.ed_mergefields .adv_dd .btn-group, .ed_mergefields .mergefields .btn-group
{
	right:0px;
	top:4px;
}
