h2.header-list {
    padding: 5px 1px 3px 10px;
	margin-top:20px;
}

#campaigns_list h2.header-list, #area_copy_campaign h2.header-list { padding-left:0; text-align:right; }
#campaigns_list h2.header-list .search { float:none; }

.notfound
{
	font-size:17px;
	font-weight:normal;
	margin:10px 0 0 20px;
}

.search .close-icon {    
    right: 38px;
    top: 8px;
}
.highlight { 
    background-color: #0088CC !important;
    color: #FFFFFF !important;
    float: none !important;
    font-weight: bold !important;
    padding: 0 !important;
    width: auto !important;
    margin:0px !important;
}
.c-name h2 { margin-top:9px; }
.step-contents { overflow-y:inherit; overflow-x:inherit; }
 input[type=text].search-control { padding:5px 6px; }
 #listssearch,#targetsearch { margin-right:5px; }
.bmsgrid .time span.highlight { background:none; }
.unique_rec {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F6F6F6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #E5E5E5;
    bottom: 0;
    color: #666666;
    display: block;
    left: 0;
    padding: 2%;
    position: absolute;
    width: 96%;
}
h2.header-list span.recpscount {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #E5E5E5;
    border-radius: 30px 30px 30px 30px;
    float: right;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    padding: 0 14px;
	color: #888888;
}
#targets_grid .subscribers, #target_grid_recipients .subscribers { margin:13px 0px 13px 150px; }
#area_choose_targets .col2 .subscribers { margin-left:150px; }
#area_choose_targets .col2 table { width:100%; }
#list_grid_recipients .action, #target-lists .action { right:10px; top:-1px; }
#targets_grid .action, #target_grid_recipients .action { right:10px; }
#targets_grid .action .btn-green { float:left; margin-left:10px; }
#targets_grid .action .use { /*margin-left:0;*/ }
#salesforce_campaigns .chosen-container .chosen-drop {  }

.bmsgrid td .action { margin:auto 0px; }
.bmsgrid div.bDiv { min-height:290px; }
.bmsgrid div.bDiv table { margin-bottom:0; min-height:290px; }
h2.header-list > span { margin-left:0; font-weight:bold; font-size:15px; color:#62646D; float:left; display:block;/* margin-top:5px;*/ }
#targets_grid .action, #target_grid_recipients .action { margin-top:-33px; top:auto; }
#area_choose_lists, #area_choose_targets { position:relative; min-height:200px; }
.SI-FILES-STYLIZED label.cabinet {
    cursor: pointer;
    display: block;
    height: 30px;
	line-height:30px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 64px;	
	margin:0;
	padding:0;
	opacity:0;
}
.SI-FILES-STYLIZED label.cabinet:hover { background:#e9ebee;
	color:#7a7a7a; 
	border: 1px solid #BCBCBC;
	opacity:0;
	}
.SI-FILES-STYLIZED label.cabinet input.file {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: relative;
    width: auto;
    z-index: 1000;
}
#list_file_upload
{
	background: none repeat scroll 0 0 #DCDEE1;
    border: 1px solid #BCBCBC;
    border-radius: 2px;
    color: #7A7A7A;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 5px;
    text-shadow: 0 1px 0 #F0F1F2;
	width:195px;
	height:30px;
}
#list_file_upload:hover { background:#e9ebee;
	color:#7a7a7a; }
.drop-files .fubackbtn { width:auto; }
.campaign-content .btns { margin-top:20px; }
.btns1 { float:right; }
.btns1 a { margin-left:10px; }
#dropped-files {
    color: #BD362F;
    font-size: 20px;
    text-align: center;
}
#dropped-files {
    color: #BD362F;
    font-size: 20px;
    text-align: center;
}
.drop-files
{
	position:relative;
	padding-bottom:50px;
	/*text-align:center;*/
	margin:0 auto 15px;
}
#dropped-files .filename {
    color: #DDDDDD;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
}
#dropped-files .image {
    height: 128px;
    margin: 0 auto 30px;
    width: 128px;
}
#remove-file-upload { margin:auto; }
.csvupload { position:absolute; right:10px; bottom:10px; }
.tabel-div { overflow:inherit; }
.imgLoading {
    background-color: #AEADAD;
    color: #FFFFFF;
    font-size: 12pt;
    height: 100%;
    left: 0;
    opacity: 0.6;
    padding: 10px;
    position: absolute;
    text-align: center !important;
    top: 30px;
    vertical-align: middle !important;
    width: 100%;
}
.centerpics {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12pt;
    height: 20px;
    left: 45%;
    margin-left: -100px;
    margin-top: -10px;
    opacity: 1;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 270px;
}
.template-container
{
	clear:both;
	min-height:290px;
}
#campaigns_list .template-container { margin-top:0; }
.tabel-div .table tbody tr td { padding:5px; }
.tabel-div .table thead { border-collapse: separate; }
.cont-box input[type="password"] {
    float: right;
    font-size: 12px;
    margin: 0;
    width: 70%;
}
.cont-box .saving
{
	display:block;
	float:right;
	position:relative;
	right:125px;
	top:-6px;
	width:25px;
	height:17px;
	min-width:inherit;
	min-height:inherit;
}
.notfound
{
	text-align:center; margin-top:50px; font-style:italic;
}
.settings .cont { position:relative; }
.erroricon { float:right; display:none; margin-top:6px; 
background:url(../img/error-icon.png) no-repeat 0 0;
	width:20px;
	height:20px;	
}
.addrow label { width:25%; }
#replyto_erroricon { position:absolute; right:0px; top:0; }
div.tooltip.right { right:auto; width:auto; top:inherit; margin-left: 5px;
    margin-top: 19px;
    padding: 0 5px; }
#mapdata div.tooltip.right { margin-top:10px; }
.tooltip.right .tooltip-arrow {
    border-right-color: #FF0000;
    border-width: 6px 6px 6px 0;
    left: -7px;
    margin-top: -6px;
    top: 50%;
}
.tooltip.right  { background-color:#ff0000; border-color:#ff0000; }
.tooltip.right:before { display:none; }
div.tooltip.right .tooltip-inner { padding:5px; border-radius:6px; }
.popover-title { display: none; }
.popover-content {
    color: #FFFFFF;
    margin-top: 5px;
    padding: 5px 14px 0px;
}
.popover-content p { color:#fff; }
.popover { background-color:#ff0000; box-shadow:none; margin-top:0px; border-radius:3px; }
.popover.right .arrow:after { border-right-color: #ff0000; left:-8px; border-width:8px; margin-top:-8px; }
.popover.right .arrow { border-right: 0; left:-8px; margin-top:-13px; }
#mapdata #email_erroricon { float:left; }