<% if(layout=='') { %>
<div style=" min-height:365px;"  class="clearfix template-container gray-panel">
    <div class="cont-box" style="margin-top:10px; top:-3%;left:57%;">
        <div class="row uid-container">
            <label>Account</label>
            <div class="inputcont">      	
                <input type="text" name="hrAccount" id="hrAccount" placeholder="Enter Highrise Account">
            </div>
            <!--<span id="nsuid_erroricon" class="erroricon"></span>-->
        </div>
        
        <div class="row accid-container">
            <label> Api Token</label>
            <div class="inputcont">      	
                <input type="text" name="hrApiToken" id="hrApiToken" placeholder="Enter Highrise api token">
            </div>
            <!--<span id="nsaccid_erroricon" class="erroricon"></span>-->
        </div>
        <h5>Send synchronization confirmation email to:</h5>
        <div class="row email-container">
            <label>Email</label>
            <div class="inputcont">      	
                <input type="text" name="hrEmail" id="hrEmail" placeholder="example@makesbridge.com">
            </div>
            <!--<span id="nsemail_erroricon" class="erroricon"></span>-->
        </div>
        <div class="row btnrow login-saving"><a id="btnTestLogin" class="btn-gray"><span>Test</span></a><a id="btnSaveLogin" class="btn-green btnSaveLogin"><span>Save</span><i class="icon save"></i></a></div>
        <div class="clearfix"></div>
    </div>
</div>
<% } else { %>

<div style=" position:static; margin:0;" class="cont-box row-fluid ">
    <div class="span6">
        <div class="row uid-container">
            <label> Account</label>
            <div class="input-append adv_dd sort-options">
                <div class="inputcont ">
                    <input type="text" class="header-info textfield"  name="hrAccount" id="hrAccount" placeholder="Enter Highrise account" >
                </div>
            </div>

        </div>
        
        <div class="row accid-container">
            <label>Api Token</label>
            <div class="input-append adv_dd sort-options">
                <div class="inputcont ">
                    <input type="text" class="header-info textfield" name="hrApiToken" id="hrApiToken"  >
                </div>
            </div> 
        </div>
        <div class="row btnrow login-saving"><a class="btn-green right btnSaveLogin"><span>Save</span><i class="icon save"></i></a> <a class="btn-blue right" id="btnTestLogin"><span>Test</span></a></div>
    </div>
    <div class="span6">
        <h5>Send synchronization confirmation email to:</h5>
        <div class="row email-container">
            <label>Email</label>
            <div class="input-append adv_dd sort-options">
                <div class="inputcont ">
                    <input type="text" name="hrEmail" id="hrEmail" class="header-info textfield"  placeholder="Enter email to send confirmation">
                </div>
            </div>

        </div>
        <div class="row btnrow login-saving"><a class="btn-green right setEmail"><span>Save</span><i class="icon save"></i></a></div>
    </div>
    <div class="clearfix"></div>
</div>

<% } %>