<td width="90px">
    <div class="img">
        <%=this.getAutobotImage()%>
    </div>
</td>
<td width="100%"><div>
        <div class="name-type">
            <h3> <a class="edit-autobot showtooltip" data-original-title="Click to view"  data-id="<%=this.model.get('botId.encode')%>"><%=this.model.get('label')%></a><%=this.getStatus()%> 
                <%=this.isRecurring()%>
            </h3>
            <div class="tags tagscont">
                <ul>
                    <% _.each(this.getTags(),function(t){ %>  
                    <li><a  class="tag showtooltip" data-original-title="Click to view similar bots"><%- t %></a>  </li>
                    <% })%>
                </ul>
            </div>
        </div>
    </div>
</td>
<td width="90px"><div>
        <div class="subscribers"> <strong><span><em>Sent</em>
                  <%if(this.model.get('sentCount') == "0"){%>
                   <%=this.options.app.addCommas(this.model.get('sentCount'))%> 
                  <%}else{%>
                   <a class="show-sent-views showtooltip" data-original-title="Click to view contacts"><%=this.options.app.addCommas(this.model.get('sentCount'))%></a>
                     
                  <%}%>
                </span></strong> </div>
    </div>
</td>
<td width="90px"><div>
        <div class="subscribers"> <strong><span><em>Pending</em>
                     <%if(this.model.get('pendingCount') == "0"){%>
                     <%=this.options.app.addCommas(this.model.get('pendingCount'))%> 
                  <%}else{%>
                  <a class="show-pending-views" showtooltip" data-original-title="Click to view contacts"><%=this.options.app.addCommas(this.model.get('pendingCount'))%></a>
                     
                  <%}%>
                   
                </span></strong> </div>
    </div>
</td>
<td width="132px">
    <div>
        <%if(this.model.get('actionType') == "E"){
             if(this.model.get('status') == "D"){
                var btns = "five";
             }else{
                var btns = "three";
             }
        }else{
            if(this.model.get('status') == "D"){
                var btns = "four";
             }else{
                var btns = "two";
             }
        }
        %>
        <div style="width:105px" class="time"> <strong><span><%=this.getPlayedOn()%></strong> </div>
        <div style="width:;" class="slide-btns s-clr5 <%=btns%>"> <span class="icon setting"></span>
            <div> 
                <%if(this.model.get('status') == "D"){%>
                <a class="icon play s-clr5" data-id="<%=this.model.get('botId.encode')%>"><span>Play</span></a>
                <a class="icon edit s-clr4 edit-autobot" data-id="<%=this.model.get('botId.encode')%>"><span>Edit</span></a>
                <%}else{%>
                <a class="icon pause s-clr4" data-id="<%=this.model.get('botId.encode')%>"><span>Pause</span></a>
                <%}%>
                 <a class="icon copy s-clr3" data-id="<%=this.model.get('botId.encode')%>"><span>Copy</span></a>  
                 <%if(this.model.get('actionType') == "E"){%>
                        <a class="icon preview s-clr2"><span>Preview</span></a> 
                 <%}%>
                <%if(this.model.get('status') == "D"){%>
                <a class="icon delete s-clr1" data-id="<%=this.model.get('botId.encode')%>"><span>Delete</span></a> </div>
            <%}%>
        </div>
    </div>
</td>
