<div class="thumbnail" style="overflow:visible; ">
    <div title="" class="template-type showtooltip"></div>
    <div class="img">
        
        <div>
            <%if(this.model.get('actionType') == "E"){
                var width_pause = "width:25%";
                var width_playing = "width:33.3%"
            }else{
                var width_pause = "width:25%";
                var width_playing = "width:50%"
            }%>
            <%if(this.model.get('status') == "D"){%>
               <%if(this.model.get('actionType') == "E"){%>
                 <a class="previewbtn s-clr2" style="width:100%; margin-bottom:1px" data-id="<%=this.model.get('botId.encode')%>">
                        <span>Preview</span>
                  </a>
                    <a class="playbtn s-clr5" style="<%=width_pause%>"><span>Play</span></a> 
                 <%}else{%>
                    <a id="" class="playbtn s-clr4" data-id="<%=this.model.get('botId.encode')%>" style="<%=width_pause%>"><span>Play</span></a>
                 <%}%>
                  
            <a class="editbtn s-clr3 edit-autobot" data-id="<%=this.model.get('botId.encode')%>" style="<%=width_pause%>" ><span>Edit</span></a> 
                   <a id="" class="copybtn s-clr2" data-id="<%=this.model.get('botId.encode')%>" style="<%=width_pause%>"><span>Copy</span></a>
            <%}else{%>
                <a id="" class="pausebtn s-clr4" data-id="<%=this.model.get('botId.encode')%>" style="<%=width_playing%>"><span>Pause</span></a>
                 <%if(this.model.get('actionType') == "E"){%>
                      <a class="previewbtn s-clr3" style="<%=width_playing%>"><span>Preview</span></a> 
                 <%}%>
                 <a id="" class="copybtn s-clr2" data-id="<%=this.model.get('botId.encode')%>" style="<%=width_playing%>"><span>Copy</span></a>
           <%}%>
          
            <%if(this.model.get('status') == "D"){%>
            <a id="" class="deletebtn s-clr1" data-id="<%=this.model.get('botId.encode')%>" style="<%=width_pause%>"><span>Delete</span></a>
            <%}%>    
        </div>
        <%=this.getAutobotImage()%>  </div>
    <div class="caption">
        <h3><a class="left edit-autobot showtooltip" data-original-title="Click to view"  style="width:initial!important;" data-id="<%=this.model.get('botId.encode')%>"><%=this.model.get('label')%></a>
            
      
        </h3>
          <%=this.getStatus()%>
          <%=this.isRecurring()%>
        <div class="t-scroll" style="padding:0 0;margin: 0 0 5px;">
            <p>

                <% _.each(this.getTags(),function(t){ %>  
                <a  class="tag showtooltip" data-original-title="Click to view similar bots"><%- t %></a> 
                <% })%>

            </p>
        </div>
      
       <div class="btm-bar">
             <div class="percent_stats" style="position:absolute;">
            <span><span data-original-title="Click to view stats" style="cursor: pointer;" class="icon percent showtooltip"></span>

                   </span>
            </div>
        

        <span><span class="icon time"></span><%=this.getDate()%></span>
    </div>
    </div>
</div>
