<em class="date"><%=this.getDate()%></em>
<h3 style="<%=this.getStyleRead()%> ; cursor: pointer;" data-original-title="Click to expand and mark read" 
    class="showtooltip">
    <%=this.getHeader()%>
</h3> 

<div class="info-p">
    <div class="infotxt">
        <%=this.getLabelText()%>
    </div> <!--  infotxt  -->
    <div class="infotxt">
        <%=this.getSentText()%>
    </div> <!--  infotxt  -->
    
    <div class="infotxt">
      <%=this.getScheduleDate()%>
    </div> <!--  infotxt  -->
    <div class="infotxt" style="clear:both">
       <%=this.getSubject()%>
    </div> <!--  infotxt  -->

    <div class="infotxt">
       <%=this.getPopulationCount()%>
    </div> <!--  infotxt  -->
    
    <div class="infotxt">
        <strong>Tags</strong>
        
     <div class="tags tagscont">
      
      <ul>
        <%if(this.model.get('tags')){%>
            <% _.each(this.model.get('tags').split(","),function(t){ %>  
                <li><a  class="tag"><%- this.app.decodeHTML(t) %></a> </li>
            <% },this)%> 
        <%}%>
      </ul>
    </div>
     
     </div>
    </div> <!--  infotxt  -->
     <div class="infotxt">
       <%=this.isTextOnly()%>
    </div> <!--  infotxt  -->

</div>  <!--  info-p  -->

<%=this.getActionButton()%>


<a class="arrow down showtooltip" data-original-title="Click to expand and mark read"></a>
<div class="clearfix"></div>
