<div class="connectapps">
     <h2>Connect Apps</h2>
</div>
<div class="selection-boxes connections" >
    <ul style="height:140px;width:600px;margin-top:20px">
        <li class="salesforce-tile"><a><img alt="" src="<%- this.app.get('path')%>img/salesforce.jpg"/> </a></li>
        <li class="netsuite-tile"><a><img alt="" src="<%- this.app.get('path')%>img/netsuite.jpg"/> </a></li>
        <li class="highrise-tile"><a><img alt="" src="<%- this.app.get('path')%>img/highrise.jpg"/> </a></li>
        <li class="linkedin-tile showtooltip" title="Coming Soon..."  style="opacity: 0.5;"><a><img alt="" src="<%- this.app.get('path')%>img/linkedin.jpg"/> </a></li>
        <!--<li><a><img alt="" src="img/msdynamics.jpg"/> </a></li>        
        <li><a><img alt="" src="img/dropbox.jpg"/> </a></li>
        <li><a><img alt="" src="img/shugarcrm.jpg"/> </a></li>
        <li><a><img alt="" src="img/msdynamics.jpg"/> </a></li>
        <li><a><img alt="" src="img/linkedin.jpg"/> </a></li>
        <li><a><img alt="" src="img/linkedin.jpg"/> </a></li>
        <li><a><img alt="" src="img/dropbox.jpg"/> </a></li>
        <li><a><img alt="" src="img/shugarcrm.jpg"/> </a></li>-->
    </ul>
     <div class="clearfix"></div>
</div>