<div class="temp-filters clearfix">
    <h2 id="contacts_count" style="display:none;">
        <input type="checkbox" value="" name="" id="no1" class="checkpanel select-all" />        
        <h2 id="total_templates"><strong class="badge total-count">0</strong> <span class="total-text">Contacts</span></h2>
        <h2 id="total_selected" style="display:none"><strong class="badge total-selected-count">0</strong> <span class="total-selected-text">Contacts</span></h2>
        <a class=" btn-green actionbtn"  style="display:none;"><i class="icon mbaction"></i><span>Apply Action</span></a>
        <a class="badge badgebtn" style="display:none;"><strong>164</strong> Hidden </a>
        
        <ul class="c-current-status new-status">
            <li class='task-panel showtooltip' title='See list of Tasks' style='margin-right:10px;'><i class="scf_o_icon scf_o_edit mksicon-Task_List mks_manageList_wrap" style="font-size: 16px; color: #b4b4b4;"></i><span style='margin-left: 5px;top: -2px;position: relative;'>Show Tasks</span></li>
            <li style="border-left:1px solid #fff;padding-left:15px;">Last 24 hrs :</li>
            <li search="CK" ><span class="badge pclr23 tempCount clickCount">0</span>Clickers </li>
            <li search="WV" ><span class="badge pclr19 tempCount visitCount">0</span>Visitors </li>
        </ul>
    </h2>
    
    <div class="srt-div">
        <a class="refresh_btn showtooltip" title="Refresh listing"><i>Refresh</i></a>
        <select class="nosearch filter-by" data-placeholder="Filter By" style="display:none">
            <option></option>            
        </select>
        <select class="nosearch recent-activities" data-placeholder="Sort By">                               
            <option value="lastActivityDate">Recent Activity</option>     
            <option value="score">Score</option>        
            <option value="firstName">First Name</option>     
            <option value="creationTime">Creation Date</option>            
            <option value="CK_7">Last 7 Days Clickers</option>                                       
            <option value="WV_7">Last 7 Days Visitors</option>                                       
            <option value="CK_30">Last 30 Days Clickers</option>                                       
            <option value="WV_30">Last 30 Days Visitors</option>                                       
           <!-- <option value="webVisit">Web Visit</option>            
            <option value="wfAlert">Alert</option>-->                        
        </select>              
     
    </div>         
    <div class="refreshbtn" style="display: none;float:left!important"><img src="<%- this.options.app.get('path')%>img/recurring2.gif" alt="" /></div> 
    <label class="right top-label" style="width: 5%;">Sort By:</label>
  </div>

  <div class="contactsdiv tileview" style="clear:both;">
    <div class="row-contact contacts-new" style="margin:5px;">      
       <div class="column-contact contants-area" style="background-color:#fff">
          <div class="contacts-listing">
                <h2 id="total_templates"><strong>Contacts</strong></h2>
                <div class="contacts-switch">
                     <div class="status_tgl">
                         <a class="published active togglecontact showtooltip" title="Search by Contacts"><i class="togglecontact-icon"></i>Contacts</a>
                         <a class="draft toggletags showtooltip" title="Search by Tags"><i class="toggletag-icon"></i>Tags</a>                    
                   </div>
                </div>
                <div class="sharedBox hide">
                 <select class="shared-select-box">
                     <option>My Contacts</option>
                     <option>Shared Contacts</option>
                 </select>
                </div>
                <div class="input-append search contact-search" >         

                </div>
                <ul class="contact-list">               
                </ul>
                <div class="loadmore" style="display:none">
                     <img src="<%- this.options.app.get('path')%>img/loading.gif" alt=""/>
                </div>
           </div>
           <div class="tasks-listing hide">
                <h2 id="total_templates"><strong class="badge total-task-count">0</strong> <span class="total-task-text">Tasks</span></h2>
                <div class="tasks-switch">
                     <div class="status_tgl">
                         <a class="published active toggletoday showtooltip" title="Today's Tasks">Today's Tasks</a>
                         <a class="draft toggleall showtooltip" title="All Tasks"><i class="toggletag-icon"></i>All Tasks</a>                    
                      </div>
                </div>      
                <!--<select class="sort-task-dashboard">
                    <option value="-1">All</option>
                    <optgroup label="Priority">
                      <option value="high">High</option>
                      <option value="medium">Medium</option>
                      <option value="low">Low</option>
                    </optgroup>
                    <optgroup label="Tasks Types">
                      <option value="call">Call</option>
                      <option value="email">Email</option>
                      <option value="discovery">Discovery</option>
                      <option value="lunch">Lunch</option>
                      <option value="breakfast">Breakfast</option>
                      <option value="meeting">Meeting</option>
                      <option value="proposal">proposal</option>
                      <option value="demo">Demo</option>
                      <option value="first_touch">First Touch</option>
                      <option value="connect">Connect</option>
                      <option value="introduction">Introduction</option>
                      <option value="firstMessage">First Message</option>
                      <option value="secondMessage">Second Message</option>
                      <option value="thirdMessage">Third Message</option>
                      <option value="pdf">PDF</option>
                      <option value="webSeminarInvite">Web Seminar Invite</option>
                      <option value="inviteToGroup">Invite to Group</option>
                    </optgroup>
                 </select>-->
                <div class='tasks-dashboard'>                    
                    <div class="content-wrapper" style="position: relative;overlfow-y:auto;overflow-x:hidden;height:658px;">                                                            
                    </div>                    
                </div>
                <div class="loadmore" style="display:none">
                     <img src="<%- this.options.app.get('path')%>img/loading.gif" alt=""/>
                </div>
           </div>
      </div>
      <div class="column-contact contact-detail-area" style="background-color:#f8f8fb;overflow-y: auto;">
          <p class="no-contact-found">No Contact Selected</p>        
      </div>
      <div class="column-contact contact-activity-area" style="background-color:#f8f8fb">
            <div class="contact-group" style="width:100%">
                <button id="contact-info">Contact Information</button>
                <button id="contact-activity">Activities</button>                
          </div>
          <div class="activity-container">
              <div class="contact-info" style="height:635px;overflow-y:auto;position: relative">
                  
              </div>
              <div class="contact-activity hide" style="height:635px;overflow-y:auto;">
                  
              </div>
              <div class="contact-email hide">
                  
              </div>
          </div>
      </div>
    </div>

                      
 </div> <!-- contactsdiv -->