<div class="selection-boxes" style="width:430px;">                   
    <div class="messagebox info animated" style="width:360px;margin-left:-4px;padding-right:5px"><p></p></div>
    <ul id="choose_soruce">
        <li class="selected netsuite-setup"><a><img src="<%- this.app.get('path')%>img/setup.png" alt=""><span>Setup</span></a></li>
        <li class="netsuite-imports"><a><img src="<%- this.app.get('path')%>img/myimports.png" alt=""><span>My Imports</span></a></li>        
        <!--<li class="netsuite-new-import"><a><img src="img/instantimport.png" alt=""><span>New Import</span></a></li>-->
        <li class="netsuite-new-export"><a><img src="<%- this.app.get('path')%>img/newexport.png" alt=""><span>Export</span></a></li>        
    </ul>
    <div class="clearfix"></div>
</div>
<div>
    <div id="netsuite-setup" class="tiles-area">
        
    </div>
    <div id="netsuite-imports" class="tiles-area" style="display: none">
        
    </div>
    <div id="netsuite-new-import" class="tiles-area" style="display: none">
        
    </div>
    <div id="netsuite-new-export" class="tiles-area" style="display: none">
        
    </div>    
</div>