<% if(this.showUseButton  || this.showRemoveButton){ %>
<td width="75%">
    <div>
        <div class="name-type">              
            <h3>                
                <a style="max-width:355px;overflow-x:hidden;text-overflow: ellipsis"> <%= this.model.get('name')%> </a>                                
                <% if(model.get('status')=='P' || model.get('status')=='R'){ %> 
                    <span class="cstatus published">Played</span> <% }  else {%>
                    <a class="cstatus cflag pclr1 draf-badge">Paused</a>
                <% } %>
            </h3>                  
        </div>
    </div>
</td>
<td width="132px">
    <div>
        <div style="width:105px" class="time">
            <strong><span><em><%= this.getTimeShow().dtHead %></em><%= this.getTimeShow().dateTime %></span></strong>
        </div>                
        <div class="slide-btns one s-clr2">
            <span class="icon setting"></span>
            <div>                 
               <% if(this.showUseButton) {%>
                    <a class="icon check clr1 row-move" ><span>Use</span></a>
                <% } else if(this.showRemoveButton) {%>
                    <a class="icon remove clr1 row-remove" ><span>Remove</span></a>
                <% } %>  
            </div>   
        </div>
    </div>
</td>

<% } %>


