<td width="100%">
    <div>
            <div class="name-type">
                <h3><a class='view-profile showtooltip temp-preview' data-original-title="Click to view profile"><%=this.getFullName()%></a> 
                </h3>
                
                <div class="tags tagscont">
                    <ul>
                            <% _.each(this.model.get('tags').split(","),function(t){ %>  
                            <li><a  class="tag"><%- t %></a> </li>
                            <% })%> 
                    </ul>
                </div>
            </div>
        </div>
</td>
<td width="90px">
    <div>
                                  <a class="checkedadded-preview check-box" style="display: none;"><i class="icon check"></i></a>
                                  <div class="action use-preview-btn"><a class="btn-green"><span>Use Contact</span><i class="icon next"></i></a></div>
     </div>
<!--<div class="slide-btns one s-clr2">
                        <span class="icon setting"></span>
                        <div>
                                <a class="icon check clr1 use-preview-btn"><span>Use Contact</span></a>
                       
                          
                        </div> 
                         slide-btns two  

                    </div>-->
</td>

       
                  	
                          
        
        
  