<td width="50%">
    <div>
            <div class="name-type">
                <h3><a class='view-profile showtooltip temp-preview' data-original-title="Click to view profile"><%=this.getFullName()%></a> 
                </h3>
                
                <div class="tags tagscont">
                    <ul>
                            <% _.each(this.model.get('tags').split(","),function(t){ %>  
                            <li><a  class="tag"><%- this.app.decodeHTML(t) %></a> </li>
                            <% },this)%> 
                    </ul>
                </div>
            </div>
        </div>
</td>
<td width="50px">
<div>
<!--    <div class="subscribers " style="visibility: hidden;">
                                	<strong><span><em>Subscribers</em><a href="">3,456</a></span></strong>
                                </div> -->
                                <div class="slide-btns one s-clr2" style="top: -24px;">
                                      		
                                            <span class="icon setting"></span>
                                            <div class="select-contact-camp">
                                            <a class="icon check clr1 use-preview-btn"><span>Use Contact</span></a>


                                    </div> 
                                      </div> 
                                      
                                      
                                </div>
</td>

       
                  	
                          
        
        
  