<% if(this.userid==='demo'){ %>
        <div class="title"><span>Local </span>
            <p>Run promotions, nurture relationships and build foot traffic. </p>

            <img src="<%- this.app.get('path')%>img/11lc.png" alt=""/><div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>
        <div class="tile-shortcuts" >
            <ul>
                <li class="new-campaign"><a ><i class="icon campaign"></i><span>Send bulk email</span></a><div class="schelpvid"></div></li>
                <li class="template-gallery"><a ><i class="icon promotion"></i><span>Run promotion</span></a><div class="schelpvid"></div></li>
                <li class="nurture-tracks nt-li"><a ><i class="icon intouch"></i><span>Stay in touch</span></a><div class="schelpvid"></div></li>
                <li><a ><i class="icon socialposts"></i><span>Connect my cloud</span></a><div class="schelpvid"></div></li>
                <li class="csv-upload"><a ><i class="icon addcontacts"></i><span>Add contacts</span></a><div class="schelpvid"></div></li>
                <li><a ><i class="icon landingpgs"></i><span>Landing pages</span></a><div class="schelpvid"></div></li>
            </ul>
        </div> <!--  tile-shortcuts -->
<% } else if(this.userid === 'bayshoresolutions'){ %>
        <div class="title"><span>Bayshore Solutions </span>
            <p>Digital web marketing experts deliver strategies in SEO, PPC, content,social media and more…</p>

            <img src="<%- this.app.get('path')%>img/11lc-bayshore.png" alt=""/><div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>
        <div class="tile-shortcuts" >
            <ul>
               <li class="new-campaign"><a ><i class="icon campaign"></i><span>Send Bulk Mail</span></a><div class="schelpvid"></div></li>
               <li class="view-contacts"><a ><i class="icon addcontacts"></i><span>Add Contacts</span></a><div class="schelpvid"></div></li>
               <li class="landing-pages"><a ><i class="icon landingpgs"></i><span>Landing Pages</span></a><div class="schelpvid"></div></li>
               <li><a ><i class="icon tipntest"></i><span>Tip & Test</span></a><div class="schelpvid"></div></li>
               <li><a ><i class="icon baychat"></i><span>Chat</span></a><div class="schelpvid"></div></li>
               <li><a ><i class="icon submitproject"></i><span>Submit Project</span></a><div class="schelpvid"></div></li>
            </ul>
        </div> <!--  tile-shortcuts -->
<% } %>

