<% if(this.tagsplit){ %>
    <% _.each(this.tagsplit,function(value){%>
    <% if(this.options.type === "NT" ){ %>
        <a class='showtooltip tag trim-text' title='Click to View Tracks With  <strong>&#39;<%- value %>"&#39;</strong> Tag'><%- this.app.decodeHTML(value) %></a>
    <% } else { %>
        <a class='showtooltip tag trim-text' title='Click to View Templates With  <strong>&#39;<%- value %>"&#39;</strong> Tag'><%- this.app.decodeHTML(value) %></a>
    <% } %>
    
    <%},this)%>
<% } %>