<!-- =============================== -->
 <nav class="slidenav-dd" id="slidenav-newdd"> 
        	<ul>
            	 
            	<li class="dd"><h4><i class="icon firststeps"></i><span>First Steps</span></h4>
                	<ul>
                    	<li class="new-campaign"><a><i class="icon campaign"></i><span>Send Mass Email</span></a></li>                    	
                    	<li class="new-template"><a><i class="icon templates"></i><span>Create Email Template</span></a></li>                        
                    	<li class="connect-crm"><a><i class="icon crm"></i><span>Connect with Apps</span></a></li>
                        <li class="new-graphics"><a><i class="icon graphic"></i><span>Upload Images</span></a></li>
                        <li class="csv-upload"><a><i class="icon uploadcontact"></i><span>Upload Contacts</span></a></li>
                        <li class="view-contacts"><a><i class="icon viewcontact"></i><span>Viewing Contacts</span></a></li>
                        <li class="camapign-report"><a><i class="icon accessreports"></i><span>Mass Email Reports</span></a></li>
                    </ul>
                </li>
                <li class="dd"><h4><i class="icon marketing"></i><span>Marketing</span></h4>
                    <ul>
                        <li class="new-campaign"><a><i class="icon campaign"></i><span>Send Mass Email</span></a></li>
                        <li class="campaign-listing"><a><i class="icon campaignlist"></i><span>Mass Emails </span></a></li>
                        <li class="camapign-report"><a><i class="icon creports"></i><span>Mass Email Reports </span></a></li>                        
                        <li class="nurture-tracks nt-li"><a><i class="icon templates"></i><span>Nurture Tracks</span></a></li>                       
                    	<li class="template-gallery"><a><i class="icon templates"></i><span>Template  Gallery</span></a></li>
                        <li class="landing-pages"><a><i class="icon socialsharing"></i><span>Landing Pages</span></a></li>                                           
                        <li class="one-one-listing"><a><i class="icon socialsharing"></i><span>My 1:1 Emails</span></a></li>  
                        <li class="signup-forms"><a><i class="icon socialsharing"></i><span>Signup Forms</span></a></li>
                        <li class="workflow-listing" ><a><i class="icon socialsharing"></i><span>Workflows</span></a></li>
                        <li class="journey-canvas" ><a><i class="icon journey"></i><span>Journey</span></a></li>
                    </ul>
                </li>
                <li  class="dd"><h4><i class="icon studio"></i><span>Studio</span></h4>
                	<ul>
                    	<li class="new-template"><a><i class="icon  createtemplates"></i><span>Create Template</span></a></li>
                        <li class="template-gallery"><a><i class="icon templates"></i><span>Template Gallery </span></a></li>
                        <!--<li><a><i class="icon mee"></i><span>Easy Editor</span></a></li>-->
                        <li class="new-graphics"><a><i class="icon graphic"></i><span>Image Gallery</span></a></li>
                    </ul>
                </li>
                <li class="dd" style="margin-top:-13px;"><h4><i class="icon contacts"></i><span>Contacts</span></h4>
                	<ul>
                    	<li class="view-contacts"><a><i class="icon viewcontact"></i><span>Contacts</span></a></li>
                        <li class="view-lists"><a><i class="icon viewcontact"></i><span>Lists</span></a></li>
                        <li class="view-targets"><a><i class="icon viewcontact"></i><span>Targets</span></a></li>
                        <li class="view-tags"><a><i class="icon viewcontact"></i><span>Tags</span></a></li>
                        <li class="csv-upload"><a><i class="icon csvuploadicon"></i><span>CSV upload</span></a></li>
                        <li class="supress-list"><a><i class="icon csvuploadicon"></i><span>CSV Upload To Supress List</span></a></li>
                        <li class="exportsubscribers"><a><i class="icon viewcontact"></i><span>Export Subscriber</span></a></li>                        
                        <li class="removesubscribers"><a><i class="icon viewcontact"></i><span>Remove Subscriber</span></a></li>                        
                    </ul>
                </li>
                <li class="dd reports-section" style="margin-top:-170px;clear:both;"><h4><i class="icon reports"></i><span>Reports &amp; Analytics</span></h4>
                	<ul>
                    	<li class="camapign-report"><a><i class="icon emarketing"></i><span>Mass Email Reports</span></a></li>
                        <li class="bridge-statz"><a><i class="icon bridgestatz"></i><span>Bridgestatz Web Analytics</span></a></li>
                        <li class="custom-reports"><a><i class="icon customreports"></i><span>Custom Charts</span></a></li>
                       <li class="report-flow"><a><i class="icon customreports"></i><span>Business Intelligence Dashboards</span></a></li>
                    </ul>
                </li>                                               
        	</ul>
            
            <ul class="quicklinks">
             <li class="dd">
                	<ul>
                            <li class="view-contacts block" id="ql_contacts"><a><span>Contacts</span><i class="icon subscribers"></i><strong>0</strong></a></li>                            
                    	<li class="campaign-listing" id="ql_campaigns"><a><i class="icon campaign"></i><em>0</em><span>Campaigns</span></a></li>  
                        <li class="template-gallery" id="ql_templates"><a><i class="icon templates"></i><em>0</em><span>Templates</span></a></li> 
                        <li class="new-graphics block" id="ql_graphics"><a><span>Images  </span><i class="icon graphic"></i><strong>0</strong></a></li>
                        <li class="nurture-tracks nt-li" id="ql_nurturetracks"><a><i class="icon nurturetracks"></i><span>Nurture Tracks</span><strong class="play">0</strong><strong class="pause">0</strong></a></li>                        
                    	<li class="autobots-gallery" id="ql_autobots"><a><i class="icon autobots"></i><span>Autobots</span><strong class="play">0</strong><strong class="pause">0</strong></a></li>
                    	
                        
                    </ul>
                </li>
            </ul>
            
            <div class="clearfix"></div>
            <div class="supporthelp">
            	<a class="refresh" id="ql_refresh"></a>
                <!--<a >Support & Help</a>-->
            </div>
        </nav>

<!-- =============================== -->
                             
<% if(!this.app.get("newWin")){ %>                             
<a class="tw-toggle tiles"><i class="icon"></i></a>
<a class="loacl-toggle local-adds" style="display:none"><i class="icon"></i></a> <!-- use "wsicon" for workspcae icon   -->
<a class="loacl-toggle local-adds" style="display:none"><i class="icon"></i></a>
<a class="tipntest-toggle" id='tipntest-toggle-one' style="display:none"><i class="icon"></i></a>
<a class="tipntest-toggle" id='tipntest-toggle-two' style="display:none"><i class="icon"></i></a>
<!--<div class="btn-group tw-toggle">
    <button class="btn active"><span class="icon tiles"></span></button>
    <button class="btn"><span class="icon workspace"></span></button>
</div> -->
<div id="tiles"  class="clearfix" style=" ">

    <div class="box green ">
        <div class="title"><span>First Steps </span>
            <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="<%- this.app.get('path')%>images/1fs.png" alt=""/>
            <div class="helpvid">
                <a  class="helpbtn"><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a  class="videobtn"><i class="icon videobig "></i><span>Video</span></a>
            </div>

        </div>
        <div class="tile-shortcuts" >
            <ul>
                <li><a  class="new-campaign"><i class="icon campaign"></i><span>Send Mass Email</span></a>
                    <div class="schelpvid videobar" style="display:block">                                                   
                        <a   rel="90175265"><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li><a ><i class="icon socialsharing"></i><span>Enable Social Sharing</span></a><div class="schelpvid videobar"  style="display:block">
                                                    
                        <a  rel="90911241"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li><a class="new-template"><i class="icon create-email-templates"></i><span>Create Email Template</span></a><div class="schelpvid videobar"  style="display:block">
                        
                        <a  rel="91455913"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li><a class="create-target"><i class="icon createsegments"></i><span>Create Targets</span></a><div class="schelpvid videobar"  style="display:block">
                                                        
                        <a  rel="90911241"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li><a class="connect-crm"><i class="icon crm"></i><span>Connect with Apps</span></a><div class="schelpvid videobar"  style="display:block">
                                                   
                        <a  rel="90911241"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li><a class="new-graphics"><i class="icon graphic"></i><span>Upload Images</span></a><div class="schelpvid videobar"  style="display:block">
                                                      
                        <a  rel="93542801"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li ><a class="csv-upload"><i class="icon uploadcontact"></i><span>Upload Contacts</span></a><div class="schelpvid videobar"  style="display:block">
                                                         
                        <a  rel="87609468"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li ><a class="view-contacts"><i class="icon viewcontact"></i><span>Viewing Contacts</span></a><div class="schelpvid videobar"  style="display:block">
                                                     
                        <a  rel="90595740"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li ><a class="camapign-report"><i class="icon accessreports"></i><span>Mass Email Reports</span></a><div class="schelpvid videobar"  style="display:block">
                                                       
                        <a  rel="90598216"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
            </ul>
        </div> <!--  tile-shortcuts -->
    </div>
    <div class="box blue">
        <div class="title"><span>Marketing</span>
            <p style="display:none">Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="<%- this.app.get('path')%>images/2sm.png" alt=""/>
            <div class="helpvid ">
                <a><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>

        <div class="tile-shortcuts" >
            <ul>
                <li class="new-campaign"><a ><i class="icon campaign"></i><span>Send Mass Email</span></a><div class="schelpvid videobar" style="display: block;">                                                       
                        <a rel="90175265"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                  <li class="nurture-tracks nt-li"><a ><i class="icon nurturetracks"></i><span>Nurture Tracks</span></a><div class="schelpvid videobar" style="display: block;">                              
                        <a rel="99293579"><i class="icon video"></i><span>Video</span></a>
                    </div></li>                      
                     <li class="one-one-listing"><a ><i class="icon onetoonelisting"></i><span>My 1:1 Emails</span></a><div class="schelpvid videobar" style="display:none;">                                                         
                        <a rel="90175265"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                   
                    <li class="campaign-listing"><a ><i class="icon campaignlist"></i><span>Mass Emails</span></a><div class="schelpvid videobar" style="display:block;">                                                         
                        <a rel="90175265"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                    <li class="camapign-report"><a ><i class="icon creports"></i><span>Mass Email Reports</span></a><div class="schelpvid videobar" style="display:block">
                        <!--<a ><i class="icon help"></i><span>Help</span></a>-->                                 
                        <a rel="90598216"><i class="icon video"></i><span>Video</span></a>

                    </div></li>    
                                                         
                 <li style="visibility: hidden"></li> 
                <li class="template-gallery"><a ><i class="icon templates"></i><span>Email Template Gallery</span></a><div class="schelpvid videobar" style="display:block;">                                                      
                        <a rel="91455913"><i class="icon video"></i><span>Video</span></a>
                    </div></li>                                     
                 <li class="landing-pages"><a ><i class="icon landingpgs"></i><span>Landing Pages</span></a>
                     <div class="schelpvid videobar" style="display:block">                                                      
                        <a rel="126551379"><i class="icon video"></i><span>Video</span></a>
                    </div>
                 </li>
                 <li class="signup-forms"><a ><i class="icon signupforms"></i><span>Signup Forms</span></a>
                     <div class="schelpvid videobar" style="display:none;">                                                      
                        <a rel="91455913"><i class="icon video"></i><span>Video</span></a>
                    </div>
                 </li>
                
            </ul>
        </div> <!--  tile-shortcuts -->



    </div>
  

    <div class=" box orange">
        <div class="title"><span>Contacts</span>
            <p style="display:none">Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="<%- this.app.get('path')%>images/3ct.png" alt=""/>
            <div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>

        <div class="tile-shortcuts" >
            <ul>
                <li class="view-contacts"><a ><i class="icon n_activityfeed"></i><span>Contacts Activities</span></a><div class="schelpvid videobar" style="display: block;">
                        <!--<a ><i class="icon help"></i><span>Help</span></a>-->                                  
                        <a rel="90595740"><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                
                   <li class="exportsubscribers"><a ><i class="icon exportcontacts"></i><span>Export Subscribers</span></a><div class="schelpvid videobar" style="display:none;">                                                         
                        <a rel=""><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                    <li class="removesubscribers"><a ><i class="icon removecontacts"></i><span>Remove Subscribers</span></a><div class="schelpvid videobar" style="display:none;">                                                         
                        <a rel=""><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                        
                 <li class="view-lists"><a ><i class="icon n_lists"></i><span>Lists</span></a><div class="schelpvid videobar" >
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li class="view-targets"><a ><i class="icon n_targets"></i><span>Targets</span></a><div class="schelpvid videobar">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                 <li class="view-tags"><a ><i class="icon n_tags"></i><span>Tags</span></a><div class="schelpvid videobar">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                  
                <li class="csv-upload"><a ><i class="icon csvuploadicon"></i><span>CSV Upload</span></a><div class="schelpvid videobar" style="display: block;">                        
                        <a rel="87609468"><i class="icon video"></i><span>Video</span></a>

                    </div>
                </li>                
                <li class="connect-crm"><a ><i class="icon n_cloudimport"></i><span>Cloud Imports</span></a><div class="schelpvid videobar" style="display: block;">
                        <!--<a ><i class="icon help"></i><span>Help</span></a>-->                                 
                        <a rel="94249680"><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li class="view-ftpuploads"><a ><i class="icon ftpuploads"></i><span>FTP Uploads</span></a><div class="schelpvid videobar">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li style="visibility: hidden"></li>             
                 
            </ul>
        </div> <!--  tile-shortcuts -->
     </div>
    
        <div class=" box red">
        <div class="title"><span>Automation</span>
            <p style="display:none">Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="<%- this.app.get('path')%>img/autobot_gallery.png" alt=""/>
            <div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>

        <div class="tile-shortcuts" >
            <ul>
                <li class="autobots-gallery"><a ><i class="icon auto_gallery"></i><span>Autobots Gallery</span></a>
                    <div class="schelpvid videobar">
                        <!--<a ><i class="icon help"></i><span>Help</span></a>-->                                  
                   </div>
                </li>
                <li class="nurture-tracks nt-li"><a ><i class="icon nurturetracks"></i><span>Nurture Tracks</span></a><div class="schelpvid videobar" style="display: block;">                              
                        <a rel="99293579"><i class="icon video"></i><span>Video</span></a>
                    </div></li>                                         
                    <li class="workflow-listing"><a ><i class="icon workflows-tile"></i><span>Workflows</span></a><div class="schelpvid videobar">                              
                        <a rel=""><i class="icon video"></i><span>Video</span></a>
                    </div></li>                                         
                 <li class="new-emailbot" data-type="E"><a ><i class="icon n_emailbot"></i><span>Email Bot</span></a><div class="schelpvid videobar" >
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li class="new-tagbot" data-type="TG"><a ><i class="icon n_tagbot"></i><span>Tag Bot</span></a><div class="schelpvid videobar">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                 <li class="new-scorebot" data-type="SC"><a ><i class="icon n_scorebot"></i><span>Score Bot</span></a><div class="schelpvid videobar">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li class="new-alertbot" data-type="A"><a ><i class="icon n_alertbot"></i><span>Alert Bot</span></a><div class="schelpvid videobar">                        
                        <a rel="87609468"><i class="icon video"></i><span>Video</span></a>

                    </div>
                </li>
                <li class="linkfilters" >
                        <a ><i class="icon linksfilter"></i><span>URL Filter Bot</span></a><div class="schelpvid videobar" style="display:none;">                                                         
                        <a rel=""><i class="icon video"></i><span>Video</span></a>
                    </div>
                        
                    </li>
               
                <li style="visibility: hidden"></li>             
                 
            </ul>
        </div> <!--  tile-shortcuts -->
     </div>
    
    
      <div class="box brown"><div class="title"><span>Studio</span>
            <p style="display:none">Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="<%- this.app.get('path')%>images/6st.png" alt=""/><div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>

        <div class="tile-shortcuts" >
            <ul>                
                    <li class="template-gallery"><a ><i class="icon templates"></i><span>Email Template Gallery</span></a><div class="schelpvid videobar" style="display: block;"> 
                        <!--<a ><i class="icon help"></i><span>Help</span></a>-->                                 
                        <a rel="91455913"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                    <li class="landing-pages"><a ><i class="icon landingpgs"></i><span>Landing Pages</span></a>
                     <div class="schelpvid videobar" style="display:block;">                                                      
                        <a rel="126551379"><i class="icon video"></i><span>Video</span></a>
                    </div>
                    </li>
                    <li class="signup-forms"><a ><i class="icon signupforms"></i><span>Signup Forms</span></a>
                        <div class="schelpvid videobar" style="display:none;">                                                      
                           <a rel="91455913"><i class="icon video"></i><span>Video</span></a>
                       </div>
                    </li>
                    <li class="new-graphics"><a ><i class="icon graphic"></i><span>Image Gallery</span></a><div class="schelpvid videobar" style="display: block;">
                        <!--<a ><i class="icon help"></i><span>Help</span></a>-->                                 
                        <a rel="93542801"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                    
                    <li style="visibility: hidden"><a ><i class="icon mee"></i><span>Easy Editor</span></a><div class="schelpvid videobar" style="display:block">
                        <a ><span style="padding-left:25px;">Coming Soon!</span></a>                                                         
                    </div></li>    
                
            </ul>
        </div> <!--  tile-shortcuts -->

    </div>

    <div class="box yellow">
        <div class="title"><span>Reports &amp; Analytics</span>
            <p style="display:none">Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="<%- this.app.get('path')%>images/4ra.png" alt=""/>
            <div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>
        <div class="tile-shortcuts" >
            <ul>
                <li class="camapign-report"><a ><i class="icon creports"></i><span>Mass Email Reports</span></a><div class="schelpvid videobar">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="bridge-statz"><a ><i class="icon webstatz"></i><span>Bridgestatz Web Analytics</span></a><div class="schelpvid videobar">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>    

                    <li class="bounced-email">
                        <a ><i class="icon bouncedemails"></i><span>Bounced Emails</span></a><div class="schelpvid videobar" style="display:none;">                                                         
                        <a rel=""><i class="icon video"></i><span>Video</span></a>
                        </div>                        
                    </li>
                     <li class="performance-analytics"><a ><i class="icon performance-icon"></i><span>Email Send Analytics</span></a><div class="schelpvid videobar">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="custom-reports" >
                        <a ><i class="icon customreports"></i><span>Custom Charts</span></a><div class="schelpvid videobar" style="display:none;">                                                         
                        <a rel=""><i class="icon video"></i><span>Video</span></a>
                    </div>                                                
                 </li>    
                 <li class="report-flow"><a ><i class="icon cust-reports"></i><span>Business Intelligence Dashboards</span></a><div class="schelpvid videobar" style="display:none">
                        <a ><span style="padding-left:25px;">Coming Soon!</span></a>                                                         
                 </div></li>
                <li style="visibility: hidden"><a ><i class="icon website"></i><span>Website</span></a><div class="schelpvid videobar" style="display:block">
                        <a ><span style="padding-left:25px;">Coming Soon!</span></a>                                                         
                    </div></li>
                    
                    
            </ul>
        </div> <!--  tile-shortcuts -->

    </div>
    <div class="box gray"><div class="title"><span>Connect with Apps</span>
            <p style="display:none">Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="<%- this.app.get('path')%>images/5ca.png" alt=""/><div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>
        <div class="tile-shortcuts" >
           <ul>
               <li class="crm-salesforce"><a ><i class="icon dashsalesforce"></i><span>Salesforce</span></a><div class="schelpvid videobar" style="display: block;">
                        <!--<a ><i class="icon help"></i><span>Help</span></a>-->                                 
                        <a rel="94249680"><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="crm-netsuite"><a ><i class="icon dashnetsuite"></i><span>Netsuite</span></a><div class="schelpvid videobar" style="display: block;">
                        <!--<a ><i class="icon help"></i><span>Help</span></a>-->                                 
                        <a rel="94237419"><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                    <li class="crm-highrise"><a ><i class="icon dashhighrise"></i><span>Highrise</span></a><div class="schelpvid videobar" style="display: block;">
                        <a rel="95050778"><i class="icon video"></i><span>Video</span></a>                                                         
                    </div></li>
                    <li class="crm-google"><a ><i class="icon dashgoogle"></i><span>Google</span></a>
                              <div class="schelpvid videobar" style="display: block;"></div>
                    </li>
                <li class="crm-linkedin">
                    <a><i class="icon dashlinkedin"></i><span>Linkedin</span></a><div class="schelpvid videobar"  style="display:block">
                        <a><span style="padding-left:25px;">Coming Soon!</span></a>                                                         
                    </div>
                </li>   
            </ul>
        </div> <!--  tile-shortcuts -->


    </div>





    <div class=" box voilet supporthelp" >
        <div class="title"><span>Support & Help</span>
            <p style="display:none">Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="<%- this.app.get('path')%>images/9sh.png" alt=""/>
        </div>

        <div class="tile-shortcuts" >
            <ul>
                <li><a class="popup" id="_liveChat"><i class="icon livechat"></i><span>Live Chat </span></a>
                    <div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li><a class="popup" id="_knowledgeBase"><i class="icon knowledgebase"></i><span>Knowledgebase</span></a>
                    <div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li><a class="popup" id="_supportMessage"><i class="icon supportmessage"></i><span>Support Message</span></a>
                    <div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
            </ul>
        </div> <!--  tile-shortcuts -->
    </div>



   <!--   RELEASE CALENDER     -->
         <div class="box voilet releasecalender" style="display:none;"><div class="title"><span>Release Calendar</span>

            <p>Here's what's planned for release in the coming months. <br/><br/>
                View screenshots and videos. <br/><br/>
                Please tell us what you think for the planned release to help us prioritize new features!
            </p>

            <img src="<%- this.app.get('path')%>images/10rc.png" alt=""/><div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>


        <div class="tile-shortcuts" >

            <div>
                <h4>Marketing</h4>
                <ol>
                    <li><strong>Nurture Tracks</strong> <em>Mar 21</em></li>
                    <li><strong>1:1 Email </strong><em>Apr 15</em></li>
                    <!--<li><strong>Workflow Wizard</strong> <em>18 Feb</em></li>
                    <li><strong>Upload Images </strong><em>07 Feb</em></li>
                    <li><strong>Contact Journey <br/> (Update)</strong> <em>28 Feb</em></li>
                    <li><strong>1:1 Email</strong> <em>09 Feb</em></li>-->
                </ol>

            </div>
            <div>
                <h4>Contacts</h4>
                <ol>
                    <li><strong>Activity Timeline(Update)</strong> <em>TBD</em></li>  
                    <li><strong>LinkedIn Connections</strong> <em>TBD</em></li>  
                    <li><strong>Connection Social Monitoring</strong> <em>TBD</em></li>  
                </ol>
            </div>
            <div>    
                <h4>Reports & Analytics</h4>
                <ol>
                    <li><strong>Website stats</strong></li>
                    <li><strong>SEO stats</strong></li>
                </ol>
            </div>
            <div>    
                <h4>App Connections</h4>
                <ol>                    
                    <li><strong>Highrise connection</strong><em>Apr 18</em></li>
                    <li><strong>LinkedIn</strong><em>TBD</em></li>
                    <li><strong>MKS'14 for Salesforce</strong><em>June 15</em></li>
                </ol>
            </div>
            <div>    
                <h4>Studio</h4>
                <ol>
                    <li><strong>Easy Editor</strong><em>June 1</em></li>
                </ol>
            </div>


        </div> <!--  tile-shortcuts -->       

    </div>
  

</div> <!-- tiles -->
<% } %>


<div class="slideoverlay">

</div>

<div class="videopop">
    <h2>First Steps</h2>
    <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
    <a  class="close"><img src="<%- this.app.get('path')%>images/closebtn-blue.png" alt=""/></a>
    <div class="video">
        <img src="<%- this.app.get('path')%>images/videosample.jpg" alt=""/>
    </div>
</div>

<!-- workspace -->
<div  id="workspace" style="">
    <div class="workspace grayicons">
        <% if(!this.app.get("newWin")){ %>     
        <div class="ws-tabs" >
            <ul id="wstabs" class="tabs-menu">
                <li id="wp_li_0" style="display:none"><a><span class="icon add-list"></span></a></li>
            </ul>
        </div>
        <% } %>
    </div>
</div>
<!-- workspace -->
<div class="global_messages messagebox success">
    <h3>Success</h3>
    <p></p>
    <a class="closebtn"></a> 
</div>
