<nav class="slidenav">

    <ul>

        <li class="dd"><a ><i class="icon firststeps"></i><span>First Steps</span></a>
            <ul style="display:block;">
                <li class="new-campaign"><a ><i class="icon campaign"></i><span>Send Mass Email</span></a></li>
                <li><a ><i class="icon socialsharing"></i><span>Enable Social Sharing</span></a></li>
                <li class="new-template"><a ><i class="icon create-email-templates2"></i><span>Create Email Template</span></a></li>
                <li><a ><i class="icon createsegments"></i><span>Create Segments</span></a></li>
                <li class="connect-crm"><a ><i class="icon crm"></i><span>Connect with Apps</span></a></li>
                <li class="new-graphics"><a ><i class="icon graphic"></i><span>Upload Graphics</span></a></li>
                <li class="csv-upload"><a ><i class="icon uploadcontact"></i><span>Upload Contacts</span></a></li>
                <li class="view-contacts"><a ><i class="icon viewcontact"></i><span>Viewing Contacts</span></a></li>
                <li class="camapign-report"><a ><i class="icon accessreports"></i><span>Access Reports</span></a></li>
            </ul>
        </li>
        <li class="dd"><a ><i class="icon marketing"></i><span>Marketing</span></a>
            <ul>
                <li class="new-campaign"><a ><i class="icon campaign"></i><span>Send Mass Email</span></a></li>
                <li class="template-gallery"><a ><i class="icon templates"></i><span>Template Gallery </span></a></li>
                <li class="campaign-listing"><a ><i class="icon campaignlist"></i><span>Campaigns</span></a></li>
                <li class="camapign-report"><a ><i class="icon creports"></i><span>Campaign Reports </span></a></li>
            </ul>
        </li>
        <li  class="dd"><a ><i class="icon studio"></i><span>Studio</span></a>
            <ul>
                <li class="new-template"><a ><i class="icon create-email-templates2"></i><span>Create Template</span></a></li>
                <li class="template-gallery"><a ><i class="icon templates"></i><span>Template Gallery </span></a></li>
                <li class="new-graphics"><a ><i class="icon graphic"></i><span>Image Gallery</span></a></li>
            </ul>
        </li>
        <li class="dd"><a ><i class="icon contacts"></i><span>Contacts</span></a>
            <ul>
                <li class="view-contacts"><a ><i class="icon viewcontact"></i><span>View Contacts</span></a></li>
                <li class="csv-upload"><a ><i class="icon csvuploadicon"></i><span>CSV Upload</span></a></li>
            </ul>
        </li>
        <li class="dd"><a ><i class="icon reports"></i><span>Reports &amp; Analytics</span></a>
            <ul>
                <li class="camapign-report"><a ><i class="icon emarketing"></i><span>Email</span></a></li>
                <li><a ><i class="icon website"></i><span>Website</span></a></li>
            </ul>
        </li>
        <li class="dd"><a ><i class="icon supprthelp"></i><span>Support &amp; Help</span></a></li>
    </ul>
</nav>

<div class="btn-group tw-toggle">
    <button class="btn active"><span class="icon tiles"></span></button>
    <button class="btn"><span class="icon workspace"></span></button>
</div> 
<div id="tiles" class="clearfix" style=" ">

    <div class="box green ">
        <div class="title"><span>First Steps </span>
            <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="images/1fs.png" alt=""/>
            <div class="helpvid">
                <a  class="helpbtn"><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a  class="videobtn"><i class="icon videobig "></i><span>Video</span></a>
            </div>

        </div>
        <div class="tile-shortcuts" >
            <ul>
                <li class="new-campaign"><a ><i class="icon campaign"></i><span>Send mass email</span></a>
                    <div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li><a ><i class="icon socialsharing"></i><span>Enable social sharing</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="new-template"><a ><i class="icon create-email-templates"></i><span>Create email template</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li><a ><i class="icon createsegments"></i><span>Create segments</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="connect-crm"><a ><i class="icon crm"></i><span>Connect with apps</span></a></li>
                <li class="new-graphics"><a ><i class="icon graphic"></i><span>Upload graphics</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="csv-upload"><a ><i class="icon uploadcontact"></i><span>Upload contacts</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="view-contacts"><a ><i class="icon viewcontact"></i><span>Viewing contacts</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="camapign-report"><a ><i class="icon accessreports"></i><span>Access reports</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
            </ul>
        </div> <!--  tile-shortcuts -->
    </div>
    <div class="box blue">
        <div class="title"><span>Marketing</span>
            <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="images/2sm.png" alt=""/>
            <div class="helpvid">
                <a><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>

        <div class="tile-shortcuts" >
            <ul>
                <li class="new-campaign"><a ><i class="icon campaign"></i><span>Send mass email</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="template-gallery"><a ><i class="icon templates"></i><span>Template Gallery</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="campaign-listing"><a ><i class="icon campaignlist"></i><span>Campaigns</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="camapign-report"><a ><i class="icon creports"></i><span>Campaign reports</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
            </ul>
        </div> <!--  tile-shortcuts -->



    </div>
    <div class="box red"><div class="title"><span>Studio</span>
            <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="images/6st.png" alt=""/><div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>

        <div class="tile-shortcuts" >
            <ul>
                <li class="new-template"><a ><i class="icon create-email-templates"></i><span>Create  template</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="template-gallery"><a ><i class="icon templates"></i><span>Template Gallery</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                    <li class="template-gallery" style="visibility: hidden"></li>    
                <li class="new-graphics"><a ><i class="icon graphic"></i><span>Image Gallery</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>    
            </ul>
        </div> <!--  tile-shortcuts -->

    </div>


    <div class=" box orange">
        <div class="title"><span>Contacts</span>
            <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="images/3ct.png" alt=""/>
            <div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>

        <div class="tile-shortcuts" >
            <ul>
                <li class="view-contacts"><a ><i class="icon viewcontact"></i><span>View contacts</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li class="csv-upload"><a ><i class="icon csvuploadicon"></i><span>CSV Upload</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
            </ul>
        </div> <!--  tile-shortcuts -->


    </div>
    <div class="box brown">
        <div class="title"><span>Reports &amp; Analytics</span>
            <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="images/4ra.png" alt=""/>
            <div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>
        <div class="tile-shortcuts" >
            <ul>
                <li class="camapign-report"><a ><i class="icon emarketing"></i><span>Email</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li><a ><i class="icon website"></i><span>Website</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
            </ul>
        </div> <!--  tile-shortcuts -->

    </div>
    <div class="box yellow"><div class="title"><span>Connect with Apps</span>
            <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="images/5ca.png" alt=""/><div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>
        <div class="tile-shortcuts" >
           <ul>
                <li class="crm-salesforce"><a ><i class="icon dashsalesforce"></i><span>Salesforce</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                <li class="crm-netsuite"><a ><i class="icon dashnetsuite"></i><span>Netsuite</span></a><div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div></li>
                 <li class="crm-highrise"><a ><i class="icon dashhighrise"></i><span>Highrise</span></a><div class="schelpvid" style="display:block">
                        <a ><span style="padding-left:25px;">Coming Soon...</span></a>                                                         
                    </div></li>
                <li class="crm-linkedin"><a ><i class="icon dashlinkedin"></i><span>Linkedin</span></a><div class="schelpvid"  style="display:block">
                        <a ><span style="padding-left:25px;">Coming Soon...</span></a>                                                         
                    </div></li>   
            </ul>
        </div> <!--  tile-shortcuts -->


    </div>





    <div class=" box gray supporthelp">
        <div class="title"><span>Support & Help</span>
            <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
            <img src="images/9sh.png" alt=""/>
        </div>

        <div class="tile-shortcuts" >
            <ul>
                <li><a class="popup" id="_liveChat"><i class="icon livechat"></i><span>Live Chat </span></a>
                    <div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li><a class="popup" id="_knowledgeBase"><i class="icon knowledgebase"></i><span>Knowledgebase</span></a>
                    <div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
                <li><a class="popup" id="_supportMessage"><i class="icon supportmessage"></i><span>Support message</span></a>
                    <div class="schelpvid">
                        <a ><i class="icon help"></i><span>Help</span></a>                                 
                        <a ><i class="icon video"></i><span>Video</span></a>
                    </div>
                </li>
            </ul>
        </div> <!--  tile-shortcuts -->
    </div>



    <div class="box voilet releasecalender"><div class="title"><span>Release Calendar</span>

            <p>Here's what's planned for release in the coming months. <br/><br/>
                View screenshots and videos. <br/><br/>
                Please tell us what you think for the planned release to help us prioritize new features!
            </p>

            <img src="images/10rc.png" alt=""/><div class="helpvid">
                <a ><i class="icon helpbig "></i><span>Help</span></a>                                 
                <a ><i class="icon videobig "></i><span>Video</span></a>
            </div>
        </div>


        <div class="tile-shortcuts" >

            <div>
                <h4>Marketing</h4>
                <ol>
                    <li><strong>Nurture Tracks</strong> <em>Mar 21</em></li>
                    <li><strong>1:1 Email </strong><em>Apr 15</em></li>
                    <!--<li><strong>Workflow Wizard</strong> <em>18 Feb</em></li>
                    <li><strong>Upload Images </strong><em>07 Feb</em></li>
                    <li><strong>Contact Journey <br/> (Update)</strong> <em>28 Feb</em></li>
                    <li><strong>1:1 Email</strong> <em>09 Feb</em></li>-->
                </ol>

            </div>
            <div>
                <h4>Contacts</h4>
                <ol>
                    <li><strong>Activity Timeline(Update)</strong> <em>TBD</em></li>                    
                </ol>
            </div>
            <div>    
                <h4>Reporting</h4>
                <ol>
                    <li><strong>Campaign Summary(Update)</strong><em>Mar 20</em></li>
                    <li><strong>View Activity Population</strong><em>Mar 20</em></li>
                </ol>
            </div>
            <div>    
                <h4>App Connections</h4>
                <ol>
                    <li><strong>Salesforce Synch</strong><em>Mar 07</em></li>
                    <li><strong>Import from Highrise</strong><em>Mar 28</em></li>
                    <li><strong>Access from Salesforce</strong><em>Mar 15</em></li>
                </ol>
            </div>
            <div>    
                <h4>Studio</h4>
                <ol>
                    <li><strong>Easy Editor</strong><em>Apr 15</em></li>
                </ol>
            </div>


        </div> <!--  tile-shortcuts -->






    </div>



</div> <!-- tiles -->



<div class="slideoverlay">

</div>

<div class="videopop">
    <h2>First Steps</h2>
    <p>Watch video demonstrations that teach you how to complete essential tasks.</p>
    <a  class="close"><img src="images/closebtn-blue.png" alt=""/></a>
    <div class="video">
        <img src="images/videosample.jpg" alt=""/>
    </div>
</div>


<div id="menu1" class="dropdown-menu mergefields sort-options custom_popup" role="menu" style="display:none" >
    <h2>Merge Fields
        <div class="input-append search"> <span class="icon list"></span>
            <input type="text" id="merge_list_search" placeholder="Search merge fields here..." />
            <a class="close-icon" id="remove-merge-list" style="display:none"></a>
            <div class="btn-group">
                <button tabindex="-1" class="searchbtn"><span class="icon-search icon-white"></span></button>
            </div>
        </div>
    </h2>
    <div class="browsefields" >
        <ul class="merge-feilds-type">
            <li id="mergefields_basic" class="group1" ><a tabindex="-1">Basic Fields</a></li>
            <li id="mergefields_salesRep"><a tabindex="-1">Sales Rep Fields</a></li>
            <li id="mergefields_custom"><a tabindex="-1">Custom Fields</a></li>
            <li id="mergefields_links" ><a tabindex="-1">Links</a></li>
        </ul>
        <div class="search-panel">
            <div class="searchlist">      
            </div>
            <!-- searchlist --> 
        </div>
        <!-- search-panel --> 
    </div>
    <div class="searchfields" style="display:none;">
        <div class="searchlist">    
        </div>
    </div>
    <!-- searchfields -->     
</div>    

<!-- workspace -->
<div  id="workspace" style="">
    <div class="workspace grayicons">
        <div class="ws-tabs" >
            <ul id="wstabs" class="tabs-menu">
                <li id="wp_li_0" style="display:none"><a><span class="icon add-list"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- workspace -->
<div class="global_messages messagebox success">
    <h3>Success</h3>
    <p></p>
    <a class="closebtn"></a> 
</div>
