
 <div id="container" class="">
        <div class="content" style="min-height:999px;">
        	
                <div class="btn-group tw-toggle">
                    <button class="btn active"><span class="icon tiles"></span></button>
                    <button class="btn"><span class="icon workspace"></span></button>
                </div>
        

        
        
        
        
		<div id="activities" style=" ">
        	<ul class="tabnav">
            	<li class="active"><a  class="user"></a></li>
                <li><a  class="subs"> </a></li>
                <li><a  class="alerts"></a></li>
            </ul>
        
        
            <div id="act-search" >
                <div class="input-append search">
                                  <input type="text">
                                  <div class="btn-group">
                                    <button tabindex="-1" class="searchbtn"><span class="icon search"></span></button>
                                  </div>
                                </div>
            </div>
        	<div class="tab-content">
        		<ul>
                	<li class="odd">
                        <a >
                        <p>campaign January  announcement</p>
                        <span>Edited <br/> 3:30pm <br/> 12 May</span>
                        </a>
                    </li>
                    <li class="">
                        <a >
                        <p>campaign January  announcement</p>
                        <span>Edited <br/> 3:30pm <br/> 12 May</span>
                        </a>
                    </li>
                    <li class="odd">
                        <a >
                        <p>campaign January  announcement</p>
                        <span>Edited <br/> 3:30pm <br/> 12 May</span>
                        </a>
                    </li>
                    <li class="">
                        <a >
                        <p>campaign January  announcement</p>
                        <span>Edited <br/> 3:30pm <br/> 12 May</span>
                        </a>
                    </li>
                    <li class="odd">
                        <a >
                        <p>campaign January  announcement</p>
                        <span>Edited <br/> 3:30pm <br/> 12 May</span>
                        </a>
                    </li>
                    <li class="">
                        <a >
                        <p>campaign January  announcement</p>
                        <span>Edited <br/> 3:30pm <br/> 12 May</span>
                        </a>
                    </li>
                </ul>
        
  
  			</div>
            
        </div><!-- activities  -->
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        	<div id="tiles" class="clearfix" style=" ">

            		<div class="box green">
                    	<a href="#" class="title animated"> <span class="big-icon getstarted"></span>First Steps</a>
                        <div class="tile-hover" >
                        	<h3><a ><span class="icon getstarted"></span>First Steps</a></h3>
                            <p class="intro">
                             <strong>Visit and complete these recommended tasks to be properly setup and familiarized with the basics.</strong></p>
<p class="intro">When you complete work in these areas you'll be ready to start marketing!
You'll have creative, web tracking, integration with your CRM tool and reports to share with your team. Get started now!
                            </p>
                            <ul class="tab-icons">
                            	<li><a ><span class="icon graphics"></span> How-to videos</a></li>
                                <li><a ><span class="icon upload-subscribers"></span> Add contacts</a></li>
                                <li><a ><span class="icon graphics"></span>Upload graphics</a></li>
                                <li><a ><span class="icon segments"></span>Create segment</a></li>
                                <li><a ><span class="icon forms"></span> Create email template</a></li>
                                <li><a ><span class="icon segments"></span> Create landing page</a></li>
                                <li><a ><span class="icon bounced-email"></span> Create chart player</a></li>
                                <li><a ><span class="icon ftp-uploads"></span>Create a sub account</a></li>
                                <li><a ><span class="icon reports"></span> Connect with CRM</a></li>
                                <li><a ><span class="icon add"></span> Install website tracking snippet</a></li>
                                <li><a ><span class="icon add"></span> Say 'hello' to a support rep</a></li>
                            </ul>
                        </div> <!--  tile-hover -->
                    </div>
                    <div class="box blue">
                    	<a href="#" class="title"> <span class="big-icon marketing"></span>Start Marketing</a>
                        <div class="tile-hover" >
                        	<h3><a ><span class="icon marketing"></span>Start Marketing</a></h3>
                            <p class="intro">
                             <strong>Start marketing to your database in basic and advanced ways.</strong></p>
                             <ul class="tab-icons">
                            	<li><a ><span class="icon graphics"></span>Email broadcast</a></li>
                                <li><a ><span class="icon upload-subscribers"></span>Social broadcast</a></li>
                                <li><a ><span class="icon graphics"></span>New lead email drip</a></li>
                                <li><a ><span class="icon segments"></span>Auto-trigger email</a></li>
                                <li><a ><span class="icon forms"></span>Direct mail trigger</a></li>
                                <li><a ><span class="icon segments"></span>Visit publishing dashvboard</a></li>
                                <li><a ><span class="icon bounced-email"></span>Activity Calendar</a></li>
                            </ul>
                        </div> <!--  tile-hover -->
                    </div>
                    <div class=" box red">
                    	<a href="#" class="title"> <span class="big-icon studio"></span> Studio</a>
                        <div class="tile-hover" >
                        	<h3><a ><span class="icon studio"></span>Studio </a></h3>
                            <p class="intro">
                             <strong> </strong></p>
                             <ul class="tab-icons">
                            	<li><a ><span class="icon graphics"></span>Email Template</a></li>
                                <li><a ><span class="icon upload-subscribers"></span>Landing Page Template</a></li>
                                <li><a ><span class="icon graphics"></span>Direct Mail Template</a></li>
                                <li><a ><span class="icon segments"></span>Analytics Player</a></li>
                                <li><a ><span class="icon forms"></span>Chart Play List</a></li>
                            </ul>
                        </div> <!--  tile-hover -->
                    </div>
                    <div class="box yellow">
                    	<a href="#" class="title"> <span class="big-icon connect"></span> Connect with Apps</a>
                        <div class="tile-hover" >
                        	<h3><a ><span class="icon connect"></span> Connect with Apps</a></h3>
                            <p class="intro">
                             <strong> </strong></p>
                             <ul class="tab-icons">
                            	<li><a ><span class="icon graphics"></span>Salesforce</a></li>
                                <li><a ><span class="icon upload-subscribers"></span>Netsuite</a></li>
                                <li><a ><span class="icon graphics"></span>Bullhorn</a></li>
                                <li><a ><span class="icon segments"></span>Highrise</a></li>
                                <li><a ><span class="icon forms"></span>Netsuite</a></li>
                                <li><a ><span class="icon segments"></span>APIs</a></li>
                                <li><a ><span class="icon bounced-email"></span>Activity Calendar</a></li>
                            </ul>
                        </div> <!--  tile-hover -->
                     </div>
                    <div class="box brown"><a href="#" class="title"> <span class="big-icon analytics"></span>  Reports & Analytics</a>
                        <div class="tile-hover" >
                        	<h3><a ><span class="icon analytics"></span> Reports & Analytics</a></h3>
                            <p class="intro">
                             <strong> </strong></p>
                             <ul class="tab-icons">
                            	<li><a ><span class="icon graphics"></span>Dashboard</a></li>
                                <li><a ><span class="icon upload-subscribers"></span>Activities Calendar</a></li>
                                <li><a ><span class="icon graphics"></span>Email</a></li>
                                <li><a ><span class="icon segments"></span>Social</a></li>
                                <li><a ><span class="icon forms"></span>Website</a></li>
                                <li><a ><span class="icon segments"></span>Workflows</a></li>
                                <li><a ><span class="icon bounced-email"></span>Nurture Tracks</a></li>
                                <li><a ><span class="icon bounced-email"></span>Create Analytics Player</a></li>
                                <li><a ><span class="icon bounced-email"></span>Create Chart Play List</a></li>
                            </ul>
                        </div> <!--  tile-hover -->
                        </div>
                    <div class="box orange"><a href="#" class="title"> <span class="big-icon calendar"></span> Calendar</a>
                        <div class="tile-hover" >
                        	<h3><a ><span class="icon calendar"></span> Calendar</a></h3>
                            <p class="intro">
                             <strong> </strong></p>
                             <ul class="tab-icons">
                            	<li><a ><span class="icon graphics"></span>Activity Reports</a></li>
                                <li><a ><span class="icon upload-subscribers"></span>Notifications</a></li>
                                <li><a ><span class="icon graphics"></span>Scheduler</a></li>
                            </ul>
                        </div> <!--  tile-hover -->
                     </div>
                    <div class="box voilet"><a href="#" class="title"> <span class="big-icon workspace"></span>My Workspace</a>
                        <div class="tile-hover" >
                        	<h3><a ><span class="icon workspace"></span> My Workspace</a></h3>
                            <p class="intro">
                             <strong> </strong></p>
                             <ul class="tab-icons">
                             
                            </ul>
                        </div> <!--  tile-hover --></div>
                    <div class=" box gray">
                    	<a href="#" class="title"> <span class="big-icon add"></span> Add Workspace</a>
                    </div>

            </div> <!-- tiles -->
        
        
        <div  id="workspace" style="">
    
         <div class="workspace grayicons">
              
             
            <div class="ws-tabs" >
               <ul id="wstabs" class="tabs-menu">
                    <li id="wp_li_0" style="display:none"><a><span class="icon add-list"></span></a></li>
               </ul>              
            </div> 
        
          
                               	
         </div>
                			                
     </div> <!-- workspace -->
        
        
        
        
<div class="icons-bar grayicons" style="width:;">
                                        <h4>Pins  <em>8</em><span class="icon pin"></span></h4>
                    <a class="scrolld-top"></a>
                        <ul class="shortcuts-bar">
                        <li><a  >Graphics<span class="icon graphics"></span></a> <div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                        <li class="active"><a >Upload Subscribers<span class="icon upload-subscribers"></span></a><div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                        <li><a >Add Template<span class="icon add-template"></span></a><div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                        <li class="active"><a >Add List<span class="icon add-list"></span></a><div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                        <li><a >Forms<span class="icon forms"></span></a><div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                        <li><a >Segments<span class="icon segments" ></span></a><div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                        <li><a >Bounced Emails<span class="icon bounced-email"></span></a><div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                        <li><a >FTP Uploads<span class="icon ftp-uploads" ></span></a><div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                        <li><a >Reports<span class="icon reports"></span></a><div class="right-btns"><a class="icon newwin"></a><a class="icon delete"></a></div></li>
                    </ul>
                    <a class="scrolld-btm"></a>
             </div><!-- icons-bar -->



</div>
        
        
        
        
        

        
        
        

          
        </div>
   <!-- /container -->
    
         

<div id="menu1" class="dropdown-menu mergefields sort-options custom_popup" role="menu" style="display:none" >
   <h2>Merge Fields <div class="input-append search">
    <input type="text" id="merge_list_search" placeholder="Search merge fields here..." />
    <a class="close-icon" id="remove-merge-list" style="display:none"></a>
    <div class="btn-group">       
      <button tabindex="-1" class="searchbtn"><span class="icon-search icon-white"></span></button>
    </div>
  </div>
 </h2>
    <div class="browsefields" >
        <ul class="merge-feilds-type">
          <li id="mergefields_basic" ><a tabindex="-1">Basic Fields</a></li>
          <li id="mergefields_salesRep"><a tabindex="-1">Sales Rep Fields</a></li>
          <li id="mergefields_custom"><a tabindex="-1">Custom Fields</a></li>
        </ul>
        <div class="search-panel">
            <div class="searchlist">
                <ul>
                    <li>Business<a href="">Insert</a></li>
                    <li>Marketing<a href="">Insert</a></li>
                    <li>Online shopping<a href="">Insert</a></li>
                    <li>Freeware<a href="">Insert</a></li>
                    <li>Amazon<a href="">Insert</a></li>
                    <li>Internet<a href="">Insert</a></li>
                    <li>Newsletter<a href="">Insert</a></li>
                </ul>
           </div> <!-- searchlist -->
        </div><!-- search-panel -->
    </div>
    <div class="searchfields" style="display:none;">                              
        <div class="searchlist">        
            <ul>
                <li><span>Basic Field</span><div style="display: inline-block">Business</div><a href="">Insert</a></li>
                <li><span>Custom Field</span>Marketing<a href="">Insert</a></li>
                <li><span>Sales Rep</span>Online shopping<a href="">Insert</a></li>
                <li><span>Basic Field</span>Freeware<a href="">Insert</a></li>
                <li><span>Custom Field</span>Amazon<a href="">Insert</a></li>
                <li><span>Sales Rep</span>Internet<a href="">Insert</a></li>
                <li><span>Basic Field</span>Newsletter<a href="">Insert</a></li>
            </ul>
        </div>
  </div>     <!-- searchfields -->

</div>

   
<div class="global_message">
    Message
</div>