 <div class="camp_header">                  
     <div class="row c-name edited ">
            <span class="icon fav showtooltip" title="Mark Favorite"></span>
            <h2><span id="workspace-header">Jay's Campaign - Feburary 2013</span> 
                <div class="s-progress">
                      <div style="width:70%;" class="s-progress-bar"> </div>
                </div>
            </h2>
        
             <div class="edited workspace-field" style="display:none;">
                <input type="text" placeholder="Jay's Campaign" id="header_wp_field">
                <a class="btn-green savebtn" id="save_campaign_btn">Save </a>
            </div>
        
        
        <div class=" tagscont">
            <div class="tags-contents">   
            <span class="tagicon gray"></span>    
            <ul id="camp_tags">
                  <li><a class="tag" > Business </a>,
                            <div class="tooltip">
                            <a class="left"><span class="icon edit"></span></a>
                            <a class="right"><span class="icon delete"></span></a>
                        </div>
                  </li>
                  <li><a class="tag" > marketing </a>,
                  <div class="tooltip">
                            <a class="left"><span class="icon edit"></span></a>
                            <a class="right"><span class="icon delete"></span></a>
                        </div>
                  </li>
                  <li><a class="tag" > online shopping </a>,
                  <div class="tooltip">
                            <a class="left"><span class="icon edit"></span></a>
                            <a class="right"><span class="icon delete"></span></a>
                        </div>
                  </li>
                   <li><a class="tag" > marketing </a>,
                  <div class="tooltip">
                            <a class="left"><span class="icon edit"></span></a>
                            <a class="right"><span class="icon delete"></span></a>
                        </div>
                  </li>
                  <li><a class="tag" > online shopping </a>,
                  <div class="tooltip">
                            <a class="left"><span class="icon edit"></span></a>
                            <a class="right"><span class="icon delete"></span></a>
                        </div>
                  </li>
                  <li><a class="tag" > amazon </a>
                  <div class="tooltip">
                            <a class="left"><span class="icon edit"></span></a>
                            <a class="right"><span class="icon delete"></span></a>
                        </div>
                  </li>
              </ul>
          </div>  
          <div class="tags-buttons">                
          <span class="ellipsis">...</span>
            <div class="addtag" id="add_tag_li">
                <a><strong>+</strong>Add Tag </a>
            </div><!--   addtag  --> 
           </div> 
        </div> <!--     -->

    </div>
       
                                 
     <ul class="toolbar">
          <li>  <!--<a  class="icon more showtooltip" title="More"></a>-->
            <ul style="display: none" id="more-tool-actions">                
                <li><a  class="icon newwin showtooltip" title="Open in new window"></a></li>
                <li><a  class="icon pin showtooltip"  title="Pin Page"></a></li>
                <li><a  class="icon expand showtooltip" title="Expand Workspace"></a></li>
            </ul>
        </li>
        <li><a  class="icon close showtooltip" title="Close"></a></li>
    </ul>
     
    <div class="shortcuts"> <a><span class="icon ddicon"></span></a>
        <ul style=" " class="dropdown-menu" aria-labelledby="srch">
            <!--<li><a class="" id="marketing_automation">marketing automation</a></li>
            <li><a class="" id="sales_automation">sales automation</a></li>
            <li><a class="" id="analytics">analytics</a></li>
            <li><a class="" id="push_play_automation">push play automation</a></li>
            <li><a class="" id="concierge_serivce">concierge service</a></li>-->
        </ul>
    </div> 

</div>   <!-- camp_header -->    
<div class="campaign-content">

</div>