 <div class="camp_header">                  
            
        <div class="row c-name edited "> 
              <span class="icon fav showtooltip" title="Mark Favorite"></span>
              <h2><span id="workspace-header">Jay's Campaign - Feburary 2013</span>                 
              </h2>
              <div class="edited workspace-field" style="display:none;">
                <input type="text" placeholder="Jay's Campaign" id="header_wp_field">
                <a class="btn-green savebtn" id="save_campaign_btn"><span>Save</span></a>
                <a class="btn-gray cancelbtn" id="cancel_campaign_btn"><span>Cancel</span> </a>
              </div>
              <div class="tagscont" id="campaign_tags"> <!--<span class="tagicon gray"></span>
                <ul>
                  <li><a class="tag" href=""><span>Business</span><i class="icon cross"></i></a> </li>
                  <li><a class="tag" href=""><span>marketing</span><i class="icon cross"></i></a> </li>
                  <li><a class="tag" href=""><span>online shopping</span><i class="icon cross"></i></a> </li> 
                  <li><a class="tag" href=""><span>amazon</span><i class="icon cross"></i></a> </li>
                  <li><a class="tag" href=""><span>Business</span><i class="icon cross"></i></a> </li>
                  <li><a class="tag" href=""><span>marketing</span><i class="icon cross"></i></a> </li>
                  <li><a class="tag" href=""><span>online shopping</span><i class="icon cross"></i></a> </li> 
                  <li><a class="tag" href=""><span>amazon</span><i class="icon cross"></i></a> </li>
                </ul>
                <span class="ellipsis">...</span>
                <div class="addtag"> <a><strong>+</strong></a>
                  <div class="tagbox">
                    <input type="text" placeholder="marketing" class="left">
                    <a class="btn-green savebtn left saving">Add</a> <a class="btn-gray left">Close</a> </div>
                </div>
                -->
                
              </div>                           
            </div>    

     <ul class="toolbar">
          <li>  <!--<a  class="icon more showtooltip" title="More"></a>-->
            <ul id="more-tool-actions" >                
                <li class=""><a class="icon newwin showtooltip" title="Open in new window"></a></li>
                <li><a class="icon pin showtooltip" title="Pin Page"></a></li>
                <li><a class="icon expand showtooltip" title="Expand Workspace"></a></li>
            </ul>
        </li>
        <li><a class="icon close showtooltip" title="Close"></a></li>
    </ul>
    <div class="shortcuts"> <a><span class="icon ddicon"></span></a>
        <ul style=" " class="dropdown-menu"  >         
        </ul>
      </div> 

</div>   <!-- camp_header -->    
<div class="campaign-content">

</div>