<div class="camp_header">                  
            
    <div class="row c-name edited active"> 
          <span class="icon fav" title=""></span>
          <h2><span id="workspace-header"></span>                 
              <div class="pointy add add-action" style="display:none">
                <a id="addnew_action" class="icon plus showtooltip"></a>
              </div>
          </h2>
          <div class="edited workspace-field" style="display:none;">
            <input type="text" placeholder="" id="header_wp_field">
            <a class="btn-green savebtn" id="save_campaign_btn"><span>Save</span></a>
            <a class="btn-gray cancelbtn" id="cancel_campaign_btn"><span>Cancel</span> </a>
          </div>
          <div class="tagscont" id="campaign_tags">                 
          </div>                           
              
     </div>    

    <!--  <ul class="toolbar">
            <ul id="more-tool-actions" >                                
                <li><a class="icon pin showtooltip" title="Pin Page"></a></li>                
            </ul>
        </li>
        <li><a class="icon close showtooltip" title="Close"></a></li>        
     </ul>-->
     <div class="shortcuts"> <a><span title="Close" class="icon ddicon showtooltip close-wp"></span></a>         
     </div>
</div>
<!-- camp_header -->
<div class="campaign-content"> </div>
