<div style="margin-left: -385px; width: 770px;" class="modal in">
    <div style="min-height: 300px;" class="modal-body">
        <div class="sd_common <%- bgClass %>">
            <a class="closebtn"></a>
            <div class="watermark_tilt"></div>
            <h2><%- heading %></h2>
            <div class="lp_name">
                <div class="inputcont" style="height:39px;float:left;width:324px;">
                    <input type="text" placeholder="<%- placeholdertext %>" style="width:300px;" class="field-text">
                </div>
                <a class="btn-green g-btn create-button"><span style="min-width: 40px;"> <%- button %> </span><i class="icon next"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>            
    </div>
    <br>        
</div>
