<div class="modal-header ws-notags">
    <div class="camp_header grayicons">
        <div class="row c-name edited"> <span class="icon fav showtooltip" title="Mark Favorite"></span>
            <h2 id="dialog-title"><span class="dialog-title"</span> 
            <div class="pointy">
                <a class="icon edit"></a><a class="icon copy"></a><a class="icon delete"></a>
            </div>
            </h2>
            <div id="dialog-title-input" class="edited" style="display:none;">
              <input type="text" placeholder="New Target 2013">
               <a class="btn-green savebtn" id="save_title_btn"><span>Save</span></a>
               <a class="btn-gray cancelbtn" id="cancel_title_btn"><span>Cancel</span> </a>
            </div>
            <div class="tagscont">              
            </div>          
        </div>
        <ul class="toolbar">            
          <li><a title="" class="icon close showtooltip" data-original-title="Close"></a></li>
      </ul>
    </div>
    
 </div>
<div class="modal-body">

</div>
<div class="modal-footer">    
    <a style="display:none;" class="btn btn-blue right btn-save"><span>Save Target</span><i class="icon save"></i></a> 
    <a class="btn btn-gray btn-close"><span>Close</span></a>
</div>