<div class="modal-header ws-notags">
    <div class="camp_header grayicons">
        <div class="row c-name edited">
            <h2 id="dialog-title">
             <i class="icon left header-icon" style="display:none"></i>
             <span class="dialog-title"></span> 
            <div class="pointy">
                <a class="icon edit"></a><a class="icon copy"></a><a class="icon delete"></a>
            </div>
            </h2>
            <div id="dialog-title-input" class="edited" style="display:none;">
              <input type="text" placeholder="New Target 2013">
               <a class="btn-green savebtn" id="save_title_btn"><span>Save</span></a>
               <a class="btn-gray cancelbtn" id="cancel_title_btn"><span>Cancel</span> </a>
            </div>
            <div class="tagscont">              
            </div>          
        </div>
        <ul class="toolbar"> 
          <li style="display:none" class="innew-window">
                <a class="icon newwin showtooltip" data-original-title="Open in new window"></a>
          </li>  
          <li><a title="" class="icon close showtooltip" data-original-title="Close"></a></li>
      </ul>
    </div>
    
 </div>
<div class="modal-body">

</div>
<div class="modal-footer">    
    <a class="btn-gray left backbtn dialog-backbtn btn-yellow"><i class="icon back left"></i><span>Back</span></a>
    <a class="btn-gray btn-close right"><span>Close</span><i class="icon cross"></i></a>
    <a style="display:none;" class="btn btn-blue btn-save right">
        <span>Save Target</span>
        <i class="icon save"></i>
    </a>     
</div>
