   
    
             <div class="btns">                   
                <a class="btn-gray left">Back</a> 
                <a class="btn-green save_editor left">Save</a>
                <a class="btn-green save_continue_editor left">Save & Continue</a>

            </div>
            
            <div class="temp-filters clearfix">
                                    
                        <div class="dropdown  sort-options adv_dd ">
                            <a class="dropdown-toggle open" id="drop4" role="button" data-toggle="dropdown" href="#">Dynamic Content Items </a>
                            
                            <div class="btn-group">
                                             <button class="btn dropdown-toggle open mergefields-box" id="" data-toggle="dropdown" tabindex="-1">
                                              <span class="icon mergeicon"></span>
                                              <span class="caret"></span>
                                            </button>
                                            <div id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4" style="display: none;">
                                  <h2>Merge Tags <div class="input-append search">
                                      <input type="text" placeholder="Search merge fields here..." />
                                      <a class="close-icon" ></a>
                                      <div class="btn-group">
                                        <button tabindex="-1" class="searchbtn"><span class="icon-search icon-white"></span></button>
                                      </div>
                                    </div>
                                  </h2>
                                                                 
                          
                            </div>
                                            
                                          </div>
                            
                          </div> <!--  sort-options  -->
                                 
                                 <input type="text" class="mergeinput" placeholder="{{example merge tag}}" id="editor_mergeinput" />
                                 
                                 Copy this tag and paste in your HTML.
                                 
                                  
                                   
            </div>
            <div class="editor_box">


            <form method="post" action="somepage">
                <textarea name="content" id="bmseditor" name="advText" style="width:100%"></textarea>
            </form>
                            
            </div>
    

    