<nav id="dashnav">
            
    <ul class="leftnav">
        <li class="icon-menu"><a ><i class="icon menu"></i></a></li>
        <li><a  class="logo">  Makesbridge</a></li>
    </ul>
    <div class="sc-links">
                
                	<div class="ddlist-btn">
                    	<a class="new-campaign dropdown-nav-addcampaign showtooltip" title="Add New Campaign"><i class="icon campaignicon"></i></a>
                    	<span class="ddicon"><em></em></span>
                    </div>
                    
                    
                	<ul id="add-menu" class="ddlist dropdown-nav">
                        <li class="new-campaign" ><a><i class="icon campaignicon" ></i><span>Campaign</span></a></li>
                        <!--<li><a href="#"><i class="icon workflowicon"></i><span>Workflow</span></a></li>-->
                        <!--<li class="active"><a href="#"><i class="icon autotriggericon"></i><span>Auto Trigger</span></a></li>-->
                        <li class="naturetrack-li"><a><i class="icon nurturetrackicon"></i><span>Nurture Track</span></a></li>
                      </ul>
                      
                	
                	<a class="contacts-nav-wrap csv-li showtooltip" title="Upload Contacts"><i class="icon contactsicon"></i></a>
                	<!--<a class=""><i class="icon announcementicon"></i></a>-->
                
                
                </div>

            <ul class="rightnav">
    <li class="logout"><a ><i class="icon logout"></i><span>Logout</span></a>
            <div class="lo-confirm">
            <p>Are you sure, you want to logout?</p>
            <a href="/pms/Logout.jsp" class="lo-yes">Yes</a>
            <a  class="lo-no">No</a>
            </div>
    </li>
        <li class="profiledd">
            <a  class=""><strong class="user-name">&nbsp;</strong><!-- <b class="caret"></b>--><span class="profile"><img src="images/avatar.jpg" alt=""/></span></a>
            <ul class="submenu">
                    <li><a><i class="icon myaccount"></i><span>My Account</span></a></li>
                    <li><a><i class="icon manage"></i><span>Manage Sub Accounts</span></a></li>
                    <li><a><i class="icon settings"></i><span>Settings</span></a></li>
            </ul>
        </li>

    </ul>

</nav>




   
           
          
