<nav id="dashnav">

    <ul class="leftnav">
        <li class="icon-menu"><a ><i class="icon menu"></i></a></li>
        <li><a  class="logo">  Makesbridge</a></li>
    </ul>
    <div class="sc-links">
         
        <a class="addbtn quick-add"><i class="icon plusicon"></i></a>
        <a class="messagesbtn"><i class="icon messagesicon"></i><sup>0</sup></a>
        <a class="announcementbtn " style="display:none;"><i class="icon announcementicon"></i></a>
       <!-- <a class=""><i class="icon announcementicon"></i></a>-->


    </div>

    <ul class="rightnav">
        <li class="logout"><a ><i class="icon logout"></i><span>Logout</span></a>
            <div class="lo-confirm">
                <p>Are you sure, you want to logout?</p>
                <a href="/pms/Logout.jsp" class="lo-yes">Yes</a>
                <a  class="lo-no">No</a>
            </div>
        </li>
        <li class="profiledd">
            <a  class=""><strong class="user-name">&nbsp;</strong><!-- <b class="caret"></b>--><span class="profile"><img src="<%- this.app.get('path')%>images/avatar.jpg" alt=""/></span></a>
            <ul class="submenu">
                <li><a><i class="icon myaccount"></i><span>My Account</span></a></li>
                <li><a><i class="icon manage"></i><span>Manage Sub Accounts</span></a></li>
                <li><a><i class="icon settings"></i><span>Settings</span></a></li>
            </ul>
        </li>

    </ul>
    <div class="overlay overlay-notification" style="display:none">

    </div>
    <div class="messages_dialogue dropdown-nav" style="display: none;">

    </div>
    <div class="announcement_dialogue" style="display:none;">
        <a class="closebtn-gray"></a>
        <em class="date">&nbsp;</em> 
        <p>Loading....</p>	
    </div>
    <div class="add_dialogue" style="min-height: 300px; display:none;">  
        <div style="position:absolute; left:45%;top:47%; display:block;"><img src="<%- this.app.get('path')%>img/loading.gif"/></div>

    </div> <!--  add_dialogue  -->

</nav>







