 <span class="thumb"></span>
        <h3 class="heading"></h3>
        <a href="" class="prev"><span></span></a>
                <ul>
                <li><a href=""> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.    </a></li>
            <li><a href="">consequatur aut perferendis doloribus asperiores repellat...</a></li>
            <li><a href="">ut aut reiciendis voluptatibus maiores alias...</a></li>
            <li><a href="">Itaque earum rerum hic tenetur a sapiente delectus.</a></li>
            <li><a href="">saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</a></li>
            <li><a href="">quibusdam et aut officiis debitis aut rerum necessitatibus. </a></li>
        </ul>
    <a href="" class="next"><span></span></a>
    <div  class="clearfix"></div>