<ol class="progtrckr"  >
    <li class="step1"></li>
    <li class="s1 active"><a ></a></li>
    <li class="s2"><a ></a></li>
    <li class="s3"><a ></a></li>
    <li class="s4"><a ></a></li>
</ol>
                    
                    
<div class="btns">
        <a  class="btn-gray left backbtn">Back</a>
        <a  class="btn-green left nextbtn">Next</a>   
</div>
<div class="clearfix"></div>
<div class="step-contents">
    
</div>

<div class="btns">
    <a  class="btn-gray left backbtn">Back</a>
    <a  class="btn-green left nextbtn">Next</a>   
</div>
<div class="clearfix"></div>
