<ol class="progressbar">    
    <li class="s1 active"><a ></a></li>
    <li class="s2"><a ></a></li>
    <li class="s3"><a ></a></li>
    <li class="s4"><a ></a></li>
</ol>
                    
                    
<div class="btns">
    <a class="btn-gray left backbtn"><i class="icon back left"></i></a>
    <a class="btn-green left nextbtn"><span>Next</span><i class="icon next"></i></a>   
</div>

<div class="clearfix"></div>
<div class="step-contents">
    
</div>
<div class="btns bottom-btn">
    <a class="btn-gray left backbtn"><i class="icon back left"></i></a>
    <a class="btn-green left nextbtn"><span>Next</span><i class="icon next"></i></a>   
</div>
<div class="clearfix"></div>
