<div class="model_form" style="display: block;" id="">
  <div class="copy_campbox">
    <div class="">
      <h2><span><%- this.app.decodeHTML(pageName) %></span> </h2>
      <div class="tagscont">
       
      </div>
      <!--     --> 
    </div>
    <!--  c-name   -->
    <div class="img"><img alt="" data-src="holder.js" src="<%- this.app.get('path')%>img/copycampaign.png" width="160" height="150"></div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="row campname-container">
        <label>New Name:</label>
        <div class="input-append adv_dd sort-options">
          <div class="inputcont">
            <input id="camp_name" type="text" placeholder="Enter landing page name here" class="header-info textfield">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
