<div class="thumbnail">
    <div class="img">
        <% if(model.get("thumbURL")) { %>
            <span>
                <img src="<%- this.app.decodeHTML(model.get('thumbURL')) %>" data-src="holder.js" alt="" />
            </span>
        <% }else{ %>
            <img src="img/msgimg.png" data-src="holder.js" alt="" />
        <% } %>
        
    </div>
    <div class="caption">

        <h3><a id="<%- model.get('campNum.checksum')%>">Loading...</a></h3>
        <div class="btm-bar">
            <a class="cstatus pclr22">Message <strong><%-model.get('triggerOrder')%></strong> </a>
            <a class="icon preview showtooltip" title="Preview"></a>
        </div>

    </div>
</div>
