<div class="targt"><span><%- this.app.decodeHTML(model.get("name")) %>
        <% if(this.editable===true) { %>
        <a class="btn-red"><span>Remove</span><i class="icon cross"></i></a>
         <% } %>
        </span>       
    <strong class="badge" style="<% if(model.get('populationCount')!=='0'){ %> cursor:pointer <%}%>"><%- this.app.addCommas(model.get("populationCount")) %>
        <div class="calctime">
            <span><em>Calculated on</em><%-countDate.date%></span>
        </div>
    </strong>
</div>