<div class="thumbnail temp-thumbnail">
  <div class="img">
      <% if(model.get('status')==='P' || model.get('status')==='Q'){  %>    
      <img alt="" class="recurring2img" src="img/recurring2.gif">
      <div class="prgressbar">    
          <span style="width: 1px;" class="prgrss <%- model.get("trackId.checksum")%>"> </span>
      </div>
      <% }  %>    
      <% if(model.get('status')==='D'){  %>    
      <div class="gallery-action-btns five s-clr6">
        <a class="main-action play-track clr5">
                <span>Play Track</span>
         </a>  
        <a class="previewbtn message-view clr4"><span>Preview</span></a>
        <a class="editbtn edit-track clr3"><span>Edit</span></a>
        <a class="copybtn copy-track clr2"><span>Copy</span></a>        
        <a class="deletebtn delete-track clr1"><span>Delete</span></a>
      </div>
       <% } else {
                    %>
                    
      <div class="gallery-action-btns two s-clr3">
                              
        <a class="pausebtn pause-track clr2"><span>Pause</span></a>
        <a class="copybtn copy-track clr1" id=""><span>Copy</span></a>

        </div>              
                    
      <%}
      %>      
      
      <% if(model.get('thumbURL')){  %> 
      <span>
       <img src="<%- this.app.decodeHTML(model.get('thumbURL').replace('http&#58;',''))%>" data-src="holder.js" alt="">
       </span>
     <% } else {
       %>  
       <img src="img/nurtureimg.png" data-src="holder.js" alt="">       
       
      <%}
      
      %>      
  </div>
  <div class="caption nurture-caption">
      <h3><a title="<% if(model.get('status')==='D'){print('Click to edit') }else{ print('Click to view')} %>" class="edit-track showtooltip"><%- this.app.decodeHTML(model.get('name'))%></a></h3>
    <% if(model.get('status')==='D'){  %>
    <a class="cstatus pclr1">Paused </a> 
    <% } else if(model.get('status')==='P' || model.get('status')==='Q'){ %>
        <a class="statusdd">Dispensing </a> 
    <% } else { %>
      <a class="cstatus pclr18">Playing </a>                
     <% } %>                 
   <div class="t-scroll"></div>    
    <div class="btm-bar">
        <span><span class="icon report-bar showtooltip" title="Click to view stats"></span></span>
        <span ><span class="icon message-tiles message-view showtooltip" title="Click to preview messages gallery"></span><em><%- model.get('msgCount')%></em> </span>

        <span><span class="icon time"></span><em title="Last edited on" class="showtooltip"><%- ntDate %></em></span>
    </div>
  </div>
</div>
