<% if(this.showUseButton  || this.showRemoveButton){ %>
<td width="75%"><div>
        <div class="name-type">
            <h3>
                <a  title="Click to view" class="showtooltip edit-track"><%- this.app.decodeHTML(model.get('name')) %></a> 
                <% if(model.get('status')==='D'){  %>
                <a class="cstatus pclr1">Paused </a>
                <% } else if(model.get('status')==='P' || model.get('status')==='Q'){ %>
                <a class="cstatus pclr6">Pending </a>
                <% } else {%>
                <a class="cstatus pclr18">Playing </a>
                <%}
                %>                                    
            </h3>
            <div class="tags tagscont">
                <ul>
                    <% if(model.get('tags')){  
                    _.each(model.get('tags').split(","),function(t){ %>  
                    <li><a class="tag showtooltip" title='Click to View Tracks With <strong>&#39;<%- t %>"&#39;</strong> Tag'><%- this.app.decodeHTML(t) %></a> </li>
                    <% }                        
                        ,this)
                    }
                    %>  
                </ul>
            </div>
        </div>
    </div>
</td>
<td width="132px">
    <div>
        <div style="width:105px" class="time">
            <strong><span>
                   
                    <% if(model.get('status')==='D'){  %>
                        <em>Last edited on</em><%- model.get('updationDate') %>
                    <% } else {
                    %>
                        <em>Played on</em><%- model.get('lastPlayDate') %>
                    <%}
                    %>    
                </span></strong>
        </div>
        <div class="slide-btns one s-clr2">
            <span class="icon setting"></span>
            <div>                 
               <% if(this.showUseButton) {%>
                    <a class="icon check clr3 row-move" ><span>Use</span></a>
                <% } else if(this.showRemoveButton) {%>
                    <a class="icon remove clr3 row-remove" ><span>Remove</span></a>
                <% } %>  
            </div>   
        </div> 
        
    </div>
</td>
<% } else if(this.showSummaryChart){ %>
<td style="padding:0px;width:40px">
    <a class="checkedadded check-box" id="<%-this.model.get('botId.encode')%>" style="margin:0px;position:relative;height: 355px"><i class="icon check"></i></a>    
</td>
<td width="100%">
    <table cellpading="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <div class="name-type">
                    <h3>
                        <a  title="Click to view" class="showtooltip edit-track" style="max-width:<%-this.maxWidth%>px;overflow-x:hidden;text-overflow: ellipsis"><%- this.app.decodeHTML(model.get('name')) %></a> 
                        <% if(model.get('status')==='D'){  %>
                        <a class="cstatus pclr1">Paused </a>
                        <% } else if(model.get('status')==='P' || model.get('status')==='Q'){ %>
                        <a class="cstatus pclr6">Pending </a>
                        <% } else {%>
                        <a class="cstatus pclr18">Playing </a>
                        <%}
                        %>                                    
                    </h3>
                    <div class="tags tagscont">
                        <ul>
                            <% if(model.get('tags')){  
                            _.each(model.get('tags').split(","),function(t){ %>  
                            <li><a class="tag showtooltip" title='Click to View Tracks With <strong>&#39;<%- t %>"&#39;</strong> Tag'><%- this.app.decodeHTML(t) %></a> </li>
                            <% }                        
                                ,this)
                            }
                            %>  
                        </ul>
                    </div>
                </div>
            </td>
            
            <td>
                <div>
                    <div style="width:105px" class="time">
                        <strong><span>

                                <% if(model.get('status')==='D'){  %>
                                    <em>Last edited on</em><%- model.get('updationDate') %>
                                <% } else {
                                %>
                                    <em>Played on</em><%- model.get('lastPlayDate') %>
                                <%}
                                %>    
                            </span></strong>
                    </div>                
                </div>   
            </td>
        </tr>
        <tr>
            <td colspan="3" class="messages-container">
                
            </td>
        </tr>
    </table>
</td>
<% } else if(this.showCheckbox){ %>
<td style="padding:0px;width:40px">
    <a class="checkedadded check-box" id="<%-this.model.get('trackId.encode')%>" style="margin:0px;position:relative"><i class="icon check"></i></a>    
</td>
<td width="100%"><div>
        <div class="name-type">
            <h3>
                <a  title="Click to view" class="showtooltip edit-track" style="max-width:<%-this.maxWidth%>px;overflow-x:hidden;text-overflow: ellipsis"><%- this.app.decodeHTML(model.get('name')) %></a> 
                <% if(model.get('status')==='D'){  %>
                <a class="cstatus pclr1">Paused </a>
                <% } else if(model.get('status')==='P' || model.get('status')==='Q'){ %>
                <a class="cstatus pclr6">Pending </a>
                <% } else {%>
                <a class="cstatus pclr18">Playing </a>
                <%}
                %>                                    
            </h3>
            <div class="tags tagscont">
                <ul>
                    <% if(model.get('tags')){  
                    _.each(model.get('tags').split(","),function(t){ %>  
                    <li><a class="tag showtooltip" title='Click to View Tracks With <strong>&#39;<%- t %>"&#39;</strong> Tag'><%- this.app.decodeHTML(t) %></a> </li>
                    <% }                        
                        ,this)
                    }
                    %>  
                </ul>
            </div>
        </div>
    </div>
</td>
<td width="132px">
    <div>
        <div style="width:105px" class="time">
            <strong><span>
                   
                    <% if(model.get('status')==='D'){  %>
                        <em>Last edited on</em><%- model.get('updationDate') %>
                    <% } else {
                    %>
                        <em>Played on</em><%- model.get('lastPlayDate') %>
                    <%}
                    %>    
                </span></strong>
        </div>                
    </div>
</td>
<% } else {%>
<td width="100%"><div>
        <div class="name-type">
            <h3>
                <a  title="<% if(model.get('status')==='D'){print('Click to edit') }else{ print('Click to view')} %>" class="showtooltip edit-track"><%- this.app.decodeHTML(model.get('name')) %></a> 
                <% if(model.get('status')==='D'){  %>
                <a class="cstatus pclr1">Paused </a>
                <% } else if(model.get('status')==='P' || model.get('status')==='Q'){ %>
                <a class="cstatus pclr6">Pending </a>
                <% } else {%>
                <a class="cstatus pclr18">Playing </a>
                <%}
                %>                    
                <div class="percent_stats">
                    <a class="icon percent campaign_stats showtooltip" style="margin:0px!important;" title="Click to view stats"> </a>
                </div>

            </h3>
            <div class="tags tagscont">
                <ul>
                    <% if(model.get('tags')){  
                    _.each(model.get('tags').split(","),function(t){ %>  
                    <li><a class="tag showtooltip" title='Click to View Tracks With <strong>&#39;<%- t %>"&#39;</strong> Tag'><%- this.app.decodeHTML(t) %></a> </li>
                    <% }                        
                        ,this)
                    }
                    %>  
                </ul>
            </div>
        </div>
    </div>
</td>
<td width="90px"><div>
        <div class="mail">
             <% if(model.get('status')==='P' || model.get('status')==='Q'){  %>    
             <div class="showtooltip" title="in progress 0%" style="height:20px">
                <img alt="" class="recurring2img showprogressnt" src="<%- this.app.get('path')%>img/recurring2.gif">
                <div class="prgressbar" style="left:50%;margin-left:-40px">    
                    <span style="width: 1px;" class="prgrss <%- model.get("trackId.checksum")%>"> </span>
                </div>
             </div>  
            <% }  %>  
        </div>
    </div></td>
<td width="90px"><div>
        <div class="mail">
            <% if(model.get('msgCount')=="0") { %>
                <strong><span><em>Messages</em><%- model.get('msgCount')%></span></strong>            
            <% } else { %>
                <strong><span><em>Messages</em><a class="message-view showtooltip" title="Click to preview messages gallery"><%- model.get('msgCount')%></a></span></strong>
            <%}%>
        </div>
    </div></td>
<td width="132px">
    <div>
        <div style="width:105px" class="time">
            <strong><span>
                   
                    <% if(model.get('status')==='D'){  %>
                        <em>Last edited on</em><%- model.get('updationDate') %>
                    <% } else {
                    %>
                        <em>Played on</em><%- model.get('lastPlayDate') %>
                    <%}
                    %>    
                </span></strong>
        </div>
        <div class="slide-btns <% if(model.get('status')==='D'){ print('five s-clr6') } else { print('three s-clr4') }%>">
              <span class="icon setting"></span>
              <div>                 
                <% if(model.get('status')==='D'){  %>
                <a  class="icon play play-track clr5" ><span>Play</span></a>
                <a  class="icon preview message-view clr4" ><span>Preview</span></a>
                <a class="icon edit-track edit clr3" ><span>Edit</span></a>
                <a class="icon copy-track copy clr2" ><span>Copy</span></a>                
                <a class="icon delete-track delete clr1" ><span>Delete</span></a>
               <% } else {
               %>
                   <a class="icon pause pause-track clr3"><span>Pause</span></a>  
                   <a class="icon copy-track copy clr2"><span>Copy</span></a> 
                   <a class="icon preview message-view clr1"><span>Preview</span></a>
               <%}
               %>    
               </div>   
        </div> 
        
    </div>
</td>
<% } %>