<div class="thumbnail temp-thumbnail">
  <div class="img">
      <% if(model.get('status')==='P' || model.get('status')==='Q'){  %>                
        <img alt="" class="recurring2img" src="<%- this.app.get('path')%>img/recurring2.gif">      
        <div class="prgressbar showtooltip" title="in progress 0%">    
            <span style="width: 1px;" class="prgrss <%- model.get("trackId.checksum")%>"> </span>
        </div>      
      <% }  %>    
      <% if(model.get('status')==='D'){  %>    
      <div class="gallery-action-btns five s-clr6">
        <a class="main-action play-track clr5">
               <span>Play Track</span>
         </a>  
        <a class="previewbtn message-view clr4"><span>Preview</span></a>
        <a class="editbtn edit-track clr3"><span>Edit</span></a>
        <a class="copybtn copy-track clr2"><span>Copy</span></a>        
        <a class="deletebtn delete-track clr1"><span>Delete</span></a>
      </div>
      <% } else if(model.get('status')==='K'){  %>
        <div class="gallery-action-btns three s-clr4">
                              
            <a class="previewbtn message-view clr3"><span>Preview</span></a>
        <a class="copybtn copy-track clr2" ><span>Copy</span></a>
        <a class="deletebtn delete-track clr1"><span>Delete</span></a>

        </div> 
       <% } else {
                    %>
                    
      <div class="gallery-action-btns two s-clr3">
                              
        <a class="pausebtn pause-track clr2"><span>Pause</span></a>
        <a class="copybtn copy-track clr1" id=""><span>Copy</span></a>

        </div>              
                    
      <%}
      %>      
      
      <% if(model.get('thumbURL')){  %> 
      <span>
       <img src="<%- this.app.decodeHTML(model.get('thumbURL').replace('http&#58;',''))%>" data-src="holder.js" alt="">
       </span>
     <% } else {
       %>  
       <img src="<%- this.app.get('path')%>img/nurtureimg.png" data-src="holder.js" alt="">       
       
      <%}
      
      %>      
  </div>
  <div class="caption nurture-caption">
      <h3><a title="<% if(model.get('status')==='D'){print('Click to edit \''+this.app.decodeHTML(model.get('name'))+'\'') }else{ print('Click to view \''+this.app.decodeHTML(model.get('name'))+'\'')} %>" class="edit-track showtooltip"><%- this.app.decodeHTML(model.get('name'))%></a></h3>
    <% if(model.get('status')==='D'){  %>
    <a class="filterNT showtooltip ntpauselist cstatus pclr1" title="Click to view paused Nurture Tracks">Paused </a> 
    <% } else if(model.get('status')==='P' || model.get('status')==='Q'){ %>
        <a class="filterNT showtooltip ntpendlist cstatus pclr6">Pending </a> 
    <% } else if(model.get('status')==='K'){ %> 
        <a class="filterNT showtooltip ntkilllist cstatus pclr12" title="Click to view killed Nurture Tracks">Killed </a> 
    <% } else { %>
      <a class="filterNT showtooltip ntplaylist cstatus pclr18" title="Click to view played Nurture Tracks">Playing </a>                
     <% } %>                 
   <div class="t-scroll"></div>    
    <div class="btm-bar">
        <span><span class="icon report-bar showtooltip" title="Click to view stats"></span></span>
        <span ><span class="icon message-tiles message-view showtooltip" title="Click to preview messages gallery"></span><em><%- model.get('msgCount')%></em> </span>

        <span><span class="icon time"></span><em title="Last edited on" class="showtooltip"><%- ntDate %></em></span>
    </div>
  </div>
</div>
