<td width="100%"><div>
        <div class="name-type">
            <h3>
                <a><%- model.get('name')%></a> 
            </h3>
            <div class="tags tagscont">
                <% if(model.get('tags')){  
                    _.each(model.get('tags').split(","),function(t){ %>  
                    <li><a class="tag"><%- t %></a> </li>
                    <% }                        
                        )
                    }
                %>  
            </div>
        </div>
    </div>
</td>
<td width="90px"><div>
        <div class="mail">
            <strong><span><em>Messages</em><%- model.get('msgCount')%></span></strong>
        </div>
        <div class="slide-btns two" style="min-height:66px; margin-top:-8px; margin-right:-14px;">
              <span data-icon="h" class="icon setting"></span>
              <div>                                                                
                        <a data-icon="b" class="icon use-track showtooltip" title="Use"></a> 
                        <a  data-icon="g" class="icon showtooltip" title="Preview"></a>                    
                  </div>
        </div>
    </div>
</td>