<div class="thumbnail">
  <div class="img">
      
      <% if(model.get('status')==='D'){  %>    
      <div>
        <a class="playbtn play-track"><span>Play</span></a>
        <a class="copybtn copy-track"><span>Copy</span></a>
        <a class="editbtn edit-track"><span>Edit</span></a>
        <a class="deletebtn delete-track"><span>Delete</span></a>
      </div>
       <% } else {
                    %>
                    
      <div class="two">
                              
        <a class="pausebtn pause-track"><span>Pause</span></a>
        <a class="copybtn copy-track" id=""><span>Copy</span></a>

        </div>              
                    
      <%}
      %>      
      
      <% if(model.get('thumbURL')){  %> 
      <span>
       <img src="<%- this.app.decodeHTML(model.get('thumbURL'))%>" data-src="holder.js" alt="">
       </span>
     <% } else {
       %>  
       <img src="img/nurtureimg.png" data-src="holder.js" alt="">       
       
      <%}
      
      %>      
  </div>
  <div class="caption">
      <h3><a title="<% if(model.get('status')==='D'){print('Click to edit') }else{ print('Click to view')} %>" class="edit-track showtooltip"><%- model.get('name')%></a></h3>
    <% if(model.get('status')==='D'){  %>
    <a class="cstatus pclr1">Paused </a> 
    <% } else {
                %>
      <a class="cstatus pclr18">Playing </a>                
     <%}
                %>                 
                                
    <p>
         <% if(model.get('tags')){  
                    _.each(model.get('tags').split(","),function(t){ %>  
                    <a><%- t %></a>
                    <% }                        
                        )
                    }
                    %>  
        <!--<i class="ellipsis">...</i>--></p>
    <div class="btm-bar">
        <span><span class="icon report-bar showtooltip" title="Click to view stats"></span></span>
        <span ><span class="icon mail message-view showtooltip" title="Click to view messages"></span><em><%- model.get('msgCount')%></em> </span>

        <span><span class="icon time"></span><em><%- ntDate %></em></span>
    </div>
  </div>
</div>
