<td width="90px">
<div class="img">
   <img alt="" src="img/mb.png">
</div>
</td>
<td width="100%"><div>
        <div class="name-type">
            <h3>
                <a class="showtooltip edit-track" title="Click to copy template"><%- model.get('name')%></a> 
            </h3>
            <div class="tags tagscont">
                <ul>
                <% if(model.get('tags')){  
                    _.each(model.get('tags').split(","),function(t){ %>  
                        <li><a class="tag"><%- this.app.decodeHTML(t) %></a> </li>
                    <% }                        
                        ,this)
                    }
                %>  
                </ul>
            </div>
        </div>
    </div>
</td>
<td width="90px"><div>
        <div class="mail">
            <strong><span><em>Messages</em><%- model.get('msgCount')%></span></strong>
        </div>
        <div class="slide-btns two s-clr3">
              <span class="icon setting"></span>
              <div>                                                                
                    <a class="icon use-track check clr2"><span>Use</span></a> 
                    <a  class="icon preview clr1"><span>Preview</span></a>                    
                  </div>
        </div>
    </div>
</td>