<td width="100%"><div>
        <div class="name-type">
            <h3>
                <a><%- model.get('name')%></a> 
            </h3>
            <div class="tags tagscont">
                <% if(model.get('tags')){  
                    _.each(model.get('tags').split(","),function(t){ %>  
                    <li><a class="tag"><%- t %></a> </li>
                    <% }                        
                        )
                    }
                %>  
            </div>
        </div>
    </div>
</td>
<td width="90px"><div>
        <div class="mail">
            <strong><span><em>Messages</em><%- model.get('msgCount')%></span></strong>
        </div>
        <div class="slide-btns two s-clr3">
              <span class="icon setting"></span>
              <div>                                                                
                    <a class="icon use-track check clr2"><span>Use</span></a> 
                    <a  class="icon preview clr1"><span>Preview</span></a>                    
                  </div>
        </div>
    </div>
</td>