<td width="120"><div>
        <div class="colico subscribers"> <strong><span><em>Sales Rep</em><a class="showtooltip edit-salesrep" title="Click to edit"><%- this.app.decodeHTML(model.get('name')) %></a></span></strong> </div>
    </div></td>

<td width="100px"><div>
        <div class="colico mail"> <strong><span><em>Sales Rep Email</em><a style="cursor: default"><%- this.app.decodeHTML(model.get('email')) %></a></span></strong> </div>

    </div></td>
<td width="190px"><div>
        <div class="time "> <strong><span><em>Updation Time &amp; Date </em> <%-time%> <b>on</b> <%-date%> </span></strong> </div>

        <div class="slide-btns three s-clr4">
            <span class="icon setting"></span>
            <div class="">                 

                <a class="icon preview s-clr3 view-salesrep"><span>View</span></a>
                <a class="icon edit s-clr2 edit-salesrep"><span>Edit</span></a>
                <a class="icon delete s-clr1 delete-salesrep"><span>Delete</span></a>         
            </div>   
        </div>
    </div>
</td>