<td width="1"><input type="checkbox" value="" name=""  class="checkpanel" data-salerep="<%- this.app.decodeHTML(model.get('salesrepNumber.encode')) %>"/></td>
<td width="120"><div>
        <div class="colico subscribers"> <strong><span><em>Sales Rep Name</em><a><%- this.app.decodeHTML(model.get('name')) %></a></span></strong> </div>
    </div></td>
<td width="100px"><div>
        <div class="colico mail"> <strong><span><em>Sales Rep Email</em><a><%- this.app.decodeHTML(model.get('email')) %></a></span></strong> </div>
    </div>
</td>