<td width="120"><div>
        <div class="colico subscribers"> <strong><span><em>User Name</em><a><%- this.app.decodeHTML(model.get('firstName')) %> <%- this.app.decodeHTML(model.get('lastName')) %></a></span></strong> </div>
    </div></td>
<td width="90px"><div>
        <div class="colico mbr"> <strong><span><em>User ID</em><%- this.app.decodeHTML(model.get('userId')) %></span></strong> </div>
    </div></td>
<td width="100px"><div>
        <div class="colico mail"> <strong><span><em>User Email</em><a ><%- this.app.decodeHTML(model.get('userEmail')) %></a></span></strong> </div>
        <div class="slide-btns two s-clr3">
            <span class="icon setting"></span>
            <div class="">                 

                <a class="icon edit s-clr2 edit-subaccount"><span>Edit</span></a>
                <a class="icon delete s-clr1 delete-subaccount"><span>Delete</span></a>         
            </div>   
        </div>
    </div>
</td>