<div style="width:150px;" class="dropareamessage">
    <div style="width:160px;position: relative;text-align: center;background:#a9c2d5" class="nurtureimg">
        <div class="no-image">
            <div style="height: 132px;border-color: #fff;" class="droppanel"><h4 style="color:#fff;"><img width="30" src="/pms/umair/img/droparrow.png" alt="">
            <br class="clearfix" >Drag and drop<br>an image</h4></div>  

        </div>
        <div id="message-image" style="display: none;height:150px;overflow: hidden;vertical-align: middle;text-align: center;width:160px;">
            <img width="150" height="170" src="" alt="">
        </div>

        <a class="btn-blue block-image" style="position: absolute;bottom: 4px;left:4px;"><span>Browse Images</span><i class="icon update" style="padding-top:"></i></a>                       

    </div>
</div>     
<div class="leftpanel">
    <div class="blockname-container" style="margin-top:30px;">
      <div class="label-text">
            Block Name:
      </div>      
      <div class="input-append sort-options blockname-container">
        <div class="inputcont">              	
            <input type="text" style="width:370px" placeholder="Enter block name here" id="block_name">            
        </div>
        <!--<span id="subject_erroricon" class="erroricon"></span>-->
      </div>  
      <div style="font-size: 12px;margin-top:10px">
          <i>Give your block a name that you will be able to recognize later.</i>
       </div>  
    </div>
</div>
<% if(this.app.get("user").userId==='admin' && this.editor._LastSelectedBuildingBlock) { %>
<div>
    <textarea style="width:100%; min-height:100px;" name="content" id="block_html"></textarea>
</div>
<% } %>
