 
<% if(isAuthorize) { %>
<div style=" position:static; margin:0;" class="cont-box row-fluid ">
     
<div class="span6">
    <div style="margin-left: 10%;">
        <img style="margin:0px!important;" src="/pms/awakeel/img/google.jpg" alt="">
        <div class="clearfix"></div>
        <div><p style="vertical-align: top;"><div style="position: relative;margin-right:10px;" class="checkinput checked">
                <input style="position: absolute; opacity: 0;" id="campaign_tellAFriend" class="checkinput" value="" type="checkbox">
                <ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; opacity: 0;" class="iCheck-helper"></ins></div>
            <span style="">Authorize access to your Google App account <a style="color: #01AEEE;">(abdul-wakeel@hotmail.com)</a> with Makesbridge</span></div>

         
    </div> 
    <div class="clearfix"></div>
</div>
<div class="span6">
        <h5>Send synchronization confirmation email to:</h5>
        <div class="row email-container">
            <label>Email</label>
            <div class="input-append adv_dd sort-options">
                <div class="inputcont ">
                    <input  id="google_email" class="header-info textfield" placeholder="Enter email to send confirmation" type="text">
                </div>
            </div>

        </div>
        <div class="row btnrow login-saving"><a class="btn-green right setEmail"><span>Save</span><i class="icon save"></i></a></div>
    </div>
<div class="clearfix"></div>
</div>
<% } else { %>
<div style=" position:static; margin:0;" class="cont-box row-fluid ">
     
<div class="span6">
    <div style="margin-left: 10%;">
        <img style="margin:0px!important;" src="/pms/awakeel/img/google.jpg" alt="">
        <div class="clearfix"></div>
        <div><p style="vertical-align: top;">   </p></div>

        <a class="btn-green" id="btnGoogleLogin"><span> Authorize access to Google Apps</span><i class="icon next"></i> </a>
    </div>

    <div class="clearfix"></div>
</div>
<div class="span6">
        <h5>Send synchronization confirmation email to:</h5>
        <div class="row email-container">
            <label>Email</label>
            <div class="input-append adv_dd sort-options">
                <div class="inputcont ">
                    <input  id="google_email" class="header-info textfield" placeholder="Enter email to send confirmation" type="text">
                </div>
            </div>

        </div>
        <div class="row btnrow login-saving"><a class="btn-green right setEmail"><span>Save</span><i class="icon save"></i></a></div>
    </div>
<div class="clearfix"></div>
</div>

<% } %>
