<td width="100%" style="overflow:visible!important; opacity:<%=this.getOpacity()%>">
    <div>
        <div class="name-type">
            <h3><a class="edit-list" data-name="<%=name%>" data-id="<%=this.model.get('listNumber.encode')%>"><%=name%></a>
              <%if (this.model.get('isSupressList')!="true" || this.model.get('isBounceSupressList') !="true"){%>
                <div class="percent_stats">
                    <a class="icon percent showtooltip" data-original-title="Click to see responsiveness of this list" 
                       data-list="<%=this.model.get('listNumber.encode')%>"
                       style="margin:0px!important;">
                    </a>
                </div>
                <% if(this.model.get('isShared')=== 'Y' || this.parents.status === 'F'){ %>
                      <div class="list_shared shared-camp showtooltip" title="Click to view my shared lists"><a class="icon shared"></a></div>
                 <%  } %>
                  <% if(this.parents.status === 'SS') { %>
                        <div class="list_sharedwith showtooltip" title="This list is shared with you"><a class="icon sharedwith"></a></div>
                    <%  } %>   
                  <% if(this.app.get("user").accountType =='A' && this.app.get("user").userId!==this.model.get('userId')){ %>
                     <div class="sub_accountobj showtooltip" title="This list is created by subaccount '<%=this.model.get('userId') %>'"><a class="icon subaccount"></a></div>
                    <%  } %>  
              <%}%>
                <!-- percent_stats  -->
            </h3>
        </div>
        <div class="tags tagscont">
            <span class="tagicon gray"></span>
            <ul>
                <% _.each(this.model.get('tags').split(","),function(t){ %>  
                <li><a  class="tag showtooltip" data-original-title="Click to view lists with same tag" ><%- this.app.decodeHTML(t) %></a> </li>
                <% },this)%> 

            </ul>
        </div>
    </div>
</td>

<td width="90px" style="opacity:<%=this.getOpacity()%>">
    <div>
        <div class="subscribers ">
            <strong><span><em>Contacts</em><%if(this.model.get('subscriberCount') !="0"){%><a class="pageview showtooltip" data-original-title="Click to view population detail"  data-id="<%=this.model.get('listNumber.encode')%>"><%=this.options.app.addCommas(this.model.get('subscriberCount'))%></a><%}else{%><%=subscriberCount%><%}%></span></strong>
        </div> 




            </div>
            </td>
<td width="132px">
    <div>
        <div style="width:105px" class="time">
            <strong><span><em>Creation Date</em>
                        <% var date = moment(this.app.decodeHTML(this.model.get('creationDate')), 'YYYY-M-D H:m') %>
                        <% dateFormat = date.format("DD MMM, YYYY"); %>
                        <%- dateFormat  %></span></strong>
        </div>
        
           <%if (this.model.get('isSupressList')=="true" || this.model.get('isBounceSupressList')== "true"){%>
                  
                <%}else{
                    if(this.app.get('user').accountType =='A' && this.app.get('user').userId==this.model.get('userId')) {                    
                %>                     
                    <div class="slide-btns four s-clr5">
                <%  } else { %>
                    <% if(this.parents.status === 'SS') { %>
                        <div class="slide-btns two s-clr3">
                    <% } else {%>    
                        <div class="slide-btns three s-clr4">
                <% }} %>
                    <span  class="icon setting"></span>
                    <div>                        
                        <% if(this.app.get("user").accountType =='A' && this.app.get("user").userId==this.model.get('userId')) { %>                             
                             <a class="icon edit addaction clr4"><span>Add Contacts</span></a>
                             <a class="icon share-camp share clr3" ><span>Share</span></a>
                        <% }  else {%>
                           <a class="icon edit addaction clr3"><span>Add Contacts</span></a>    
                        <% } %>
                        <a class="icon edit edit-list clr2" data-name="<%=name%>" data-id="<%=this.model.get('listNumber.encode')%>"   data-id="<%=this.model.get('listNumber.encode')%>"><span>Edit</span></a>
                        <% if(this.parents.status !== 'SS') { %>
                            <a class="icon delete delete-list clr1" data-name="<%=name%>" data-id="<%=this.model.get('listNumber.encode')%>"   data-id="<%=this.model.get('listNumber.encode')%>"><span>Delete</span></a>
                        <% } %>
                    </div> <!-- slide-btns two  -->

                </div>    
                    <%}%>
             


    </div>
</td>