<div class="thumbnail">
                                          <div id="" class="activities_tbl">
                  <div class="bmsgrid  ">
                    <div class="hDiv">
                      <div class="hDivBox">
                        <table cellspacing="0" cellpadding="0">
                        </table>
                      </div>
                    </div>
                    <div class="bDiv" style="height: ;">
                      <table cellspacing="0" cellpadding="0" border="0" id="camp_list_grid">
                        <tbody>
                        
                        
                        <tr id="" class="erow">
                        
                        	
                            <td width="">
                                <a class="show-detail contact-firstAlphabet"><div class="letter_block "><span class="showtooltip" title="Click to view profile"></span></div></a>
                             </td>
                                
                            
                              <td width="100%"><div>
                                  <div class="name-type">
                                  
                                    <div class="title show-detail" id="<%- model.get('subNum')%>">
                                        <h3><a class="showtooltip trim-text" title="Click to view <b>'<%- contact_name %>'</b> profile"><%- contact_name %></a></h3>
                                        <% if(model.get('salesStatus')!==''){%>
                                        <a class="statusdd color3"><%- model.get('salesStatus').toLowerCase()%>  <b class="caret"></b></a>
                                        <%}%> 
                                        <% if(this.options.sub.isSalesforceUser){ %> 
                                                <% if(model.get('sfUrl')){ %>
                                                <a class="salesforce-view showtooltip" title="Jump to salesforce record" style="display:none;"  data-url="<%- this.options.app.decodeHTML(model.get('sfUrl')) %>"><img src="<%- this.app.get('path')%>img/sf-icon-Copy.png"/></a>
                                                <% }else{ %>
                                                     <a class="add-to-salesforce showtooltip" title="Add to salesforce" style="display:none;" ><img src="<%- this.app.get('path')%>img/SF_plus-30.png"/></a>
                                                     <% } %>
                                              <% } %>
                                        <a class="suppressed-icon showtooltip" title="Contact is suppressed" style="display:none;"><img src="<%- this.options.app.get('path')%>img/suppressed.png" /></a>
                                	</div>
                                    
                                    <div class="clearfix"></div>
                                    <% if(activity_type){ %>
                                     <span class="act subs-activity-event" ><% if(activity_type){ %><i class="icon <%- model.get("lastActivityType") %>"></i><%- activity_type %> <% } %> <em> </em></span>
                                     <% }else{ %>
                                                <span class="act" style="visibility: hidden;"><i class="icon open"></i>Opened Email <em>- 3 days ago</em></span>
                                                <% } %>
                                    
                                    
                                    
                                  </div>
                                </div></td>
                              
                            </tr>
                        
                        
                        
                        
                            <tr>
                            <td width="100%" colspan="2"><div>
                                  <div class="name-type c-detail">
                                      
                                      <div class="t-scroll tagscont" <% if(!this.model.get('tags')){ %> style="display:none;" <% } %>> 
                                      
                                      </div>
                                  
                                  
                                 	 <div class="clearfix"></div>
                                                <% if(model.get('email')){ %>
                                     		<span class="inf" style=""><i class="icon email"></i><b><%- this.options.app.decodeHTML(model.get('email'))%></b></span>
                                    	 	<% }if(model.get('telephone')){ %>
                                                <span class="inf phone"><i class="icon phone"></i><b><%- this.options.app.decodeHTML(model.get('telephone'))%></b></span> <br/><div class="clearfix"></div>
                                                <% } %>
                                                <% if(model.get('company')){ %>
                                                <span class="inf" ><i class="icon company"></i><b><%- this.options.app.decodeHTML(model.get('company'))%></b></span>
                                      		<% }%>
                                     
                                     <div class="btm-icons ">
                                  
                                    	<div class="hotness" style="display:none">
                                        	<span class="on"><strong class="badge">4</strong></span>
                                            
                                    	</div> <!--  hotness  --> 
                                    	<div class="filterbar" style="display:none">
                                        	<strong class="badge">9</strong>
                                        </div>
                                        <% if(model.get('score') != "0"){ %>
                                        <div class="score">
                                        	<i class="icon score"></i>
                                          <% if(Number(model.get('score')) > 0){%> +<% }else{%> -<% } %><%- model.get('score')%>
                                        </div>
                                        <% } %>
                                    	<div class="crms" <% if(model.get('score') == "0"){ %> style="margin-left:0;" <% } %> >
                                            <a href="" class="" style="display:none;"><img src="<%- this.options.app.get('path')%>img/nsicon2.png" alt=""></a>
                                             <a href="" class="" style="display:none;"><img src="<%- this.options.app.get('path')%>img/inicon2.png" alt=""></a>
                                             
                                        </div>
                                     
                           </div>
                                    
                                     
                                    
                                  </div>
                                </div></td>
                            
                            </tr>
                            
                
                        
                        
                       
                       
                        </tbody>
                      </table>
                      <div class="iDiv" style="display: none;"></div>
                    </div>
                  </div>
                </div>
                                          
                                              <div class="action-btns animated" >
                                                  <a class="previewbtn s-clr3 show-detail"><span>Preview</span></a>
                                                  <a class="sendmsg s-clr2 oto-sendmail" id=""><span>Send Message</span></a>
                                                  <a class="editbtn s-clr1 show-detail"><span>Edit</span></a>
                                                  
                                              </div>
                                          
                                        </div>
<div style="display:none"> 
    
    <input type="checkbox" value="" name="" id="no1" class="checkpanel contact-row-check" />
<div class="leftbox">
    <div class="title show-detail" id="<%- model.get('subNum')%>">
        <h3><a class="showtooltip" title="Click to view profile"><%- contact_name %></a></h3>
        <% if(model.get('salesStatus')!==''){%>
            <a class="statusdd color3 captilize"><%- model.get('salesStatus').toLowerCase()%> </a>
        <%}%>    
        <a  class="schedulebtn">Schedule</a>
        <% if(model.get('sfUrl')){ %>
        <a><img src="<%- this.app.get('path')%>img/sf-icon-Copy.png"/></a>
        <% } %>
    </div>
    <div class=" tagscont"> 
        <ul>
          <% _.each(model.get('tags').split(","),function(t){ %>  
            <li><a  class="tag"><%- this.app.decodeHTML(t) %></a> </li>
          <% },this)%>          
        </ul>
      </div><!--   tagscont  --> 
       <div class="leftboxbtm" style="display:none">
            <div class="hotness">
                <span class=""></span>
                <span class=""></span>
                <span class=""></span>
                <span class=""></span>
            </div> <!--  hotness  --> 
            <div class="filterbar">
                <span class="c1 activestate">1</span>
                <span class="c2">2</span>
                <span class="c3">3</span>
                <span class="c4">4</span>
                <span class="c5">5</span>
                <span class="c6">6</span>
                <span class="c7 ">7</span>
                <span class="c8">8</span>
                <span class="c9">9</span>
                <span class="c10">10</span>
            </div>
            <div class="score">
                    <i class="icon score"></i>
                <%- model.get('score')%>
            </div>
            <a  class="chatbtn"><sup class="badge">0</sup></a>
            <div class="crms">
                <a  class=""><img src="<%- this.app.get('path')%>img/nsicon2.png" alt=""/></a>
                 <a  class=""><img src="<%- this.app.get('path')%>img/inicon2.png" alt=""/></a>
            </div>
        </div>
    </div> <!--  leftbox  --> 

<div class="avatarcol">
    <div class="img"><img src="<%- this.app.get('path')%>img/avatar.png" alt=""/></div>
    <ul style="display:none"><li><a class="icon hide showtooltip" title="Hide Contact"></a></li><li><a class="icon sendmail showtooltip" title="Send Email"></a></li></ul>
</div>
<div class="rightbox">
            <div class="actstatus">
            <% if(time){ %><div class="time"><i class="icon time"></i><%- time %></div><% } %>
            <% if(activity_type){ %><div class="activity"><i class="icon web"></i><%- activity_type %></div><% } %>
        </div>
        <div class="proinfo">
            <span class="ellipsis more-detail showtooltip" title="View fields">...</span>            
            <span class="fields">
                Telephone
            <strong></strong>
            </span>
            <span class="fields">
                Company
            <strong><%- this.app.decodeHTML(model.get('company'))%></strong>
            </span>
            <span class="fields">
                Title
            <strong><%- this.app.decodeHTML(model.get('title'))%></strong>            
            </span>
            
            </div>                        
</div> <!--  rightbox  --> 
<a class="closebtn" style="display:none"></a>       
<div class="allprofileinfo" style="display:none">
    <div class="proinfo">
         
    </div>
</div>
</div><!-- Extra div to hide the content -->