<div class="contact-row selected-contact">
    <div class="name"><%- contact_name %></div>
    <div class="email"><%- this.options.app.decodeHTML(model.get('email'))%></div>
</div>

<!--<div class="thumbnail">
                                          <div id="" class="activities_tbl">
                  <div class="bmsgrid  ">
                    <div class="hDiv">
                      <div class="hDivBox">
                        <table cellspacing="0" cellpadding="0">
                        </table>
                      </div>
                    </div>
                    <div class="bDiv" style="height: ;">
                      <table cellspacing="0" cellpadding="0" border="0" id="camp_list_grid">
                        <tbody>
                        
                        
                        <tr id="" class="erow">
                        
                        	
                            <td width="">
                                <a class="show-contact-detail contact-firstAlphabet"><div class="letter_block "><span class="showtooltip" title="Click to view profile"></span></div></a>
                             </td>
                                
                            
                              <td width="100%"><div>
                                  <div class="name-type">
                                  
                                    <div class="title show-contact-detail" id="<%- model.get('subNum')%>">
                                        <h3><a class="showtooltip trim-text" title="Click to view <b>'<%- contact_name %>'</b> profile"><%- contact_name %></a></h3>
                                        <% if(model.get('salesStatus')!==''){%>
                                        <a class="statusdd color3"><%- model.get('salesStatus').toLowerCase()%>  <b class="caret"></b></a>
                                        <%}%> 
                                        <% if(this.options.sub.isSalesforceUser){ %> 
                                                <% if(model.get('sfUrl')){ %>
                                                <a class="salesforce-view showtooltip" title="Jump to salesforce record" style=""  data-url="<%- this.options.app.decodeHTML(model.get('sfUrl')) %>"><img src="<%- this.app.get('path')%>img/salesforce_30x30.png"/></a>
                                                <% }else{ %>
                                                     <a class="add-to-salesforce showtooltip" title="Add to salesforce" style="" ><img src="<%- this.app.get('path')%>img/addto_salesforce_30x30.png"/></a>
                                                     <% } %>
                                              <% } %>
                                        <a class="suppressed-icon showtooltip" title="Contact is suppressed" style="display:none;"><img src="<%- this.options.app.get('path')%>img/suppressed.png" /></a>
                                	</div>
                                    
                                    <div class="clearfix"></div>
                                    <% if(activity_type){ %>
                                     <span class="act subs-activity-event" ><% if(activity_type){ %><i class="icon <%- model.get("lastActivityType") %>"></i><%- activity_type %> <% } %> <em> </em></span>
                                     <% }else{ %>
                                                <span class="act" style="visibility: hidden;"><i class="icon open"></i>Opened Email <em>- 3 days ago</em></span>
                                                <% } %>
                                    
                                    
                                    
                                  </div>
                                </div></td>
                              
                            </tr>
                        
                        
                        
                        
                            <tr>
                            <td width="100%" colspan="2"><div>
                                  <div class="name-type c-detail">
                                      
                                      <div class="t-scroll tagscont" <% if(!this.model.get('tags')){ %> style="display:none;" <% } %>> 
                                      
                                      </div>
                                  
                                  
                                 	 <div class="clearfix"></div>
                                                <% if(model.get('email')){ %>
                                     		<span class="inf" style=""><i class="icon email"></i><b><%- this.options.app.decodeHTML(model.get('email'))%></b></span>
                                    	 	<% }if(model.get('telephone')){ %>
                                                <span class="inf phone"><i class="icon phone"></i><b><%- this.options.app.decodeHTML(model.get('telephone'))%></b></span> <br/><div class="clearfix"></div>
                                                <% } %>
                                                <% if(model.get('company')){ %>
                                                <span class="inf" ><i class="icon company"></i><b><%- this.options.app.decodeHTML(model.get('company'))%></b></span>
                                      		<% }%>
                                     
                                     <div class="btm-icons ">
                                  
                                    	<div class="hotness" style="display:none">
                                        	<span class="on"><strong class="badge">4</strong></span>
                                            
                                    	</div> <!--  hotness  --> 
                                    	<div class="filterbar" style="display:none">
                                        	<strong class="badge">9</strong>
                                        </div>
                                        <% if(model.get('score') != "0"){ %>
                                        <div class="score">
                                        	<i class="icon score"></i>
                                          <% if(Number(model.get('score')) > 0){%> +<% }else{%> -<% } %><%- model.get('score')%>
                                        </div>
                                        <% } %>
                                    	<div class="crms" <% if(model.get('score') == "0"){ %> style="margin-left:0;" <% } %> >
                                            <a href="" class="" style="display:none;"><img src="<%- this.options.app.get('path')%>img/nsicon2.png" alt=""></a>
                                             <a href="" class="" style="display:none;"><img src="<%- this.options.app.get('path')%>img/inicon2.png" alt=""></a>
                                             
                                        </div>
                                     
                           </div>
                                    
                                     
                                    
                                  </div>
                                </div></td>
                            
                            </tr>
                            
                
                        
                        
                       
                       
                        </tbody>
                      </table>
                      <div class="iDiv" style="display: none;"></div>
                    </div>
                  </div>
                </div>
                                          
                                              <div class="action-btns animated action-four" >
                                                  <a class="previewbtn s-clr4 show-contact-detail"><span>Preview</span></a>
                                                  <a class="sendmsg s-clr3 oto-sendmail" id=""><span>Send Message</span></a>
                                                  <a class="editbtn s-clr2 show-detail"><span>Edit</span></a>
                                                  <a class="add-list s-clr1 add-to-lists"><span>Add to list</span></a>
                                                  
                                              </div>
                                          
                                        </div>-->
