<div class="contact_found mks_tasks_lists_user">
    <div class="cf_silhouette">
        <div class="cf_silhouette_text c_txt_s c_txt_s_blue">
            <i class="<%- this.mapicons[this.model.get('taskType')] %> mks-task-icons"></i>
        </div>
    </div>
    <div class="cf_email_wrap">
        <div class="cf_email">
            <p class="mkb_elipsis mkb_text_break" title="Call" style="width: 145px;">
                <%- this.model.get("taskName") %>
            </p>
            <span class="ckvwicon">at <%- this.getDateTimeStamp()%> | created by <strong><%- this.getUserName()%></strong></span>

        </div>
        <div class="cf_task_right">
            <span  class="mks_priority_icon <%- this.priorityIcons[this.model.get('priority')].topClass %> showtooltip" title="<%- this.priorityIcons[this.model.get('priority')].label %>" >
                <i class="<%- this.priorityIcons[this.model.get('priority')].icon %>"></i>            
            </span>
            <% if(this.model.get("status")=="P") { %>
            <div class="mks_tasks_lists_empty_icon showtooltip" title="Complete Task">
                <div class="c_txt_s c_txt_s_blue c_txt_s_empty c_txt_s_mark_complete">
                    <i class="mksicon-Check mks-tasklists-icons" style="display: none;"></i> 
                </div>
            </div>                         
            <% } else { %>
            <div class="mks_tasks_lists_fill_icon showtooltip" title="Task Completed">
                <div class="c_txt_s c_txt_s_blue c_txt_s_empty">
                    <i class="mksicon-Check mks-tasklists-icons"></i>
                </div>
            </div>
            <% } %>
        </div>

    </div>
    <div class="mks_task_edit_delete_wrap mks_task_edit_task">
        <div class="cf_silhouette">
            <div class="cf_silhouette_text c_txt_s c_txt_s_blue">
                <i class="mksicon-Edit mks-task-icons"></i>
            </div>
        </div>
    </div>
    <div class="mks_task_edit_delete_wrap _mks_task_delete_task" >
        <div class="cf_silhouette">
            <div class="cf_silhouette_text c_txt_s c_txt_s_blue">
                <i class="mksicon-Delete mks-task-icons"></i>
            </div>
        </div>
    </div>
</div>    
