<% if(this.showUseButton  || this.showRemoveButton){ %>
<td width="75%">
    <div>
        <div class="name-type">
            <h3>
                <a class="form-name edit-form showtooltip " title="Click to edit"> <%= this.model.get('name') %> </a>
            </h3>  

        </div>
    </div>
</td>
<td width="132px">
    <div>
        <div style="width:105px" class="time">
            <strong><span><em>Last Edited</em><%= this.getDate() %></span></strong>
        </div>         
        <div class="slide-btns one s-clr2">
            <span class="icon setting"></span>
            <div>                 
               <% if(this.showUseButton) {%>
                    <a class="icon check clr3 row-move" ><span>Use</span></a>
                <% } else if(this.showRemoveButton) {%>
                    <a class="icon remove clr3 row-remove" ><span>Remove</span></a>
                <% } %>  
            </div>   
        </div>        
    </div>
</td>
<% } else if(this.showSummaryChart){ %>
<td width="100%" style="padding:0px;background-color: #fff;">
    <table cellpading="0" cellspacing="0" width="100%" class="chart-tile">
        <tr class="header">
            <td>
                 <div>
                    <div class="name-type">              
                           <h3>                    
                            <a class="form-name edit-form showtooltip" title="Click to view"> <%= this.model.get('name')%> </a>
                           </h3>                              
                    </div>
               </div>
            </td>                        
        </tr>
        <tr>
            <td class="s-chart">
                <div style="height: 250px" id="chart-<%-this.model.get('formId.checksum')%>">
                    
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:0px" id="stats-<%-this.model.get('formId.checksum')%>">
                <div class="stats-panel">
                    <div>
                        <ul class="socpc">                            
                            <li style="width:100%" class="clr-open"><span>Submissions <strong class="submitCount">-</strong></span></li>                               
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</td>
<% } else if(this.showCheckbox){ %>
<td style="padding:0px;width:40px">
    <a class="checkedadded check-box" id="<%-this.model.get('formId.encode')%>" style="margin:0px;position:relative"><i class="icon check"></i></a>    
</td>
<td width="">
    <div>
        <div class="name-type">
            <h3>
                <a class="form-name edit-form showtooltip " title="Click to edit"> <%= this.model.get('name') %> </a>
            </h3>  

        </div>
    </div>
</td>
<td width="132px">
    <div>
        <div style="width:105px" class="time">
            <strong><span><em>Last Edited</em><%= this.getDate() %></span></strong>
        </div>         
    </div>
</td>

<% } else {%>

<td width="">
    <div>
        <div class="name-type">
            <h3>
                <a class="form-name edit-form showtooltip " title="Click to edit"> <%= this.model.get('name') %> </a>
            </h3>  

        </div>
    </div>
</td>
<td width="90px">
    <div>                
        <div class="colico  form ">
            <strong><span><em>Form Submissions</em><% if(this.model.get('submitCount')!="0") { %> <a class="submissionview showtooltip" title="Click to view submissions detail" ><%=this.app.addCommas(this.model.get('submitCount'))%></a> <% } else { print(this.app.addCommas(this.model.get('submitCount')))} %></span></strong>
        </div>          
    </div>
</td>
<td width="132px">
    <div>
        <div style="width:105px" class="time">
            <strong><span><em>Last Edited</em><%= this.getDate() %></span></strong>
        </div>
        <div class="slide-btns six s-clr7">
            <span class="icon setting"></span>
            <div>                 
                <a class="icon preview-form preview clr5"><span>Preview</span></a>
                <a class="icon snippet-form snippet clr4"><span>Snippet</span></a>
                <a class="icon link-form link clr4"><span>Link</span></a>
                <a class="icon edit-form edit clr3"><span>Edit</span></a>                    
                <a class="icon copy-form copy clr2"><span>Copy</span></a> 
                <a class="icon delete-form delete clr1"><span>Delete</span></a>    
            </div>   
        </div> 

    </div>
</td>

<% } %>


