<div class="tipntest">

    <h1 style="text-transform: uppercase;color:#e7b13e;">With an average cost of $3 per hour, hiring data collection resources is a no brainer. </h1>
    <h3>But do you properly organize and follow up with new contact data to maximize the value of that investment?</h3>
   <h3 style="font-weight: lighter; line-height: 20px;">Funnel all new contacts that you gathered from all over the globe into a single drip stream to maximize the number of new opportunities.</h3>
    <!--<qoute>source: LeadResponseManagement.org</qoute>-->
    <h3 style="display: none;">0% Conversion on Email Checkers</h3>
    <ol class="progressbar five">
       
        <li class="s1 crm-google"  style="top: 0;"><a><i class="icon" style="width: 80px;"><img alt="" src="<%- this.app.get('path')%>img/google-logo-g.png"></i><span>Google Import</span></a><div style="display: block;background: none repeat scroll 0 0 #f2f3f7;height: 25px;width: 166px;" class="schelpvid videobar tipntest-video tipntest-video-two">                                                       
                        <a rel="126554859" style="padding: 0px;float:none;"><img alt="" src="<%- this.app.get('path')%>img/play-g.png"><span >watch video</span></a>
                    </div></li>
        <li class="s2 create-target" ><a><i class="icon "><img alt="" src="<%- this.app.get('path')%>img/target-w-g-g.png"></i><span>Create Target</span></a><div style="display: block;background: none repeat scroll 0 0 #f2f3f7;height: 25px;width: 166px;" class="schelpvid videobar tipntest-video tipntest-video-two">                                                       
                        <a rel="126556920" style="padding: 0px;float:none;"><img alt="" src="<%- this.app.get('path')%>img/play-g.png"><span >watch video</span></a>
                    </div></li>
        <li class="s3 naturetrack-li"><a><i class="icon "><img alt="" src="<%- this.app.get('path')%>img/nurture-track-g-fg.png"></i><span>Create Nurture Track</span></a><div style="display: block;background: none repeat scroll 0 0 #f2f3f7;height: 25px;width: 166px;" class="schelpvid videobar tipntest-video tipntest-video-two">                                                       
                        <a rel="126560515" style="padding: 0px;float:none;"><img alt="" src="<%- this.app.get('path')%>img/play-g.png"><span >watch video</span></a>
                    </div></li> 
         <li class="s4 new-emailbot" data-type="A"><a><i class="icon "><img alt="" src="<%- this.app.get('path')%>img/Sales_Alert_Bot.png"></i><span>Sales alert</span></a><div style="display: block;background: none repeat scroll 0 0 #f2f3f7;height: 25px;width: 166px;" class="schelpvid videobar tipntest-video tipntest-video-two">                                                       
                        <a rel="126560515" style="padding: 0px;float:none;"><img alt="" src="<%- this.app.get('path')%>img/play-g.png"><span >watch video</span></a>
                    </div></li> 
         <li class="s5 new-emailbot" data-type="TG"><a><i class="icon "><img alt="" src="<%- this.app.get('path')%>img/Tag_Bot.png"></i><span>"To Call" Tag Bot</span></a><div style="display: block;background: none repeat scroll 0 0 #f2f3f7;height: 25px;width: 166px;" class="schelpvid videobar tipntest-video tipntest-video-two">                                                       
                        <a rel="126560515" style="padding: 0px;float:none;"><img alt="" src="<%- this.app.get('path')%>img/play-g.png"><span >watch video</span></a>
                    </div></li> 
    </ol>

    <div class="goalbar" style="display: none;">

        Awaiting Results (Complete above steps)

    </div>
</div>
