<div class="tipntest">

    <h1>Tip &amp; Test</h1>

    <h3>0% Conversion on Email Checkers</h3>
    <ol class="progressbar three">
        <li class="s1 csvupload"><a><i class="icon"><img alt="" src="<%- this.app.get('path')%>img/csvicon.png"></i><span>Upload Contacts (CSV)</span></a></li>
        <li class="s2 open-campaigns"><a><i class="icon "><img alt="" src="<%- this.app.get('path')%>img/campaigns.png"></i><span>Create Campaign</span></a></li>
        <li class="s3"><a><i class="icon "><img alt="" src="<%- this.app.get('path')%>img/play-g.png"></i><span>Run/Schedule Campaign</span></a></li> 
    </ol>

    <div class="goalbar">

        Awaiting Results (Complete above steps)

    </div>
</div>
