<div class="tipntest">

    <h1 style="text-transform: uppercase;color:#e7b13e;">FILL SALES CALENDARS WITH QUALIFIED MEETINGS (New Proven Process)</h1>
    <h3>Organize and improve sales follow up using automated meeting requests, tagging and sales alerts</h3>
   <h3 style="font-weight: lighter; line-height: 20px;">Early bird gets the worm! If you reach out to a prospect within 5 minutes,<br> 
your chances of getting a meeting are 100 greater than if you waited for 30 minutes</h3>
    <qoute>source: LeadResponseManagement.org</qoute>
    <h3 style="display: none;">0% Conversion on Email Checkers</h3>
    <ol class="progressbar three">
       
        <li class="s1 crm-google"  style="top: 0;"><a><i class="icon" style="width: 80px;"><img alt="" src="<%- this.app.get('path')%>img/google-logo-g.png"></i><span>Google Import</span></a><div style="display: block;background: none repeat scroll 0 0 #f2f3f7;height: 25px;width: 262px;" class="schelpvid videobar tipntest-video tipntest-video-two">                                                       
                        <a rel="126554859" style="padding: 0px;float:none;"><img alt="" src="<%- this.app.get('path')%>img/play-g.png"><span >watch video</span></a>
                    </div></li>
        <li class="s2 new-alertbot" data-type="A"><a><i class="icon "><img alt="" src="<%- this.app.get('path')%>img/Sales_Alert_Bot.png"></i><span>Email Alert Bot</span></a><div style="display: block;background: none repeat scroll 0 0 #f2f3f7;height: 25px;width: 262px;" class="schelpvid videobar tipntest-video tipntest-video-two">                                                       
                        <a rel="126556920" style="padding: 0px;float:none;"><img alt="" src="<%- this.app.get('path')%>img/play-g.png"><span >watch video</span></a>
                    </div></li>
        <li class="s3 new-emailbot" data-type="E"><a><i class="icon "><img alt="" src="<%- this.app.get('path')%>img/Tag_Bot.png"></i><span>Email Bot</span></a><div style="display: block;background: none repeat scroll 0 0 #f2f3f7;height: 25px;width: 262px;" class="schelpvid videobar tipntest-video tipntest-video-two">                                                       
                        <a rel="126560515" style="padding: 0px;float:none;"><img alt="" src="<%- this.app.get('path')%>img/play-g.png"><span >watch video</span></a>
                    </div></li> 
    </ol>

    <div class="goalbar" style="display: none;">

        Awaiting Results (Complete above steps)

    </div>
</div>
