<% if(layout=='') { %>
<div style=" min-height:365px;"  class="clearfix template-container gray-panel">
  <div class="cont-box loginForm-container" style="top:30%;left:57%;">
    <div class="row uid-container">
      <label>User ID</label>
      <div class="inputcont">      	
           <input type="text" name="sf_userid" id="sf_userid" placeholder="Enter salesforce user id" class="uid" />
      </div>
      <!--<span id="sfuid_erroricon" class="erroricon"></span>-->
    </div>
    <div class="row pwd-container">
      <label>Password</label>
      <div class="inputcont">      	
      	<input type="password" name="sf_pwd" id="sf_pwd" placeholder=" " class="pwd" />
      </div>
      <!--<span id="sfpwd_erroricon" class="erroricon"></span>-->
    </div>
    <h5>Send synchronization confirmation email to:</h5>
    <div class="row email-container">
      <label>Email</label>
      <div class="inputcont">      	
      	<input type="text" name="sf_email" id="sf_email" placeholder="Enter email to send confirmation" class="email" />
      </div>
      <!--<span id="sfemail_erroricon" class="erroricon"></span>-->
    </div>
    <div class="row btnrow"><a id="btnTestLogin" class="btn-gray"><span>Test</span></a><a  class="btn-green btnSaveLogin"><span>Save</span><i class="icon save"></i></a></div>
    <div class="clearfix"></div>
  </div>
</div>
<% } else { %>

<div style=" position:static; margin:0;" class="cont-box row-fluid ">
    <div class="span6">
      <div class="row uid-container">
        <label>User ID</label>
        <div class="input-append adv_dd sort-options">
        <div class="inputcont ">
          <input type="text" class="header-info textfield"  name="sf_userid" id="sf_userid" placeholder="Enter salesforce user id" >
        </div>
    </div>

      </div>
      <div class="row pwd-container">
        <label>Password</label>
    <div class="input-append adv_dd sort-options">
      <div class="inputcont ">
      <input type="password" class="header-info textfield" name="sf_pwd" id="sf_pwd"  >
      </div>
    </div>                            </div>
    <div class="row btnrow"><a class="btn-green right btnSaveLogin"><span>Save</span><i class="icon save"></i></a> <a class="btn-blue right" id="btnTestLogin"><span>Test</span></a></div>
    </div>
    <div class="span6">
      <h5>Send synchronization confirmation email to:</h5>
      <div class="row email-container">
        <label>Email</label>
        <div class="input-append adv_dd sort-options">
          <div class="inputcont ">
            <input type="text" name="sf_email" id="sf_email" class="header-info textfield"  placeholder="Enter email to send confirmation">
          </div>
        </div>

     </div>
      <div class="row btnrow"><a class="btn-green right btnSaveLogin"><span>Save</span><i class="icon save"></i></a></div>
    </div>
    <div class="clearfix"></div>
</div>

<% } %>