<div class="selection-boxes create-temp">              
        <div style="width:auto; margin:0 5px;" class="messagebox info animated"><p>Choose one of the "<strong>Create</strong>" options from  below.</p></div>
        <ul id="choose_soruce">
            <li id="copy_campaign" class=""><a><img alt="" src="<%- this.app.get('path')%>img/copycampaign.png"><span>Copy Campaign</span></a></li>
            <li id="use_template" class=""><a><img alt="" src="<%- this.app.get('path')%>img/usetemplate.png"><span>Use Template</span></a></li>
            <li id="html_editor_mee" class="" style="position: relative"><a><img alt="" src="<%- this.app.get('path')%>img/img_mee.png"><span>Easy Editor</span></a><div class="ribbon-wrapper-red"><div class="ribbon-red">BETA</div></div></li>
            <li id="html_editor" class=""><a><img alt="" src="<%- this.app.get('path')%>img/htmleditor.png"><span>HTML Editor</span></a></li>            
            <li id="html_code" class=""><a><img alt="" src="<%- this.app.get('path')%>img/myhtml.png"><span>Hand Code HTML</span></a></li>
            <li id="plain_text" class=""><a><img alt="" src="<%- this.app.get('path')%>img/plaintext.png"><span>Plain Text</span></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>	  
    <div class="content-inner soruces"  id="area_copy_campaign" style="margin: 20px 0 0;display: none" >
        
    </div>
    <div class="soruces templates"  id="area_use_template" style="display: none" > 

    </div>
    <!--- --->
    <div class="content-inner soruces"  id="area_html_editor" style="margin: 20px 0 0;display: none" >
        <ul  class="mapTab tabs-btns clearfix" style="float:left;margin-top:8px;">
            <li class="active"><a data-toggle="tab" href="#editorhtml">HTML</a></li>
            <li><a  data-toggle="tab" href="#editortext">Text</a></li>
        </ul>
        <% if(this.editable===true) { %>
        <a class="btn-green right save-step2" style=" margin-left:5px;margin-top:2px;"><span>Save message body</span></a>
        <% } %>
        <div class="input-append adv_dd sort-options right step2-mergefields" style="width:325px;margin-left:10px" >
            <div class="inputcont "><input type="text"  id="image_url" placeholder="Image's  Public URL" style="padding-right: 67px !important;
width: 244px;" ></div>
            <div class="btn-group">
                <button tabindex="-1" data-toggle="dropdown" id="btn_image_url" class="btn dropdown-toggle showtooltip" style="margin-top:-3px auto;" title="Click for image URL"> 
                    <span class="icon _graphics left" style="margin:0px auto;"></span> <span class="caret right"></span> </button>
            </div>
        </div>
        
        <div class="input-append adv_dd sort-options right step2-mergefields" style="width:325px; " id="merge_field_plugin-wrap">
            <div class="inputcont "><input type="text" class="bms-input-tags" id="merge-field-editor" placeholder="Merge Tags" ></div>
            <div class="btn-group">
                <button tabindex="-1" data-toggle="dropdown" id="" class="btn dropdown-toggle open mergefields-box showtooltip" title="Use Merge Tags"> <span class="icon mergeicon"></span> <span class="caret"></span> </button>
            </div>
        </div>
  
        <div class="clearfix"></div>
        <div class="tab-content" style="padding:0px;">
            <div id="editorhtml" class="tab-pane active">
                <div class="textdiv" style="display: none;">
                    <div class="textarea_box" style="margin-top:0px;">
                        <div class="editorbar">
                            <a class=" btn-blue editorbtn editorbtnshow showtooltip" title="Show Editor" style="right: 3px;top: 2.5px;">
                                <i class="icon"></i>
                            </a>
                        </div>          
                    </div>
                    <textarea id="htmlarea" style="min-height:100px;margin:0px;" placeholder="Enter HTML..." ></textarea>
                </div>
            </div>
            <div id="editortext" class="tab-pane">
                <textarea name="content" id="bmstexteditor" class="editor-text" style="width:98%;margin-bottom:0px" placeholder="Enter Text only version..."></textarea>
            </div>
        </div>    
    </div>
    <!-- content-inner   -->
    <div class="content-inner soruces"  id="area_html_editor_mee" style="margin: 20px 0 0;display: none" >
        <div id="mee_editor" class="MEE_EDITOR"></div>
    </div>
    <div class="content-inner soruces"  id="area_html_code" style="margin: 20px 0 0;display: none" >
        <% if(this.editable===true) { %>
        <a class="btn-green right save-step2" style=" margin-left:5px;margin-top:2px;"><span>Save message body</span></a>
        <% } %>
        <div class="input-append adv_dd sort-options right step2-mergefields" style="width:325px" id="merge_field_plugin-wrap-hand">
            <div class="inputcont "><input type="text" class="bms-input-tags" id="merge-field-hand" placeholder="Merge Tags" ></div>
            <div class="btn-group">
                <button tabindex="-1" data-toggle="dropdown" id="" class="btn dropdown-toggle open mergefields-box"> <span class="icon mergeicon"></span> <span class="caret"></span> </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="textarea_box">
            <div class="editorbar"></div>          
        </div>
        <textarea class="html-text" id="handcodedhtml" style="min-height:100px;margin-top:0px;" placeholder="Your HTML goes here..." ></textarea>
        <div class="clearfix"></div>
    </div>

    <div class="content-inner soruces"  id="area_plain_text" style="margin: 20px 0 0;display: none" >
        <% if(this.editable===true) { %>
        <a class="btn-green right save-step2" style=" margin-left:5px;margin-top:2px;"><span>Save message body</span></a>
        <% } %>
        <div class="input-append adv_dd sort-options right step2-mergefields" style="width:325px" id="merge_field_plugin-wrap-plain">
            <div class="inputcont "><input type="text" class="bms-input-tags" id="merge-field-plain" placeholder="Merge Tags" ></div>
            <div class="btn-group">
                <button tabindex="-1" data-toggle="dropdown" id="" class="btn dropdown-toggle open mergefields-box"> <span class="icon mergeicon"></span> <span class="caret"></span> </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="textarea_box">
            <div class="editorbar"></div>          
        </div>
        <textarea placeholder="Your Plain Text goes here..." style="min-height:100px;margin-top:0px;" id="plain-text" class="html-text"></textarea>
        <div class="clearfix"></div>
    </div>
    <!-- content-inner   --> 