
<td width="100%">
    <div>
         <div class="name-type">
             <h3>
                 <a class="campname-copy show-detail showtooltip <%= this.getFlagClass().editClass %>" title="Click to preview"> <%= this.model.get('name')%> </a>
                 <a class="cstatus cflag showtooltip <%= this.getFlagClass().flag_class %>"><%= this.getCampStatus().status %></a><%= this.getFlagClass().chartIcon %></h3>  
                 <div class="tags tagscont">
                     <%= this.app.showTags(this.model.get('tags')) %>
                 </div>
         </div>
    </div>
</td>
<td width="90px">
   <% if(this.model.get('status')!== 'D'){ %>
   <div>
       <div class="subscribers" style="min-width:60px"><strong><span><em>Sent</em><%= this.model.get('sentCount') %></span></strong></div>
       <% }%>
       
   </div>
</td>

<td width="140px">
    <div>
        <div style="width:105px" class="time">
            <% if(model.get('status')==='S' || model.get('status')==='P') {%>
            <strong style="padding: 0 10px 0 35px;background-position: 8px 19px;"><span><em><%= this.getTimeShow().dtHead %></em><%= this.getTimeShow().dateTime %></span></strong>
            <% }else{ %>
            <strong ><span><em><%= this.getTimeShow().dtHead %></em><%= this.getTimeShow().dateTime %></span></strong>
            <% } %>
         </div>
        <div class="slide-btns <% if(this.editable===false){print('two s-clr3')}else{print('three s-clr4')}%>" id="<%= this.model.get('campNum.encode') %>">
           <span class="icon setting"></span>
            <div>                               
                   <% if(this.editable) {%> 
                   <a class="icon copy-camp copy clr3"><span>Copy</span></a> 
                   <a class="icon preview-camp-copy preview clr2"><span>Preview</span></a>
                   <a class="icon delete-camp-copy delete clr1"><span>Delete</span></a>                                 	                                 
                   <% }else{%>
                   <a class="icon preview-camp-copy preview clr2"><span>Preview</span></a>
                   <a class="icon delete-camp-copy delete clr1"><span>Delete</span></a>                                 	              
                   <% }%>
               </div>
               </div>   
        </div>
    </div>
</td>