<td width="50px">
    <div class="single-oneOone letter_block l_<%- this.getFirstAlphabet().toLowerCase() %>" >
                                                       <span><%- this.getFirstAlphabet() %></span>
                                                    </div>
                                                    
</td>
<td width="">
    <div>
         <div class="name-type">
              
                <h3>
                    
                         <a class="scheduleOpn-camp show-detail showtooltip " title="Click to view"> <%= this.model.get('firstName')%> <%= this.model.get('lastName')%> </a>
                    
                    <i class="icon contact-name"></i></h3>  
                 <a class="email"><%= this.model.get('email') %></a>
         </div>
    </div>
</td>
<td width=""><div>
                        <div class="colico subject"> 
                        				<div class="percent_stats email_status"> 
                                        
                                            <a class="icon metericon  pageview showtooltip" data-list="" style="margin:0px!important;"> </a>  
                                        </div>
                            <strong style="padding:5px 10px 5px 45px;"><span><em style="margin: 0px 0px 0px -40px;">Subject</em><a class="oto-subject"><%= this.model.get('subject')%></a></span></strong> 
                        </div>
                      </div>
</td>

                              
<td width="90px">
   <% if(this.model.get('isOpen')){ %>
   <div>
       <div class="time">
           <strong><span><em>Open Date</em><%= this.getTimeShow().dtOpen %></span></strong>
       </div>
       <% }%>     
   </div>
</td>
<td width="90px"><div>
                              
                              	
                                <div style="" class="colico time ">
                                <strong><span><em>Sent Date</em><%= this.getTimeShow().dateTime %></span></strong>
                               </div>
                               
                                
                              </div></td>
<td width="132px">
    <div>
        <div style="width:105px" class="colico messages">
            <strong><span><em>Messages</em><%= this.model.get('subscriberMessageCount')%></span></strong>
        </div>
        <div class="slide-btns three s-clr4">
              <span class="icon setting"></span>
              <div>                 
               <a class="icon preview-camp preview clr3"><span>Preview</span></a>  
               <a class="icon copy-camp copy clr2"><span>Copy</span></a> 
               <a class="icon sendmail clr1"><span>Send Email</span></a>

      
               </div>   
        </div> 
        
    </div>
</td>


