<td width="100%">
        <div>
            <div class="name-type">
                <h3><a   class="view-profile"><%=this.getFullName()%></a> 
                </h3>
               <%if(this.model.get('salesStatus') !=""){%> <a class="statusdd color2 salestatus"><%=this.model.get('salesStatus')%> </a><%}%>
                <div class="tags tagscont">
                    <ul>
                       <% _.each(this.model.get('tags').split(","),function(t){ %>  
                            <li><a  class="tag"><%- t %></a> </li>
                        <% })%> 
                    </ul>
                </div>
            </div>
        </div>
</td>
<td width="90px">
    <div>
        <div class="colico open">
            <strong><span><em>Open</em><%=this.model.get('subscriptionData')[0].openCount%></span></strong>
        </div>
    </div>
</td>
<td width="90px">
    <div>
        <div class="colico click">
            <strong><span><em>Clicks</em><%=this.model.get('subscriptionData')[0].clickCount%></span></strong>
        </div>
    </div>
</td>
<td width="90px">
    <div>
        <div class="colico pgview">
            <strong><span><em>Page Views</em>
                    <% if(this.model.get('subscriptionData')[0].pageViewsCount !="0") { %>
                    <a class="show-page-view" data-id="<%=this.model.get('subNum.encode')%>"><b data-id="<%=this.model.get('subNum.encode')%>"><%=this.model.get('subscriptionData')[0].pageViewsCount%></b></a>
                    <% } else { %>
                    <b><%=this.model.get('subscriptionData')[0].pageViewsCount%></b>
                    <% } %>
                </span></strong>
        </div>
    </div>
</td>
<td width="132px">
    <div>
        <div style="width:105px" class="time show">
             <strong><span><em>Subscribed on</em><%=this.options.app.dateSetting(this.model.get('creationDate'),"-")%></span></strong> 
        </div>
    </div>
</td>