<div class="temp-filters clearfix" style="margin-right:45px;">
    <h2 id="total_contacts"><strong class="badge">Loading...</strong> <span>Contacts</span></h2>
    <div style=" " class="srt-div">
      <div class="template-filter" style="display: none"> <strong class="sort">Sort</strong>
          <span class="sortoption"><span>Featured </span><b class="caret"> </b></span>
        
           <ul style="display:none;" class="breadcrumb template_search_menu" id="template_search_menu">
            <li class="active showtooltip"><a tabindex="-1" data-search="SS">Subscribed</a></li>
            <li class=" "><a tabindex="-1" data-search="US">Unsubscribed</a></li>
            <li class=" "><a tabindex="-1" data-search="SP">Suppressed</a></li>
            <li class=" "><a tabindex="-1" data-search="BN">Bounced</a></li>
          </ul>
        </div>
      <% if(this.options.type=="webform") { %>  
        <div class="since"> <span class="calendericon"><i class="icon calender left"></i><b class="caret right"></b></span>
            <input type="text" id="daterange" placeholder="Select date" />
            <a style="" id="clearcal" class="close-icon"></a>
       </div>  
      <% } %>
      <div class="input-append search" id="">         
      <span class="icon subscribers"></span>
      <input type="text" style="width:;" class="search-control show-image" placeholder="Search contacts" id="contacts_search">
      <a style="display:none" id="clearsearchcontact" class="close-icon"></a>
      <div class="btn-group">
          <button id="searchbtn" class="searchbtn" tabindex="-1">
              <span class="icon-search icon-white"> 				
              </span></button>
      </div>
      </div>
        <!--  search  --> 
    </div>
</div>
<div class="clearfix"></div>
<div class="stats_listing">
    <div class="bmsgrid">
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: ;">
            <table border="0" cellspacing="0" cellpadding="0" id="table_pageviews">
                <tbody>

                </tbody>
            </table>
            <div class="iDiv" style="display: none;"></div>
        </div>
    </div>
</div><!-- stats_listing  --> 
