<div id="area_create_template" style="display: block;" class="content-inner soruces">        
    <div class="templateimg" style="display:none;"><!-- Need to be removed later -->
        <div class="droppanel">
            <h4><img alt="" src="<%- this.app.get('path')%>img/droparrow.png">
                <br class="clearfix">
                Drag and drop an image</h4>
            <img src="" style="width:150px;height:150px;display:none" /></div>
        <div class="SI-FILES-STYLIZED" style="display:inline-block;position:relative;">
            <!--<label style="width:154px;" class="cabinet">
                 <input type="button" id="file_control" name="file" class="file">
               </label>
               <a href="" class="btn-blue g-btn" id="list_file_upload"><span>Browse Photo </span><i class="icon update"></i></a>-->
            <a class="btn btn-blue btn-opengallery right" style="display: inline;width: 170px;">
                <span>Browse Images</span>
                <i class="icon update"></i>
            </a>
        </div>

    </div>    <!-- Need to be removed later -->

    
    <div class="template-wrap">
        <div class="left-wrap">
            <div class="templateimg left">
                <div class="droppanel editor-new-template"><h4><img alt="" src="<%- this.app.get('path')%>img/imgiconb-w.png"><br class="clearfix">Drag images here to upload</h4><img src="" style="width:150px;height:150px;display:none">
                    <div class="SI-FILES-STYLIZED" style="display:inline-block;position:relative;">
                        <!--<label style="width:154px;" class="cabinet">
                             <input type="button" id="file_control" name="file" class="file">
                           </label>
                           <a href="" class="btn-blue g-btn" id="list_file_upload"><span>Browse Photo </span><i class="icon update"></i></a>-->
                        <a class="btn btn-blue btn-opengallery right" style="display: inline;position: relative;top: 5px;width: 165px;">
                            <span>Browse Images</span>
                            <i class="icon update"></i>
                        </a>
                    </div>
                </div>



            </div>
        </div> <!-- # LEFT - Wrap-->
        <div class="right-wrap">
            <div class="bot_p_boxinner editor-new-template-filter-wrap">
                <div class="pre_row common-filter">
                    <div class="filt_cont">
                        <span class="filt" style="width:46px">Category</span>
                        <div style="display: inline-block;position: relative;float:left;">
                            <div class="block-mask"></div>
                            <input type="text" value="" style="width: 200px;" class="category-input">
                        </div>
                        <a class="btn-green left editor-new-template-category-icon add-cat"><i class="icon plus left showtooltip" data-original-title="Add Category"></i></a>
                        <!--<input type="text" value="3" style="width: 200px;">
                        <a style="display: inline;margin-top: 2px;" class="btn btn-green left btn-save filter-save"><span>Save</span><i class="icon save"></i></a>-->
                    </div>    
                </div> <!--  pre_row  -->
                <div class="pre_row common-filter">
                    <div class="filt_cont">
                        <input type="checkbox" class="checkpanel featured" value=""/>
                        <span class="filt"><span style="margin: -4px 0px;" class="icon star  left"></span>Featured</span>
                    </div>    
                </div> <!--  pre_row  -->
                <div class="pre_row common-filter">
                    <div class="filt_cont">
                        <input type="checkbox" class="checkpanel mobile-comp" value=""/>
                        <span class="filt"><span class="icon mobile active left" style="margin: -2px 0px;"></span>Mobile Compatible</span>
                    </div>    
                </div> <!--  pre_row  -->
            </div> <!-- #Right Filter -->

        </div>
    </div>

    <div class="templatecat" style="display:none;">
        <label> Category</label>        
        <div class="iconpointy">
            <a class="btn-green"><i class="icon plus left add-cat showtooltip" title="Add Category" ></i></a>        
        </div>        
    </div>
    <div class="clearfix"></div>
    <div class="merge-fields-wrapper" style="position: relative;top: 32px;">
        <div id="merge_field_plugin-wrap" style="float:left;"></div>
        <!-- Image Gallery  -->
        <div class="input-append adv_dd sort-options right step2-mergefields" style="width:325px;margin-left:10px">
            <div class="inputcont "><input type="text"  id="image_url" placeholder="Image's  Public URL" style="padding-right: 67px !important;
                                           width: 244px;" ></div>
            <div class="btn-group">
                <button tabindex="-1" data-toggle="dropdown" id="btn_image_url" class="btn dropdown-toggle showtooltip" title="Click for image URL" style="margin-top:-3px auto;"> 
                    <span class="icon _graphics left" style="margin:0px auto;"></span> <span class="caret right"></span> </button>
            </div>
        </div>
        <!-- End Image Gallery -->
    </div>
    <div class="clearfix"></div>
    <div class="tabpanel-wrapper">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul id="myTab" role="tablist" class="left nav nav-tabs">
                <li class="active MEE-Editor" role="presentation"><img class="left" src="<%- this.app.get('path')%>img/mee-w.PNG" /><a data-toggle="tab" role="tab" aria-controls="area_html_editor_mee" href="#area_html_editor_mee">Easy Editor</a></li>
                <li role="presentation" class="tinymce-editor"><img class="left" src="<%- this.app.get('path')%>img/tiny-w.PNG" /><a data-toggle="tab" role="tab" aria-controls="Tiny" href="#Tiny">HTML Editor</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="clearfix"></div>
                <div id="area_html_editor_mee" class="tab-pane active" role="tabpanel">
                    <div id="mee_editor" class="MEE_EDITOR"></div>
                </div>
                <div id="Tiny" class="tab-pane" role="tabpanel">

                    <div style="margin:0px 5px 0 0;clear:both;" class="content-inner">
                        <div class="">
                            <!--<label style=" width:140px">Paste your HTML here</label>-->    
                            <form action="somepage" method="post">
                                <textarea style="width:100%; min-height:100px;" name="content" id="bmseditor_template"></textarea>
                            </form>                            
                        </div>
                    </div>  
                </div>
            </div>

        </div>
    </div>
    <!-- End of Tabpanel -->

    <div class="clearfix"></div>

</div>